/* 2022.03 削除 未使用 */
/*::ng-deep .eim-tag-creator-property-panel .ui-panel-content-wrapper {
	height: 100%;
}*/

::ng-deep .eim-tag-creator-property-panel .p-panel-content {
	height: 100%;
}
/* 2022.03 削除 プロパティタブの右罫線が欠けるため
::ng-deep .p-tabs.p-component.ui-widget-content.ui-corner-all.ui-tabview-top{
	margin-right: -3px !important;
}*/

::ng-deep .padding-top-set eim-checkbox  {
	padding-top:2px;
}
/* 2022.03 新規 */
::ng-deep eim-tag-creator > form.p-grid {
	padding: 3px;
}