<div style="height: 100%;">
	<p-tabs #entryTabView [value]="0" (valueChange)="onChangeTab($event)">
		<p-tablist>
			<p-tab [value]="0">{{ 'EIM_ADMINS.LABEL_02078' | translate }}</p-tab>
			<p-tab [value]="1">{{ 'EIM_ADMINS.LABEL_02081' | translate }}</p-tab>
			<p-tab [value]="2">{{ 'EIM_ADMINS.LABEL_02085' | translate }}</p-tab>
		</p-tablist>
		<p-tabpanels>
			<!-- グループ タブ画面 -->
			<p-tabpanel [value]="0">
				<div style="padding:5px; height: 100%">
					<as-split direction="horizontal">
						<as-split-area [size]="splitSetting.groupSplitLeft.size">
							<form (ngSubmit)="onSearch()" style="height: 100%;" autocomplete="off">
								<div class="eim-admin-left-panel" style="height: 100%;" >
									<div style="height: 100%;" eim-vertical-container>
										<div *ngIf="displayAccordionNum === 0" class="eim-form-item">
											<label class="eim-form-label" style="min-width: 90px;">{{ 'EIM_ADMINS.LABEL_02077' | translate }}</label>
											<div style="width: 100%;">
												<input name="searchGroupName" required="false" style="width: 80%; float: left; margin-right: 5px;" pInputText [(ngModel)]="searchGroupName" maxlength="{{inputMaxLength}}"/>
												<button pButton icon="fa-fw eim-icon-search" type="button" class="p-button-primary" style="float: left;"
													pTooltip="{{ 'EIM.LABEL_03007' | translate }}" (click)="onSearch($event)"></button>
											</div>
										</div>
										<div class="eim-data-grid-menu" >
											<eim-menubar [model]="groupMenuItems"></eim-menubar>
										</div>
										<div *ngIf="displayAccordionNum === 1" class="eim-flexible-height">
											<eim-tree #groupTree [componentService]="treeComponentService" [equals]="equals" (selected)="onSelectedGroup($event)"
												[contextMenuItems]="groupContextMenuItems">
											</eim-tree>
										</div>
										<div *ngIf="displayAccordionNum === 0" class="eim-flexible-height">
											<eim-data-grid #groupDataGrid class="eim-group-list" [multiple]="false" [equals]="userGroupRoleDataGridEquals" (selected)="onSelectedGroup($event)"
												[contextMenuItems]="groupContextMenuItems">
											</eim-data-grid>
										</div>
									</div>
								</div>
							</form>
						</as-split-area>
						<as-split-area [size]="100 - splitSetting.groupSplitLeft.size">
							<div class="eim-admin-right-panel" style="height: 100%;">
								<form (ngSubmit)="onClickFilter()" style="height: 100%;" autocomplete="off">
									<div style="height: 100%;" eim-vertical-container>
										<div *ngIf="displayAccordionNum === 0" class="eim-form-item">
											<label class="eim-form-label"style="width: 80px" >{{ 'EIM_ADMINS.LABEL_02016' | translate }}</label>
											<div style="width: 100%;">
												<input name="filterUserName" required="false" style="width: 30%; float: left; margin-right: 5px;" pInputText [(ngModel)]="filterUserName" maxlength="{{inputMaxLength}}"/>
												<button pButton icon="fa-fw eim-icon-filter" type="button" class="p-button-primary" style="float: left;" pTooltip="{{ 'EIM_ADMINS.LABEL_03041' | translate }}" (click)="onClickFilter()"></button>
											</div>
										</div>
										<div class="eim-data-grid-menu" >
											<eim-menubar [model]="groupUserMenuItems"></eim-menubar>
										</div>
										<div class="eim-flexible-height">
											<eim-data-grid #groupUserDataGrid [multiple]="false" [equals]="userGroupRoleDataGridEquals" (selected)="onSelectedGroupUser()">
											</eim-data-grid>
										</div>
									</div>
								</form>
							</div>
						</as-split-area>
					</as-split>
				</div>
			</p-tabpanel>

			<!-- ロール タブ画面 -->
			<p-tabpanel [value]="1">
				<div style="padding:5px; height: 100%">
					<as-split direction="horizontal">
						<as-split-area id="roleSplitLeft" [size]="splitSetting.roleSplitLeft.size" style="height: 100%;">
							<form (ngSubmit)="onSearch()" style="height: 100%;" autocomplete="off">
								<div style="height: 100%;" class="eim-admin-left-panel" eim-vertical-container>
									<div class="eim-data-grid-menu" >
										<eim-menubar [model]="roleMenuItems"></eim-menubar>
									</div>
									<div class="eim-flexible-height">
										<eim-tree #roleTree [componentService]="treeComponentService" [equals]="equals" (selected)="onSelectedRole($event)"
											[contextMenuItems]="roleContextMenuItems">
										</eim-tree>
									</div>
								</div>
							</form>
						</as-split-area>
						<as-split-area [size]="100 - splitSetting.roleSplitLeft.size">
							<div style="height: 100%; " class="eim-admin-right-panel" eim-vertical-container>
								<div class="eim-data-grid-menu" >
									<eim-menubar [model]="roleUserMenuItems"></eim-menubar>
								</div>
								<div class="eim-flexible-height">
									<eim-data-grid #roleUserDataGrid [multiple]="false" [equals]="userGroupRoleDataGridEquals" (selected)="onSelectedRoleUser()">
									</eim-data-grid>
								</div>
							</div>
						</as-split-area>
					</as-split>
				</div>
			</p-tabpanel>

			<!-- 複合グループ タブ画面 -->
			<p-tabpanel [value]="2">
				<div style="padding:5px; height: 100%">
					<as-split direction="horizontal">
						<as-split-area [size]="splitSetting.complexGroupSplitLeft.size" [ngStyle]="{'overflow': 'hidden'}">

							<div style="height: 100%;" class="eim-admin-left-panel" eim-vertical-container>
								<div class="eim-data-grid-menu" >
									<eim-menubar [model]="compGroupMenuItems"></eim-menubar>
								</div>
								<div class="eim-flexible-height">
									<eim-tree #complexGroupTree [componentService]="treeComponentService" [equals]="equals" (selected)="onSelectedCompGroup($event)"
									[contextMenuItems]="compGroupContextMenuItems">
									</eim-tree>
								</div>
							</div>
						</as-split-area>
						<as-split-area [size]="100 - splitSetting.complexGroupSplitLeft.size">
							<div style="height: 100%;" class="eim-admin-right-panel" eim-vertical-container>
								<div class="eim-data-grid-menu" >
									<eim-menubar></eim-menubar>
								</div>
								<div class="eim-flexible-height">
									<eim-data-grid #compGroupUserDataGrid [multiple]="false" [equals]="userGroupRoleDataGridEquals" (selected)="onSelectedCompGroupUser()"></eim-data-grid>
								</div>
							</div>
						</as-split-area>
					</as-split>
				</div>
			</p-tabpanel>
		</p-tabpanels>
	</p-tabs>
</div>

