<div class="container eim-header" style="font-size: 12px;">
	<div class="eim-header-separator-line"></div>

	<div class="logo">
		<img [src]="logoSrc" class="logo-icon">
	</div>
	<div *ngIf="headerLabel" class="eim-header-label">{{headerLabel}}</div>
	<div class="contents"  >

		<div class="menu">
			<!-- 更新ボタン -->
			<span *ngIf="!headerLabel"  style="float: right; margin-right: 5px; margin-top: 3px;">
				<button pButton class="p-button-primary eim-refresh-button" type="button" icon="fa fa-lg eim-icon-refresh" [disabled]="reloadDisabled" [pTooltip]="updateLatestTooltip" [tooltipStyleClass]="headerTooltipClass" (click)="onUpdateLatest($event)"></button>
			</span>

			<!-- 設定メニュー -->
			<span class="eim-header-flex-menu eim-header-configuration-menu" style="display: inline-block; float: right; margin-right: 5px;">
				<eim-menubar [model]="configurationMenuItems" ></eim-menubar>
			</span>

		</div>

		<div class="info">
			<!-- 個人メニュー -->
			<span *ngIf="user.userName != ''" class="eim-header-flex-menu eim-header-personal-menu" style="display: inline-block; float: right;">
				<eim-menubar [model]="personalMenuItems"></eim-menubar>
			</span>

			<!-- グループ -->
			<span *ngIf="user.groupPath != ''" class="eim-group-path" >
				<span class="eim-group-path-inner" style="float: right;" [pTooltip]="user.groupPath">
					{{user.groupPath}}
				</span>
				<i class="fa fa-lg eim-icon-group" style="float: right; margin-right: 5px; margin-top: 2px;"></i>
			</span>
		</div>

	</div>
	<div class="clear"></div>
</div>
