/* ==========================================================================

   ========================================================================== */
div.container {
  width: 100%;
  background-color: #ffffff;
  color: #dddddd;
}

/** ヘッダ上部区切り線 */
div.eim-header-separator-line {
	height: 5px;
	background: linear-gradient(135deg, #325EE8, #00D9FF, #A8EB4A, #339E00, #00D9FF, #325EE8);
}

div.contents {
  float: right;
  font-size: 12px;
  padding-top: 6px;
  color: #000000;
  width: calc(100% - 270px);
}

div.clear {
  clear:both;
}

/* ==========================================================================
   ロゴ
   ========================================================================== */
div.logo {
  float: left;
  height: 35px;
  padding-left: 8px;
  padding-top: 3px;
}

.logo-icon {
  background-size: contain;
  height: 35px;
}

/* ==========================================================================
   ヘッダー
   ========================================================================== */
.eim-header-label {
	position: fixed;
	padding-left: 180px;
	padding-top: 10px;
	color: #333;
}

.eim-group-path {
  margin-top: 2.5px;
	margin-bottom: 2.5px;
  padding-top: 3px;
  border-top: 1px;
  border-bottom: 1px;
  vertical-align: middle;
  float: right;
	width: calc(100% - 170px - 140px - 35px	);
}

.eim-group-path-inner {
	display: inline-block;
	overflow: hidden;
	max-width: calc(100% - 25px);
	white-space: nowrap;
	text-overflow: ellipsis;
}

/** メニュー共通 */
::ng-deep .eim-header-flex-menu .p-menubar .p-menubar-submenu .p-menubar-item {
	margin: .125em 0;
}

::ng-deep .eim-header-flex-menu .p-menubar .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link {
	padding: 3px;
}

::ng-deep .eim-header-flex-menu .p-menubar .p-menubar-item:not(.p-disable) > .p-menubar-item-content:hover {
	background: #a8e8fd;
	color: #005CEB;
	border-radius: 0px;
	min-width: 30px;
}
::ng-deep .eim-header-flex-menu .p-menubar .p-menubar-item.p-menubar-item-active > p-menubarsub .p-menubar-item-link {
	color: #555555;
}

/** 個人メニュー */
/* .eim-header-personal-menu {
	width: auto;
	padding-top: 3px;
} */

::ng-deep .eim-header-personal-menu eim-menubar p-menubar p-menubarsub  span.p-menubar-item-label {
	overflow: hidden;
	max-width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}

/* ::ng-deep span.eim-header-flex-menu.eim-header-personal-menu > eim-menubar > p-menubar > div > p-menubarsub > ul > li.ui-menuitem.ui-widget.ui-corner-all.ui-menu-parent > p-menubarsub > ul {
	margin-top: -4px;
} */

/** 個人メニューのサブメニュー 見切れ対応 */
/* ::ng-deep span.eim-header-flex-menu.eim-header-personal-menu > eim-menubar > p-menubar > div > p-menubarsub > ul > li.ui-menuitem.ui-widget.ui-corner-all.ui-menu-parent > p-menubarsub > ul a > span.ui-menuitem-icon {
	padding-top: 3px;
	padding-bottom: 3px;
} */

/* ::ng-deep span.eim-header-flex-menu.eim-header-personal-menu > eim-menubar > p-menubar > div > p-menubarsub > ul > li.ui-menuitem.ui-widget.ui-corner-all.ui-menu-parent > p-menubarsub > ul a > span.ui-menuitem-text {
	padding-top: 3px;
	padding-bottom: 3px;
} */

/* ::ng-deep span.eim-header-flex-menu.eim-header-personal-menu > eim-menubar > p-menubar > div > p-menubarsub > ul > li.ui-menuitem.ui-widget.ui-corner-all.ui-menu-parent > p-menubarsub > ul a {
	min-width: 0;
} */

/** 個人メニュー 見切れ対応 */
/* ::ng-deep span.eim-header-flex-menu.eim-header-personal-menu > eim-menubar > p-menubar > div > p-menubarsub > ul > li.ui-menuitem.ui-widget.ui-corner-all.ui-menu-parent > a {
	margin-top: -1px;

} */

/* ::ng-deep span.eim-header-flex-menu.eim-header-personal-menu > eim-menubar > p-menubar > div > p-menubarsub > ul > li.ui-menuitem.ui-widget.ui-corner-all.ui-menu-parent > a > span.ui-menuitem-text {
	padding-top: 3px;
	padding-bottom: 3px;
} */


/** 設定メニュー */
.eim-header-flex-menu-setting {
	padding-top: 7px;
	margin-top: -3px;
}

/** メニュー */
::ng-deep .eim-header-flex-menu p-menubar > .p-component {
  background: none;
}

::ng-deep .eim-header-flex-menu p-menubar > .p-menubar {
  padding: 0px;
  border: none;
  z-index: 1000!important;
  position: relative!important;
}

::ng-deep .eim-header-flex-menu  .p-menubar .p-menubar-root-list > .p-menubar-item {
  border: none;
}

::ng-deep .eim-header-flex-menu  .p-menubar .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > a {
  color: #000000;
  min-width: 30px;
}

/** フォントサイズ */
::ng-deep .eim-header {
  font-size: 12px!important;
  height: 45px;
}
::ng-deep .eim-header .p-component {
  font-size: 12px!important;
}
::ng-deep .eim-header .ag-fresh {
  font-size: 12px!important;
}

/** リフレッシュボタン */
.eim-refresh-button.p-button.p-component {
	width: 24px;
	height: 24px;
	color: #dddddd;
	padding: 3px 6px;
}

/** メディアクエリ */
@media screen and (min-width: 1px) and (max-width: 650px) {
	.eim-header .contents .info {
		display: none;
	}
}

@media screen and (min-width: 1px) and (max-width: 450px) {
	.eim-header .contents .menu {
		display: none;
	}
}

/** 設定メニューを右寄せで表示 */
.eim-header-configuration-menu ::ng-deep p-menubarSub .p-menubar-submenu {
  max-width: 100vw;
  right: 0 !important;
  left: auto !important;
}

.eim-header-configuration-menu ::ng-deep p-menubarSub .p-menubar-submenu .p-menubar-submenu {
  right: 100% !important;
  left: auto !important;
}