<div style="height: 100%;display: grid;grid-template-rows: auto 1fr;">
	<!-- <eim-header class="header" [user]="user" [version]="version" [(font-size)]="fontSize" (changeFontSize)="onChangeFontSize($event)" [authenticationService]="authenticationService"></eim-header> -->
	<eim-task-header #taskHeader class="header" [user]="user" [version]="version" [(font-size)]="fontSize"
			(changeFontSize)="onChangeFontSize($event)" [authenticationService]="authenticationService"></eim-task-header>
	<div class="body" style="height: 100%;">
		<div style="height: 100%;">
			<router-outlet (activate)="taskHeader.onActivateMain($event)"></router-outlet>
		</div>

		<eim-message></eim-message>
		<eim-shared-dialog-manager></eim-shared-dialog-manager>
		<!-- TODO 仮でtask用のdialog-managerを作成して実装しているが、ダイアログ実装方式によっては削除 -->
		<eim-task-dialog-manager></eim-task-dialog-manager>
	</div>
</div>