<div class="eim-ui-widget" style="height: 110px;">
	<div id="cy" #cy></div>
	<label class="eim-diagram-title">{{info.diagramName}}</label>
	<div class="eim-diagram-action">
		<button pButton type="button" class="p-button-success" icon="fa fa-arrows" (click)="onClickFit()" pTooltip="{{ 'EIM.LABEL_03012' | translate }}"></button>
		<button pButton type="button" class="p-button-success" icon="fa fa-search-plus" (click)="onClickZoom(0.5)" pTooltip="{{ 'EIM.LABEL_03013' | translate }}"></button>
		<button pButton type="button" class="p-button-success" icon="fa fa-search-minus" (click)="onClickZoom(-0.4)" pTooltip="{{ 'EIM.LABEL_03014' | translate }}"></button>
	</div>
	<!-- <div *ngIf="enableEventHistory" class="eim-diagram-action-show-history">
		<button pButton class="p-button-success"
				label="{{displayEventHistory ? ('EIM_FORMS.LABEL_03019' | translate) : ('EIM_FORMS.LABEL_03019' | translate)}}"
				icon="{{displayEventHistory ? 'fa fa-lg fa-caret-up' : 'fa fa-lg fa-caret-down'}}" (click)="onClickShowEventHistory($event)"></button>
	</div> -->
</div>

<div *ngIf="displayEventHistory" style="width: 100%; height: 535px;">
	<eim-data-grid #eventHistoryGrid [multiple]="true" [showAllSelectButton]="false"></eim-data-grid>
</div>

<p-contextMenu *ngIf="showContextMenu" [target]="cy" [model]="contextMenuItems" appendTo="body"></p-contextMenu>
