<div style="height: 100%;">
	<form #securityCreatorForm="ngForm" class="p-grid" style="width: 100%; height: 100%;" autocomplete="off">
		<div style="width: 100%; height: 100%; padding-top: 0px; padding-left: 0px; padding-bottom: 0px;" eim-vertical-container>
			<div style="margin-bottom: 10px;">
				<div *ngFor="let lang of languages;" class="eim-form-item">
					<label class="eim-form-label eim-form-label-required" style="width: 40%;">{{ 'EIM_ADMINS.LABEL_02003' | translate:lang }}</label>
					<div class="eim-form-input">
						<input name="name_{{lang.lang}}" type="text"  pInputText [(ngModel)]="nameList[lang.lang]" required="true" maxlength="{{inputMaxLength}}" style="width: 95%;"/>
					</div>
				</div>

				<ng-container *ngIf="namespaceCreatable">
					<div class="eim-form-item">
						<label class="eim-form-label" style="width: 40%;">{{ 'EIM_ADMINS.LABEL_02064' | translate }}</label>
						<div class="eim-form-input">
							<p-select name="namespace" appendTo="body" [options]="namespaceItemList" placeholder="{{ 'EIM_ADMINS.LABEL_02065' | translate }}"
									[(ngModel)]="namespace" [autoWidth]="true" [style]="{'width':'95%'}"></p-select>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</form>
</div>
