<form #objectCreatorForm="ngForm" class="p-grid" style="width: 100%; height: 100%;" autocomplete="off">
	<div style="display: flex; width: 100%; height: 100%;">
		<div style="display: block; width: 35%" eim-vertical-container adjustedValue="5">
			<div>
				<label class="eim-form-label eim-form-label-required" style="white-space: nowrap;">{{ 'EIM.LABEL_02060' | translate }}</label>
			</div>
			<div class="eim-flexible-height">
				<eim-tree #objectTypeTree enableOpenOnSelect="true"
					[componentService]="objectTypeTreeComponentService"
					(selected)="onSelectObjectType()"></eim-tree>
			</div>
		</div>
		<div style="margin-left: 10px; width: 65%" eim-vertical-container adjustedValue="18">
			<!-- 名前 -->
			<div class="eim-form-item eim-narrow-margin-right">
				<label class="eim-form-label eim-form-label-required" style="width: 20%;">{{ 'EIM.LABEL_02002' | translate }}</label>
				<div class="eim-form-input">
					<input name="name" type="text" pInputText [(ngModel)]="name" [maxlength]="maxLength" style="width: 100%;" required="true"/>
				</div>
			</div>

			<!-- セキュリティ -->
			<div class="eim-form-item eim-narrow-margin-right">
				<label class="eim-form-label" style="width: 20%;">{{ 'EIM_OBJECT_EDITORS.LABEL_02007' | translate }}</label>
				<div class="eim-form-input" style="display: flex; width: 80%" >
					<div class="eim-form-input-default eim-form-input-for-search-and-clear" style="width: 100%">
						<div class="eim-form-input-text-for-search-and-clear">
							{{security.secName}}　<!-- 空白を入れないと削除時に1pxずれる -->
						</div>
						<div *ngIf="security.secName" align="right">
							<i class="fa fa-times" style="padding-right:5px;"  (click)="onClickSecurityDelete()"></i>
						</div>
					</div>
					<button pButton type="button" icon="fa fa-fw fa fa-external-link" severity="info" class="icon-only-button" style="margin-left: 5px; float: right;" pTooltip="{{ 'EIM.LABEL_03006' | translate }}"
						(click)="onClickSecuritySelect();" [disabled]="false"></button>
				</div>
			</div>
			<!-- 属性 -->
			<div class="eim-object-creator eim-flexible-height">
				<p-panel class="eim-panel-containing-grid">
					<div *ngIf="attributeList" class="eim-narrow-margin-right">
						<eim-attribute-list
							[form]="objectCreatorForm.form"
							[(attributes)]="attributeList">
						</eim-attribute-list>
					</div>
				</p-panel>
			</div>
		</div>
	</div>
</form>
