<div style="height: 100%;">
	<form #workflowRevupCreatorForm="ngForm" class="p-grid" style="width: 100%; height: 100%;" autocomplete="off">
		<div style="width: 100%; height: 100%; padding-top: 0px; padding-left: 0px; padding-bottom: 0px;" eim-vertical-container>
			<div style="margin-bottom: 10px;">
				<div class="eim-form-item">
					<label class="eim-form-label" style="width: 40%;">{{ 'EIM_ADMINS.LABEL_02238' | translate }}</label>
					<div class="eim-form-input">
						<input name="old_definition_name" type="text" pInputText [disabled]="true" [(ngModel)]="oldDefName" maxlength="{{inputMaxLength}}" style="width: 100%;"/>
					</div>
				</div>
				<div *ngFor="let lang of languages;" class="eim-form-item">
					<label class="eim-form-label" style="width: 40%;">{{ 'EIM_ADMINS.LABEL_02240' | translate:lang }}</label>
					<div class="eim-form-input">
						<input name="old_name_{{lang.lang}}" type="text" pInputText [disabled]="true" [(ngModel)]="oldNameList[lang.lang]" maxlength="{{inputMaxLength}}" style="width: 100%;"/>
					</div>
				</div>
				<div *ngIf="adminsCacheService.getAppId() === 'general'" class="eim-form-item">
					<label class="eim-form-label" style="width: 40%;">{{ 'EIM_ADMINS.LABEL_02064' | translate:lang }}</label>
					<div class="eim-form-input">
						<input name="input_namespace" type="text" pInputText [disabled]="true" [(ngModel)]="inputNamespace" maxlength="{{inputMaxLength}}" style="width: 100%;"/>
					</div>
				</div>

				<div class="eim-form-item">
					<label class="eim-form-label eim-form-label-required" style="width: 40%;">{{ 'EIM_ADMINS.LABEL_02239' | translate }}</label>
					<div class="eim-form-input">
						<input name="definition_name" type="text" required="true" pInputText [(ngModel)]="defName" maxlength="{{inputMaxLength}}" style="width: 100%;"/>
					</div>
				</div>
				<div *ngFor="let lang of languages;" class="eim-form-item">
					<label class="eim-form-label eim-form-label-required" style="width: 40%;">{{ 'EIM_ADMINS.LABEL_02241' | translate:lang }}</label>
					<div class="eim-form-input">
						<input name="name_{{lang.lang}}" type="text" required="true" pInputText [(ngModel)]="nameList[lang.lang]" maxlength="{{inputMaxLength}}" style="width: 100%;"/>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
