// ==========================================================================
//	eim-chips-for-selection
//
//    チップス入力部品表示用スタイル
//
//    <p-autocomplete class="eim-chips-for-selection">
//    </p-autocomplete>
// ==========================================================================
@use '_variables' as *;
@use 'input-for-selection' as *;

::ng-deep p-autocomplete.eim-chips-for-selection {
	display: flex;
	width: 100%;

	.p-autocomplete {
		height: 100%!important;
		width: 100%!important;

		/** 選択項目表示部分 */
		.p-autocomplete-input-multiple {
			@extend .eim-input-for-selection;
			display: inline-flex!important;
		}

		/** 選択エレメント */
		.p-autocomplete-chip-item {
			background: #0085FF;
			color: #E3F1FF;
			margin-top: 1px;
			margin-right: 3px;
			border-radius: 1px;
			border-color: #0085FF;
			border-width: 0.1px;
			padding: 3px 6px 1.5px 6px;
		}

		/** 文字入力欄（不要） */
		.p-autocomplete-input-chip {
			display: none;
		}
	}
}
/** 編集不可 */
::ng-deep p-autocomplete.eim-chips-for-selection.eim-disabled {
	.p-autocomplete-input-multiple {
		border: $eim-enabled-input-border;
		background: $eim-disabled-input-background!important;
	}
}

/** マウスオーバー */
::ng-deep p-autocomplete.eim-chips-for-selection:not(.eim-disabled):hover {
	.p-autocomplete {
		.p-inputtext {
			border: $eim-hovered-enabled-input-border;
		}
	}
}
