// ==========================================================================
//	eim-dropdown
//
//    PrimeNGのドロップダウン表示用スタイル
//
//    <p-select class="eim-dropdown">
//    </p-select>
// ==========================================================================
@use '_variables' as *;

::ng-deep p-select.p-select.eim-dropdown {
	display: flex;
	width: 100%;
	height: $eim-table-row-renderer-height;
	background: $eim-enabled-input-background!important;
	.p-select-label {
		background: transparent;
		height: 100%;
		display: block; // blockにしないと3点リーダが表示されない
		margin: -1px 0px;
	}
	.p-select-dropdown {
		background-color: #ffffff;
	}
}