// ==========================================================================
//	eim-tab-panel
//
//    PrimeNGのタブパネル表示用スタイル
//
//    <p-tabPanel class="eim-tab-panel">
//    </p-tabPanel>
// ==========================================================================
::ng-deep p-tabPanel.eim-tab-panel {
	width: 100%;
	height: 100%;
	display: grid;
	overflow-y: auto;

	div {
		width: 100%;
		height: 100%;
		position: relative;

		p-tree {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}
	}
}