// ==========================================================================
//	eim-tab
//
//    PrimeNGのタブ表示用スタイル
//
//    <p-tabView class="eim-tab">
//    </p-tabView>
// ==========================================================================
::ng-deep p-tabView.eim-tab {
	.p-tabpanels {
		overflow-y: auto;
	}
}