// ==========================================================================
//	eim-tree
//
//    EIMTreeのスタイル
//
//    <eim-tree class="eim-tree"></eim-tree>
//
//		ボーダーをなくす場合、eim-tree-no-borderを指定する
//    <eim-tree class="eim-tree eim-tree-no-border"></eim-tree>
//		例）パネルのコンテンツとしてツリーを設定する場合、パネルのボーダーとツリーのボーダーが重複しないようにする
//		<p-panel class="eim-stretched-panel eim-panel-content-fit" header="XXX">
//			<eim-tree class="eim-tree eim-tree-no-border"></eim-tree>
//		</p-panel>
//
// ==========================================================================
@use '_variables' as *;

::ng-deep eim-tree.eim-tree {
	width: 100%;
	height: 100%;
	> div {
		width: 100%;
		height: 100%;
		position: relative;

		p-tree {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			> .p-tree.p-component.p-tree-selectable {
				color: $eim-tree-color;
				font-weight: $eim-tree-font-weight;
				height: $eim-tree-height;
				width: $eim-tree-width;
				background: $eim-tree-background;
				border: $eim-tree-border;
				border-radius: $eim-tree-border-radius;
			}
			> .p-tree .p-tree-root-children .p-tree-node {
				padding: 0px;
				.p-tree-node-content {
					height: $eim-tree-row-height;
					display: flex;
					justify-content: center;
				}
				// マウスオーバー、有効（編集可）
				.p-tree-node-content.p-tree-node-selectable:not(.p-tree-node-selected):hover {
					color: $eim-hovered-enabled-tree-row-color;
					font-weight: $eim-hovered-enabled-tree-row-font-weight;
					background: $eim-hovered-enabled-tree-row-background;
				}
				// 選択
				.p-tree-node-content.p-tree-node-selected {
					color: $eim-selected-row-color;
					font-weight: $eim-selected-row-font-weight;
					background: $eim-selected-tree-row-background;
				}
			}
		}
	}
	.p-tree .p-tree-root-children .p-tree-node .p-tree-node-content .p-tree-node-icon {
		margin: $eim-label-icon-margin;
	}
}

// ボーダー非表示のスタイル
::ng-deep eim-tree.eim-tree.eim-tree-no-border {
	> div {

		p-tree {
			> .p-tree.p-component.p-tree-selectable {
				border: none;
			}
		}
	}
}

// ツリーの開閉ボタン非表示のスタイル
::ng-deep eim-tree.eim-tree.eim-tree-no-open-close-button {
	.p-tree .p-tree-root-children .p-tree-node .p-tree-node-content .p-tree-toggler {
		display: none;
	}
}
