<div style="height: 100%;">
	<div style="height: 35px; padding-bottom: 3px">
		<button pButton type="button" class="" label= "{{ 'EIM_DOCUMENTS.LABEL_03118' | translate }}"
			(click)="onClickNotfiedUser()" icon="fa-fw fa fa-external-link" style="float: right; margin-left: 5px;"></button>
	</div>
	<div style="height: calc(100% - 35px);">
		<div style="width: 100%; height: 200px;">
			<eim-contents-approve-workflow-diagram #workflowDiagram
					[componentService]="contentsApproveWorkflowDiagramComponentService"
					(selected)="onChangeDiagram($event);">
			</eim-contents-approve-workflow-diagram>
		</div>
		<div style="width: 100%; height: calc(100% - 200px);">
			<eim-data-grid #contensStatusPropertyGrid
				[equals]="equalsEventType"></eim-data-grid>
		</div>
	</div>
</div>