<form #statusUpdatorForm="ngForm" class="eim-form-wide" style="height: 100%;" autocomplete="off" novalidate>
	<as-split direction="vertical">
		<as-split-area [size]="splitAreaFirstSize" style="overflow-y: hidden;">
			<div *ngIf="status" style="overflow-y: auto; height: calc(100% - 5px);" class="eim-narrow-margin-bottom eim-narrow-margin-right">
				<div class="eim-form-item">
					<label class="eim-form-label">{{ 'EIM.LABEL_02027' | translate }}</label>
					<div class="eim-form-input">
						<input name="id" type="text" pInputText [ngModel]="status.id" [disabled]="true" style="width: 100%;"/>
					</div>
				</div>
				<div class="eim-form-item">
					<label class="eim-form-label">{{ 'EIM.LABEL_02019' | translate }}</label>
					<div class="eim-form-input">
						<input name="_type" type="text" pInputText [ngModel]="status.type.name" [disabled]="true" style="width: 100%;"/>
					</div>
				</div>
				<div class="eim-form-item">
					<label class="eim-form-label">{{ 'EIM_OBJECT_EDITORS.LABEL_02066' | translate }}</label>
					<div class="eim-form-input">
						<input name="creationUser" type="text" pInputText [ngModel]="status.creationUser.name" [disabled]="true" style="width: 100%;"/>
					</div>
				</div>
				<div class="eim-form-item">
					<label class="eim-form-label">{{ 'EIM_OBJECT_EDITORS.LABEL_02067' | translate }}</label>
					<div class="eim-form-input">
						<input name="creationDate" type="text" pInputText [ngModel]="status.creationDate" [disabled]="true" style="width: 100%;"/>
					</div>
				</div>
				<div class="eim-form-item">
					<label class="eim-form-label">{{ 'EIM_OBJECT_EDITORS.LABEL_02068' | translate }}</label>
					<div class="eim-form-input">
						<input name="modificationUser" type="text" pInputText [ngModel]="status.modificationUser.name" [disabled]="true" style="width: 100%;"/>
					</div>
				</div>
				<div class="eim-form-item">
					<label class="eim-form-label">{{ 'EIM_OBJECT_EDITORS.LABEL_02069' | translate }}</label>
					<div class="eim-form-input">
						<input name="modificationDate" type="text" pInputText [ngModel]="status.modificationDate" [disabled]="true" style="width: 100%;"/>
					</div>
				</div>
				<div class="eim-form-item">
					<label class="eim-form-label">{{ 'EIM_OBJECT_EDITORS.LABEL_02070' | translate }}</label>
					<div class="eim-form-input">
						<input name="base" type="text" pInputText [ngModel]="status.type.base.name" [disabled]="true" style="width: 100%;"/>
					</div>
				</div>
				<div class="eim-form-item">
					<label class="eim-form-label">{{ 'EIM_OBJECT_EDITORS.LABEL_02071' | translate }}</label>
					<div class="eim-form-input">
						<input name="sequence" type="text" pInputText [ngModel]="status.type.sequence" [disabled]="true" style="width: 100%;"/>
					</div>
				</div>
			</div>
		</as-split-area>
		<as-split-area [size]="100 - splitAreaFirstSize" style="overflow-y: hidden;">
			<div style="overflow-y: auto; height: calc(100% - 5px);" class="eim-narrow-margin-top eim-narrow-margin-right">
				<eim-attribute-list *ngIf="status"
					[form]="statusUpdatorForm.form"
					[(attributes)]="status.attributeList">
				</eim-attribute-list>
				</div>
		</as-split-area>
	</as-split>
</form>
