<div class="container" style="height:100%">
	<p-panel class="eim-panel-flat" header="{{ 'EIM_ADMINS.LABEL_02368' | translate }}">
		<span style="height: 100%; display: grid; grid-template-rows: auto 1fr;">
			<div class="eim-menubar-button">
				<eim-menubar [model]="dataGridMenuItems"></eim-menubar>
			</div>
			<!-- 業務役割一覧 -->
			<eim-tree-data-grid
					#objectRoleDataGrid
					(selected)="onSelectedRow($event)">
			</eim-tree-data-grid>
		</span>
	</p-panel>
</div>

<!-- 業務役割登録 -->
<eim-dialog header="{{ 'EIM_ADMINS.LABEL_01270' | translate }}" modal="true" width="675" contentMaxHeight="280"
	[fitHeight]="true"
	[visible]="viewDialogName === 'objectRoleCreator'"
	[enableMaximize]="false"
	(close)="onCloseDialog()"
>
	<eim-object-role-creator *ngIf="viewDialogName === 'objectRoleCreator'"
		(created)="onCreatedObjectRole($event)">

	</eim-object-role-creator>
</eim-dialog>

<!-- 業務役割更新 -->
<eim-dialog header="{{ 'EIM_ADMINS.LABEL_01266' | translate }}" modal="true" width="675" contentMaxHeight="280"
	[fitHeight]="true"
	[visible]="viewDialogName === 'objectRoleUpdator'"
	[enableMaximize]="false"
	(close)="onCloseDialog()"
>
	<eim-object-role-updator *ngIf="viewDialogName === 'objectRoleUpdator'"
			[objectRole]="selectedDto" (updated)="onUpdatedObjectRole($event)">

	</eim-object-role-updator>
</eim-dialog>
