<eim-template-data-grid-single-selector #template
		[componentService]="attributeTypeSelectorComponentService" [(condition)]="attributeTypeSearchCondition"
		[multiple]="multiple" [equals]="componentService.equals">
	<div class="eim-form-item" style="width: 100%;">
		<label class="eim-form-label" style="width: 70px;">{{ 'EIM_DOCUMENTS.LABEL_02000' | translate }}</label>
		<div class="eim-form-input" style="width: calc(100% - 70px); display: block !important;">
			<input pInputText type="text" style="width: 100%;" name="attributeTypeName" maxlength="{{inputMaxLength}}"
				[(ngModel)]="attributeTypeSearchCondition.attributeTypeName" />
		</div>
	</div>
</eim-template-data-grid-single-selector>
