/* 2022.05 新規 デフォルトに戻すボタン用 */
::ng-deep eim-display-column-editor .p-rtl .p-button span.p-button-icon.fa-reply {
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -6px;
}
/* 2022.05 新規 デフォルトに戻すボタン用 */
::ng-deep eim-display-column-editor .p-rtl .p-button span.p-button-label {
	margin-left: 20px;
}