::ng-deep eim-master-input-form-item .eim-form-item .p-autocomplete.p-component ul.p-autocomplete-input-multiple li.p-autocomplete-chip-item {
	display: inline-flex;
	background: #0085FF;
	color: #E3F1FF;
	margin-top: 1px;
	margin-right: 3px;
	border-radius: 1px;
	border-color: #0085FF;
	border-width: 0.1px;
	padding: 3px 6px 1.5px 6px;
}
/* 2022.08 新規 */
::ng-deep eim-master-input-form-item .eim-form-item .p-autocomplete.p-component ul.p-autocomplete-input-multiple li.p-autocomplete-chip-item i {
	pointer-events: auto;
}
/* 2022.08 新規 */
::ng-deep eim-master-input-form-item .eim-form-item .p-autocomplete.p-component ul.p-autocomplete-input-multiple li.p-autocomplete-chip-item span {
	font-family: "メイリオ", "Meiryo UI", "sans-serif";
}
/* 2021.08 新規 入力欄のため不要 */
::ng-deep eim-master-input-form-item .eim-form-item .p-autocomplete.p-component ul.p-autocomplete-input-multiple li.p-autocomplete-input-chip {
	display: none;
}
::ng-deep .eim-form-input-selected-list .eim-master-input-form-item-list .p-autocomplete-input-multiple {
	background-color: #ffffff!important;
	color: #555555!important;
	pointer-events: auto;
}

.eim-master-input-form-item-list-disabled {
	width: 100%;
}

::ng-deep .eim-form-input-selected-list .eim-master-input-form-item-list-disabled .p-autocomplete-input-multiple {
	background-color: #eeeeee!important;
}

.eim-master-input-form-item-delete {
	color: #E3F1FF;
	cursor: pointer !important;
}

::ng-deep eim-master-input-form-item p-autocomplete .p-autocomplete {
	height: 100%!important;
	width: 100%!important;
}

::ng-deep eim-master-input-form-item p-autocomplete .p-autocomplete-input-multiple {
	height: 100%!important;
	width: 100%!important;
	display: inline-block!important;
	vertical-align: middle!important;
	overflow-y: auto!important;
	padding: 0px 1px!important;
}

::ng-deep eim-master-input-form-item .eim-form-item .eim-form-input-multi{
	min-height: 26px;
	max-height: 78px;
}
