@use '_variables' as *;
@use 'data-grid' as *;

::ng-deep eim-object-type-input-form-item {

	.eim-form-item {
		margin-top: 0px;
		margin-bottom: 0px;
		.eim-form-input {

			width: 100%!important;
			.eim-dropdown {
				width: calc(100% - (#{$eim-gap} + #{$eim-data-grid-icon-only-button-size}) - 1px);
			}
			.eim-form-input-button-container {
				width: calc(#{$eim-gap} + #{$eim-data-grid-icon-only-button-size} + 1px);
			}
		}
	}
}
