<div style="height: 100%; width: 100%; display: flex;">
  <div style="height: 100%; width: calc(50% - 20px);">
		<form class="eim-security" style="height:100%;" (ngSubmit)="onSearchSecurity()" autocomplete="off">
	 	 <p-panel class="eim-panel-containing-grid" header="{{ 'EIM_DOCUMENTS.LABEL_02003' | translate }}">
				<div eim-vertical-container style="height: calc(100% - 4px);">
					<div class="eim-form-item" style="width: 100%;">
						<label class="eim-form-label">{{ 'EIM_DOCUMENTS.LABEL_02000' | translate }}</label>
						<div class="eim-form-input" style="display: flex;">
							<!-- 名前 -->
							<input pInputText style="width: 87%;" id="securityName" name="securityName" required="false" [(ngModel)]="securityName" maxlength="{{inputMaxLength}}" (ngSubmit)="onSearchSecurity()"/>
							<button pButton type="button" severity="info" class="icon-only-button" pTooltip="{{ 'EIM_DOCUMENTS.LABEL_03024' | translate }}" style="float: right; margin-left: 5px;" icon="eim-icon-search" (click)="onSearchSecurity()"></button>
						</div>
					</div>
					<div class="eim-flexible-height">
						<eim-data-grid #searchResultList></eim-data-grid>
					</div>
				</div>
			</p-panel>
		</form>
	</div>
  <div style="height: 100%; width: 40px; display: table;">
    <div style="vertical-align: middle; float: none; display: table-cell;">
      <button pButton type="button" class="p-button-success eim-multiple-selector-add-button"
			icon="fa fa-arrow-right" (click)="onClickAdd($event)"
			pTooltip="{{ 'EIM.LABEL_03010' | translate }}" appendTo="body"
			positionStyle="fixed"
			style="width: 30px; height: 30px; margin-left: 5px; margin-right: 5px; margin-bottom: 10px;"></button>
      <button pButton type="button" class="p-button-success eim-multiple-selector-delete-button"
			icon="fa fa-arrow-left" (click)="onClickDelete($event)"
			pTooltip="{{ 'EIM.LABEL_03003' | translate }}" appendTo="body"
			positionStyle="fixed"
			style="width: 30px; height: 30px; margin-left: 5px; margin-right: 5px; margin-bottom: 10px;"></button>
    </div>
  </div>
	<div style="height: 100%; width: calc(50% - 20px);">
		<p-panel class="eim-panel-containing-grid" header="{{ 'EIM_DOCUMENTS.LABEL_02149' | translate }}">
			<div eim-vertical-container style="height: 100%;">
				<div class="eim-flexible-height">
					<eim-data-grid  #selectedList></eim-data-grid>
				</div>
			</div>
		</p-panel>
	</div>
</div>
