<div class="container" style="height:100%">
	<!-- ガントチャート -->
	<div style="height: 100%; display: grid; grid-template-rows: auto 1fr;">
		<div class="eim-menubar-button">
			<eim-menubar class="task-manager-menubar" [model]="tasksMenuItems" ></eim-menubar>
		</div>
		<form #tasksForm="ngForm" style="width: 100%; height: 100%;" autocomplete="off">
			<eim-gantt-chart #taskGanttChart
				[options]="ganttChartOptions"
				(expanded)="onExpanded($event)"
				(changed)="onChanged($event)"
				(doubleClicked)="onDoubleClicked($event)"></eim-gantt-chart>
		</form>
	</div>
</div>

<!-- プロジェクト登録 -->
<ng-container *ngIf="viewDialogName === 'projectCreator'" novalidate>
	<eim-dialog header="{{ 'EIM_TASKS.LABEL_01001' | translate }}" modal="true" width="675" contentMaxHeight="280"
		class="eim-dialog"
		[fitHeight]="true"
		[visible]="viewDialogName === 'projectCreator'"
		[enableMaximize]="false"
		(close)="onCloseDialog()"
	>
		<eim-project-creator *ngIf="viewDialogName === 'projectCreator'" (created)="onCreatedProject($event)">

		</eim-project-creator>
	</eim-dialog>
</ng-container>

<!-- プロジェクト詳細 -->
<ng-container *ngIf="viewDialogName === 'projectUpdator'" novalidate>
	<eim-dialog header="{{ 'EIM_TASKS.LABEL_01020' | translate }}" modal="true" width="675" contentMaxHeight="280"
		class="eim-dialog"
		[fitHeight]="true"
		[visible]="viewDialogName === 'projectUpdator'"
		[enableMaximize]="false"
		(close)="onCloseDialog()"
	>
		<eim-project-updator #projectUpdator *ngIf="viewDialogName === 'projectUpdator'"
				[disabled]="isTaskEditMode" [projectId]="selectedDTO?.id" (updated)="onUpdatedProject($event)">

		</eim-project-updator>
	</eim-dialog>
</ng-container>

<!-- プロセス登録 -->
<ng-container *ngIf="viewDialogName === 'processCreator'" novalidate>
	<eim-dialog header="{{ 'EIM_TASKS.LABEL_01003' | translate }}" modal="true" width="675" contentMaxHeight="280"
		class="eim-dialog"
		[fitHeight]="true"
		[visible]="viewDialogName === 'processCreator'"
		[enableMaximize]="false"
		(close)="onCloseDialog()"
	>
		<eim-process-creator *ngIf="viewDialogName === 'processCreator'"
				[parentDTO]="selectedDTO" (created)="onCreatedProcess($event)">

		</eim-process-creator>
	</eim-dialog>
</ng-container>

<!-- プロセス詳細 -->
<ng-container *ngIf="viewDialogName === 'processUpdator'" novalidate>
	<eim-dialog header="{{ 'EIM_TASKS.LABEL_01005' | translate }}" modal="true" width="675" contentMaxHeight="280"
		class="eim-dialog"
		[fitHeight]="true"
		[visible]="viewDialogName === 'processUpdator'"
		[enableMaximize]="false"
		(close)="onCloseDialog()"
	>
		<eim-process-updator #processUpdator *ngIf="viewDialogName === 'processUpdator'"
				[disabled]="isTaskEditMode" [processId]="selectedDTO?.id" [parentDTO]="parentDTO" (updated)="onUpdatedProcess($event)">

		</eim-process-updator>
	</eim-dialog>
</ng-container>

<!-- タスク登録 -->
<ng-container *ngIf="viewDialogName === 'taskCreator'" novalidate>
	<eim-dialog header="{{ 'EIM_TASKS.LABEL_01004' | translate }}" modal="true" width="845" contentMaxHeight="528"
		class="eim-dialog"
		[fitHeight]="true"
		[visible]="viewDialogName === 'taskCreator'"
		[enableMaximize]="false"
		(close)="onCloseDialog()"
	>
		<eim-task-creator *ngIf="viewDialogName === 'taskCreator'"
				[parentDTO]="selectedDTO" [workspaceDTO]="selectedRootDTO"
				(created)="onCreatedTask($event)">

		</eim-task-creator>
	</eim-dialog>
</ng-container>

<!-- タスク詳細 -->
<ng-container *ngIf="viewDialogName === 'taskUpdator'" novalidate>
	<eim-dialog *ngIf="viewDialogName === 'taskUpdator'" header="{{ 'EIM_TASKS.LABEL_01006' | translate }}" modal="true" width="1250" height="870"
		class="eim-dialog"
		[visible]="viewDialogName === 'taskUpdator'"
		[enableMaximize]="false"
		(close)="onCloseDialog()"
	>
		<eim-task-updator #taskUpdator
				[disabled]="isTaskEditMode" [taskId]="selectedDTO?.id" [parentDTO]="parentDTO"  (updated)="onUpdatedTask($event)">

		</eim-task-updator>
		<footer>
			<div class="p-rtl" dir="rtl">
				<!-- 次へ進む -->
				<button *ngIf="taskUpdator?.taskDTO?.status !== null 
								&& taskUpdator?.hasApproveAccessAuthority 
								&& taskUpdator.forwardEventTypes.length > 0"
						dir="ltr"
						pButton type="button" class="p-button-primary eim-right-alignment-button" 
						icon="eim-icon-forward" label="{{'EIM_FORMS.LABEL_03015' | translate}}"
						[disabled]="!taskUpdator.form.valid"
						(click)="taskUpdator.onClickStatusChange($event, true)"></button>

				<!-- 前へ戻る -->
				<button *ngIf="taskUpdator?.taskDTO?.status !== null 
								&& taskUpdator?.hasApproveAccessAuthority 
								&& taskUpdator.backwordEventTypes.length > 0"
						dir="ltr"
						pButton type="button" class="p-button-primary eim-right-alignment-button" 
						icon="eim-icon-backward" label="{{'EIM_FORMS.LABEL_03016' | translate}}"
						[disabled]="!taskUpdator.form.valid"
						(click)="taskUpdator.onClickStatusChange($event, false)"></button>

				<!-- 取戻し -->
				<button *ngIf="taskUpdator?.taskDTO?.status !== null"
						dir="ltr"
						pButton type="button" class="p-button-primary eim-right-alignment-button" 
						icon="eim-icon-reply" label="{{'EIM_FORMS.LABEL_03017' | translate}}"
						[disabled]="!taskUpdator.form.valid"
						(click)="taskUpdator.onClickStatusRegain($event)"></button>

				<!-- メール送信 -->
				<button
						dir="ltr"
						pButton type="button" class="p-button-primary" 
						icon="eim-icon-mail" label="{{'EIM_TASKS.LABEL_03027' | translate}}"
						(click)="taskUpdator.onClickSendMail($event)"></button>

			</div>
		</footer>
	</eim-dialog>
</ng-container>

<!-- プロジェクト流用 -->
<ng-container *ngIf="viewDialogName === 'copyProject'" novalidate>
	<eim-dialog header="{{ 'EIM_TASKS.LABEL_01022' | translate }}" width="675" height="100%"
			class="eim-dialog"
			[enableMaximize]="false"
			[visible]="viewDialogName === 'copyProject'" modal="true" (close)="onCloseDialog()">
		<form #copyTaskForm="ngForm" class="eim-form-wide" autocomplete="off">
			<span class="eim-form">
				<!-- コピー元プロジェクト名 -->
				<div class="eim-form-item">
					<label class="eim-form-label eim-form-label-required">{{ 'EIM_TASKS.LABEL_02056' | translate }}</label>
					<div class="eim-form-input" style="display: block !important;" >
						<input name="copyResourceProjectName" disabled type="text" pInputText [(ngModel)]="copyResourceProjectName" style="width: 100%;">
					</div>
				</div>
				<!-- 新規プロジェクト名 -->
				<div class="eim-form-item">
					<label class="eim-form-label eim-form-label-required">{{ 'EIM_TASKS.LABEL_02057' | translate }}</label>
					<div class="eim-form-input" style="display: block !important;">
						<input name="createProjectName" type="text" pInputText [(ngModel)]="createProjectName" [required]="true" style="width: 100%;">
					</div>
				</div>
			</span>
		</form>
		<footer>
			<button pButton type="button" class="p-button-primary" (click)="onClickCopyProject($event)" icon="fa fa-check"
					label="{{ 'EIM.LABEL_03005' | translate }}" [disabled]="copyTaskForm.invalid"></button>
		</footer>
	</eim-dialog>
</ng-container>

<!-- タスク複製 -->
<ng-container *ngIf="viewDialogName === 'copyTask'" novalidate>
	<eim-dialog header="{{ 'EIM_TASKS.LABEL_01019' | translate }}" width="675" height="100%"
			class="eim-dialog"
			[enableMaximize]="false"
			[visible]="viewDialogName === 'copyTask'" modal="true" (close)="onCloseDialog()">
		<form #copyTaskForm="ngForm" class="eim-form-wide" autocomplete="off">
			<span class="eim-form">
				<!-- コピー元タスク名 -->
				<div class="eim-form-item">
					<label class="eim-form-label eim-form-label-required">{{ 'EIM_TASKS.LABEL_02044' | translate }}</label>
					<div class="eim-form-input" style="display: block !important;" >
						<input name="copyResourceTaskName" disabled type="text" pInputText [(ngModel)]="copyResourceTaskName" style="width: 100%;">
					</div>
				</div>
				<!-- 新規タスク名 -->
				<div class="eim-form-item">
					<label class="eim-form-label eim-form-label-required">{{ 'EIM_TASKS.LABEL_02045' | translate }}</label>
					<div class="eim-form-input" style="display: block !important;">
						<input name="createTaskName" type="text" pInputText [(ngModel)]="createTaskName" [required]="true" style="width: 100%;">
					</div>
				</div>
			</span>
		</form>
		<footer>
			<button pButton type="button" class="p-button-primary" (click)="onClickCopyTask($event)" icon="fa fa-check"
					label="{{ 'EIM.LABEL_03005' | translate }}" [disabled]="copyTaskForm.invalid"></button>
		</footer>
	</eim-dialog>
</ng-container>
