<div [ngClass]="selectedView === 'chart' ? 'eim-gantt-chart-view-chart': 'eim-gantt-chart-view-grid'"
		style="height:100%; width: 100%; display: grid; grid-template-rows: auto 1fr;">
	<div style="position: relative;">
		<p-selectButton class="eim-select-button" [options]="viewItems" [(ngModel)]="selectedView" (onChange)="onChangeView($event)"  
						[unselectable]="false" [allowEmpty]="false">
			<ng-template #item let-item>
				<i [class]="item.icon" style="font-style: normal;"></i>
			</ng-template>			
		</p-selectButton>
		<span class="eim-gantt-chart-format-select-button" style="position: absolute;">
			<p-selectButton class="eim-select-button" [options]="formatItems" [(ngModel)]="selectedFormat" (onChange)="onChangeFormat($event)" 
							[unselectable]="false" [allowEmpty]="false"></p-selectButton>
		</span>
	</div>
	<!-- ガントチャート -->
	<div style="position: relative; height: 100%; width: 100%; display: flex;">
		<div class="eim-gantt-chart-left-container">
			<div class="eim-gantt-chart-left-margin"></div>
			<eim-data-grid #ganttChartDataGrid class="eim-data-grid" [options]="ganttChartDataGridOptions"
					(doubleClicked)="onDoubleClickedDataGridRow($event)"
					(expanded)="onExpanded($event)"
					(changed)="onChangedDataGridRowSelection($event)"
					(sortChanged)="onSortChanged($event)"
					(filterChanged)="onFilterChanged($event)">
			</eim-data-grid>
		</div>
		<div class="eim-gantt-chart-right-container">
			<div class="eim-gantt-chart-right-chart-container" (wheel)="onRightChartContainerWheel($event)" #ganttContainer>
				<ngx-gantt #ganttComponent
					[items]="ganttItems"
					[viewOptions]="ganttViewOptions"
					[viewType]="ganttViewType"
					[start]="ganttStart"
					[end]="ganttEnd"
					[showTodayLine]="true"
					(barClick)="onGanttBarClick($event)"
					style="position: absolute; top: 0; right: 0; bottom: 0; left: 0">
					<ngx-gantt-table [width]="1" [maxWidth]="1">
						<ng-template #tableEmpty>
							<div style="padding: 20px; text-align: center; color: #999;">
								no data
							</div>
						</ng-template>
					</ngx-gantt-table>
				</ngx-gantt>
			</div>
			<div class="eim-gantt-chart-right-margin"></div>
		</div>
	</div>

</div>
