// その他の既存スタイル
.eim-gantt-chart-view-chart,
.eim-gantt-chart-view-grid {
  height: 100%;
  width: 100%;
}

.eim-gantt-chart-left-container {
  position: relative;
  overflow: hidden;
}

.eim-gantt-chart-right-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.eim-gantt-chart-right-chart-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.eim-gantt-chart-left-margin,
.eim-gantt-chart-right-margin {
  height: 26px;
}

.eim-select-button {
  margin: 5px;
}

.eim-gantt-chart-format-select-button {
  right: 10px;
  top: 5px;
}