/* 
  ag-gridのアイコン定義
*/

/** メニュー */
.ag-icon.ag-icon-menu::before {
	font-family: 'FontAwesome' !important;
	content: "\f0c9";
    color: inherit;
}

/** チェックボックス */
.ag-checkbox-input-wrapper::after {
	font-family: 'FontAwesome' !important;
	content: "\f096";
    color: inherit;
    background-color: var(--eim-input-enable-background-color);
}
.ag-checkbox-input-wrapper.ag-checked::after {
	font-family: 'FontAwesome' !important;
	content: "\f046";
    color: inherit;
    background-color: var(--eim-input-enable-background-color);
}

/** ラジオボタン */
.ag-radio-button-input-wrapper::after {
	font-family: 'FontAwesome' !important;
	content: "\f1db";
    color: inherit;
    background-color: var(--eim-input-enable-background-color);
}
.ag-radio-button-input-wrapper.ag-checked::before {
	font-family: 'FontAwesome' !important;
	content: "\f1db";
    color: inherit;
	position: absolute;
}
.ag-radio-button-input-wrapper.ag-checked::after {
	font-family: 'FontAwesome' !important;
	content: "\f111";
    color: inherit;
	position: absolute;
	font-size: 0.6rem;
    left: 0.3em;
    top: 0.01em;
    height: 0.01em;
}

/** ドラッグ中 */
.ag-icon-arrows::before {
	font-family: 'FontAwesome' !important;
	content: "\f047";
    color: inherit;
}
/** ドラッグ-範囲外 */
.ag-icon-not-allowed::before {
	font-family: 'FontAwesome' !important;
	content: "\f056";
    color: inherit;
}

/** フィルタ */
.ag-icon.ag-icon-filter {
    color: inherit;
}
.ag-icon.ag-icon-filter::before {
	font-family: 'FontAwesome' !important;
	content: "\f0b0";
    color: inherit;
}

/** フィルタ-ドロップダウン */
.ag-icon.ag-icon-small-down {
    color: inherit;
}
.ag-icon.ag-icon-small-down::before {
	font-family: 'FontAwesome' !important;
	content: "\f107";
    color: inherit;
    padding-left: 3px;
}

/** ソート-昇順 */
.ag-icon.ag-icon-asc::before {
	font-family: 'FontAwesome' !important;
	content: "\f0de";
    color: inherit;
}

/** ソート-降順 */
.ag-icon.ag-icon-desc::before {
	font-family: 'FontAwesome' !important;
	content: "\f0dd";
    color: inherit;
}

