.thumbnail-creator-style {
	padding:0px;
}

.thumbnail-img-area {
	position: relative;
	display: flex;
	background: white;
	border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); 
	margin-bottom: 5px;
}

.thumbnail-img-area-sub {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	background: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.thumbnail-img:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.thumbnail-img-wait {
	display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #f8f8f8 0%, #e0e0e0 50%, #f8f8f8 100%);
}

::ng-deep .thumbnail-check-box {
	position: absolute;
	transform: scale(1.4);
	transform-origin: 50% 100%;
	top: 10px;
	right: 10px;
	z-index: 2;
}
.thumbnail-img {
	max-height: 100%;
	max-width: 100%;
    justify-content: center;
    align-items: center;
	object-fit: contain;
}

.thumbnail-text {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 100%;
}

.thumbnail-name-icon {
    text-align: left;
	margin-right: 5px;
	font-size: 12px;
}

.thumbnail-text-row {
	display: flex;
	white-space: nowrap;
	width: 164px;
}

.thumbnail-text-left, .thumbnail-text-right {
	flex-shrink: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.thumbnail-text-left {
	flex-grow: 1;
}

.thumbnail-text-right {
	flex-grow: 0;
}

.thumbnails-button-dev {
	display: flex;
	align-items: center;
	justify-content: right;
}

.thumbnails-button-dev div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
}

.thumbnail-small .thumbnail-img-area {
	width: 174px;
	height: 130px;
}

.thumbnail-small .thumbnail-modify-user-name {
	width: 100px;
}

.thumbnail-small .thumbnail-status-label {
	width: 154px;
}

.thumbnail-small .thumbnail-img-icon {
	font-size: 80px;
}

.thumbnail-small .thumbnail-img-name-text {
    text-align: left;
	font-size: 12px;
	width: max-content;
	/* 以下、表示を省略するための設定 */
	white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 144px;
	-webkit-line-clamp: 2;
	line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
	overflow-wrap: break-word;
	line-height: 20px;
	align-items: center;
}

.thumbnail-large .thumbnail-img-area {
	width: 369px;
	height: 277px;
}

.thumbnail-large .thumbnail-modify-user-name {
	width: 300px;
}

.thumbnail-large .thumbnail-status-label {
	width: 349px;
}

.thumbnail-large .thumbnail-img-icon {
	font-size: 160px;
}

.thumbnail-large .thumbnail-img-name-text {
    text-align: left;
	font-size: 12px;
	width: max-content;
	/* 以下、表示を省略するための設定 */
	white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 280px;
	-webkit-line-clamp: 2;
	line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
	overflow-wrap: break-word;
	line-height: 20px;
	align-items: center;
}

::ng-deep .p-element.thumbnail-creator-style .p-card.p-component:hover {
	box-shadow: 0 1px 3px rgba(0, 92, 235, 0.3), 0 1px 2px rgba(0, 92, 235, 1);
}

::ng-deep .p-element.thumbnail-creator-style .p-card.p-component .p-card-body {
	padding: 10px !important;
}
::ng-deep .p-element.thumbnail-creator-style .p-card.p-component .p-card-body .p-card-content {
	padding: 0px !important;
}