.eim-form-label-for-role-create {
	width: 200px!important;
}

.eim-form-input-for-role-create {
	width: calc(100% - 200px)!important;
}

.eim-role-creator-attribute-area {
	height:120px;
	width:100%;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	overflow-y: scroll;
}

::ng-deep .eim-role-creator-attribute-area .eim-form-label {
	width: 199px;
}
::ng-deep .eim-role-creator-attribute-area .eim-form-input {
	width: calc(100% - 199px);
}