<form #workspaceForm="ngForm" id="workspaceCreator" style="width: 100%; height: 100%;" autocomplete="off">

	<as-split direction="vertical">
		<as-split-area [size]="splitAreaFirstSize" [class]="['eim-workspace-overflow-hidden']">

			<div *ngIf="!readOnly" class="p-grid" style="width: 100%;">
				<div class="p-col-6" style="padding-top: 0px; padding-left: 0px; padding-bottom: 0px;">
					<div class="eim-form-item">
						<label class="eim-form-label eim-form-label-required">{{ 'EIM.LABEL_02002' | translate }}</label>
						<div class="eim-form-input" style="display: flex;">
							<input type="text" name="workspaceName" pInputText maxlength="{{inputMaxLength}}"
									[disabled]="creating" [(ngModel)]="info.name" style="width: 100%;" required="true"/>
						</div>
					</div>
				</div>
			</div>

			<div class="p-grid" style="height: 120px; width: 100%;">
				<div class="p-col-6" style="padding-top: 0px; padding-left: 0px; padding-bottom: 0px;">
					<p-panel class="eim-panel-containing-grid" header="{{ 'EIM_DOCUMENTS.LABEL_02003' | translate }}" >
						<div class="eim-form-item">
							<label class="eim-form-label eim-form-label-required" style="width: 45%;">{{ 'EIM_DOCUMENTS.LABEL_02150' | translate }}</label>
							<div class="eim-form-input eim-form-input-selected-list" style="width: 55%; display: flex;">
								<input name="accessSecurityName" type="text" pInputText [(ngModel)]="info.accessSecurity.secName" [disabled]="true" style="width: calc(100% - 30px);"/>
								<button pButton *ngIf="!readOnly" type="button" icon="fa-fw fa fa-external-link" severity="info" class="icon-only-button" style="margin-left: 5px; float: right;" pTooltip="{{ 'EIM.LABEL_03006' | translate }}"
									(click)="onClickAccessSecurity($event);"
										[disabled]="!isDocumentAccessSecurity"></button>
								<button pButton *ngIf="!readOnly" type="button" icon="fa fa-pencil-square-o" severity="info" class="icon-only-button" style="margin-left: 5px; float: right;" pTooltip="{{ 'EIM_DOCUMENTS.LABEL_02058' | translate }}"
									(click)="onClickAccessSecurityEdit($event);"
										[disabled]="!info.accessSecurity.secName"></button>
								
							</div>
						</div>

						<div class="eim-form-item">
							<label class="eim-form-label" style="width: 45%;">{{ 'EIM_DOCUMENTS.LABEL_02151' | translate }}</label>
							<div style="width: 55%">
								<div class="eim-form-input eim-form-input-selected-list" style="width: 100%; display: flex;">
									<input name="folderSecurityName" type="text" pInputText [(ngModel)]="info.folderSecurity.secName" [disabled]="true" style="width: calc(100% - 30px);"/>
									<button pButton *ngIf="!readOnly" type="button" icon="fa-fw fa fa-external-link" severity="info" class="icon-only-button" style="margin-left: 5px; float: right;" pTooltip="{{ 'EIM.LABEL_03006' | translate }}"
										(click)="onClickFolderSecurity($event);" [disabled]="!info.accessSecurity.secName"></button>
									<button pButton *ngIf="!readOnly" type="button" icon="fa fa-pencil-square-o" severity="info" class="icon-only-button" style="margin-left: 5px; float: right;" pTooltip="{{ 'EIM_DOCUMENTS.LABEL_02058' | translate }}"
										(click)="onClickFolderSecurityEdit($event);"
											[disabled]="!info.folderSecurity.secName"></button>
								</div>
							</div>
						</div>

						<div class="eim-form-item">
							<label class="eim-form-label" style="width: 45%;">{{ 'EIM_DOCUMENTS.LABEL_02155' | translate }}</label>
							<eim-checkbox name="isManualDeleteFlag" value="false" [(ngModel)]="info.isManualDeleteFlag" binary="true" label="{{ 'EIM_DOCUMENTS.LABEL_02156' | translate }}" [disabled]="!info.isWorkspaceSystemAuth || readOnly"></eim-checkbox>
						</div>
					</p-panel>
				</div>
				<div class="p-col-6" style="padding-top: 0px; padding-left: 0px; padding-bottom: 0px;">
					<p-panel class="eim-panel-containing-grid" [style]="{'height': '100%'}" header="{{ 'EIM_DOCUMENTS.LABEL_02152' | translate }}">
								<eim-workspace-administrator-item #administratorList style="width: calc(100% - 30px);"
									[form]="workspaceForm.form" name="administratorList" [required]="false" [readOnly]="readOnly"
									[disabled]="false" [multiple]="true" [ngModel]="info.adminUsers">
								</eim-workspace-administrator-item>
					</p-panel>
				</div>
			</div>

		</as-split-area>
		<as-split-area [size]="100 - splitAreaFirstSize" [class]="['eim-workspace-overflow-hidden']">
			<div style="height: 100%; overflow-y: hidden;">
				<p-panel class="eim-panel-containing-grid eim-workspace-panel"
					header="{{ 'EIM_DOCUMENTS.LABEL_02153' | translate }}">
			
					<p-tabs #entryTabView [value]="selectedTab()" (valueChange)="onChangeTab($event)">
						<p-tablist>
							<p-tab [value]="0">{{ 'EIM.LABEL_02050' | translate }}</p-tab>
							<p-tab [value]="1">{{ 'EIM.LABEL_02051' | translate }}</p-tab>
							<p-tab [value]="2">{{ 'EIM.LABEL_02052' | translate }}</p-tab>
							<p-tab [value]="3">{{ 'EIM_DOCUMENTS.LABEL_02003' | translate }}</p-tab>
						</p-tablist>
						<p-tabpanels>
							<p-tabpanel [value]="0">
								<div style="padding:5px; height: 100%">
									<div class="eim-form-item" style="width:100%; margin-top: 0px; margin-bottom: 0px;">
										<div class="eim-form-input">
											<eim-radio-button name="docTypeCondition"
												label="{{ 'EIM_DOCUMENTS.LABEL_02116' | translate }}" value="true"
												[(ngModel)]="info.docTypeCondition" (ngModelChange)="onChangeDocTypeCond()"
												[disabled]="readOnly"></eim-radio-button>
											<eim-radio-button name="docTypeCondition"
												label="{{ 'EIM_DOCUMENTS.LABEL_02117' | translate }}" value="false"
												[(ngModel)]="info.docTypeCondition" (ngModelChange)="onChangeDocTypeCond()"
												[disabled]="readOnly"></eim-radio-button>
										</div>
									</div>
			
									<div class="p-grid" style="height: calc(100% - 20px); width: 100%;">
										<div class="p-col-3"
											style="padding-top: 0px; padding-left: 0px; padding-bottom: 0px; height: 100%;">
			
											<p-blockUI #docPnlBlock [target]="docPnl" [blocked]="info.docTypeCondition !== 'true'">
											</p-blockUI>
											<p-blockUI #docPnlBlock2 [target]="docPnl2"
												[blocked]="info.docTypeCondition !== 'true'">
											</p-blockUI>
			
											<p-panel #docPnl class="eim-panel-containing-grid"
												header="{{ 'EIM.LABEL_02050' | translate }}">
												<div style="display: flex; width: 100%;"
													[ngStyle]="{'height': readOnly ? '100%' : 'calc(100% - 28px)'}">
													<div style="height: 100%; width: 100%;">
														<div *ngIf="!readOnly" class="eim-data-grid-menu" style="display: flex;">
															<eim-menubar [model]="documentTypeMenuItems"></eim-menubar>
														</div>
														<div style="height: 100%;">
															<eim-tree #documentTypeTree [contextMenuItems]="contentsTreeMenuItems"
																(selected)="onSelectDocumentTreeNode($event)"></eim-tree>
														</div>
													</div>
												</div>
											</p-panel>
										</div>
										<div class="p-col-9" style="padding: 0px; height: 100%">
											<p-panel #docPnl2 class="eim-workspace-tab-panel"
												header="{{ 'EIM_DOCUMENTS.LABEL_02154' | translate }}">
												<div class="eim-flexible-height"
													style="height: calc(100% - 130px); width: 100%; overflow: hidden;">
													<eim-object-type-attribute #docTypeAttributeList>
													</eim-object-type-attribute>
												</div>
												<div style="height: 130px;">
													<eim-master-contents-approve-workflow-diagram
														#documentTypeWorkflowDiagram></eim-master-contents-approve-workflow-diagram>
												</div>
											</p-panel>
										</div>
									</div>
								</div>
							</p-tabpanel>
							<p-tabpanel [value]="1">
								<div style="padding:5px; height: 100%">
									<div class="eim-form-item" style="width:100%; margin-top: 0px; margin-bottom: 0px;">
										<div class="eim-form-input">
											<eim-radio-button name="folderTypeCondition"
												label="{{ 'EIM_DOCUMENTS.LABEL_02116' | translate }}" value="true"
												[(ngModel)]="info.folderTypeCondition" (ngModelChange)="onChangeFolderTypeCond()"
												[disabled]="readOnly"></eim-radio-button>
											<eim-radio-button name="folderTypeCondition"
												label="{{ 'EIM_DOCUMENTS.LABEL_02117' | translate }}" value="false"
												[(ngModel)]="info.folderTypeCondition" (ngModelChange)="onChangeFolderTypeCond()"
												[disabled]="readOnly"></eim-radio-button>
										</div>
									</div>
			
									<div class="p-grid" style="height: calc(100% - 20px); width: 100%;">
										<div class="p-col-3"
											style="padding-top: 0px; padding-left: 0px; padding-bottom: 0px; height: 100%">
			
											<p-blockUI #folderPnlBlock [target]="folderPnl"
												[blocked]="info.folderTypeCondition !== 'true'">
											</p-blockUI>
											<p-blockUI #folderPnlBlock2 [target]="folderPnl2"
												[blocked]="info.folderTypeCondition !== 'true'">
											</p-blockUI>
			
											<p-panel #folderPnl class="eim-panel-containing-grid"
												header="{{ 'EIM.LABEL_02051' | translate }}">
												<div style="display: flex; width: 100%;"
													[ngStyle]="{'height': readOnly ? '100%' : 'calc(100% - 28px)'}">
													<div style="height: 100%; width: 100%;">
														<div *ngIf="!readOnly" class="eim-data-grid-menu" style="display: flex;">
															<eim-menubar [model]="folderTypeMenuItems"></eim-menubar>
														</div>
														<div style="height: 100%;">
															<eim-tree #folderTypeTree [contextMenuItems]="contentsTreeMenuItems"
																(selected)="onSelectFolderTreeNode($event)"></eim-tree>
														</div>
													</div>
												</div>
											</p-panel>
										</div>
										<div class="p-col-9" style="padding: 0px">
											<p-panel #folderPnl2 class="eim-panel-containing-grid"
												header="{{ 'EIM_DOCUMENTS.LABEL_02154' | translate }}">
												<div class="eim-flexible-height"
													style="height: calc(100% - 130px); width: 100%; overflow: hidden;">
													<eim-object-type-attribute #folderTypeAttributeList>
													</eim-object-type-attribute>
												</div>
												<div style="height: 130px;">
													<eim-master-contents-approve-workflow-diagram
														#folderTypeWorkflowDiagram></eim-master-contents-approve-workflow-diagram>
												</div>
											</p-panel>
										</div>
									</div>
								</div>
							</p-tabpanel>
							<p-tabpanel [value]="2">
								<div style="padding:5px; height: 100%">
									<div class="eim-form-item" style="width:100%; margin-top: 0px; margin-bottom: 0px;">
										<div class="eim-form-input">
											<eim-radio-button name="tagTypeCondition"
												label="{{ 'EIM_DOCUMENTS.LABEL_02116' | translate }}" value="true"
												[(ngModel)]="info.tagTypeCondition" (ngModelChange)="onChangeTagTypeCond()"
												[disabled]="readOnly"></eim-radio-button>
											<eim-radio-button name="tagTypeCondition"
												label="{{ 'EIM_DOCUMENTS.LABEL_02117' | translate }}" value="false"
												[(ngModel)]="info.tagTypeCondition" (ngModelChange)="onChangeTagTypeCond()"
												[disabled]="readOnly"></eim-radio-button>
										</div>
									</div>
			
									<div class="p-grid" style="height: calc(100% - 20px); width: 100%;">
										<div class="p-col-3"
											style="padding-top: 0px; padding-left: 0px; padding-bottom: 0px; height: 100%;">
			
											<p-blockUI #tagPnlBlock [target]="tagPnl" [blocked]="info.tagTypeCondition !== 'true'">
											</p-blockUI>
											<p-blockUI #tagPnlBlock2 [target]="tagPnl2"
												[blocked]="info.tagTypeCondition !== 'true'">
											</p-blockUI>
			
											<p-panel #tagPnl class="eim-panel-containing-grid"
												header="{{ 'EIM.LABEL_02052' | translate }}">
												<div style="display: flex; width: 100%; margin-bottom: 3px;"
													[ngStyle]="{'height': readOnly ? '100%' : 'calc(100% - 28px)'}">
													<div style="height: 100%; width: 100%;">
														<div *ngIf="!readOnly" class="eim-data-grid-menu" style="display: flex;">
															<eim-menubar [model]="tagTypeMenuItems"></eim-menubar>
														</div>
														<div style="height: 100%;">
															<eim-tree #tagTypeTree [contextMenuItems]="contentsTreeMenuItems"
																(selected)="onSelectTagTreeNode($event)"></eim-tree>
														</div>
													</div>
												</div>
											</p-panel>
										</div>
										<div class="p-col-9" style="padding: 0px;">
											<p-panel #tagPnl2 class="eim-panel-containing-grid"
												header="{{ 'EIM.LABEL_02053' | translate }}">
												<div class="eim-flexible-height"
													style="height: calc(100%); width: 100%; overflow: hidden;">
													<eim-object-type-attribute #tagTypeAttributeList>
													</eim-object-type-attribute>
												</div>
											</p-panel>
										</div>
									</div>
								</div>
							</p-tabpanel>
							<p-tabpanel [value]="3">
								<div style="padding:5px; height: 100%">
									<div class="eim-form-item" style="width:100%; margin-top: 0px; margin-bottom: 0px;">
										<div class="eim-form-input">
											<eim-radio-button name="securityCondition"
												label="{{ 'EIM_DOCUMENTS.LABEL_02116' | translate }}" value="true"
												[(ngModel)]="info.securityCondition" (ngModelChange)="onChangeSecurityCond()"
												[disabled]="readOnly"></eim-radio-button>
											<eim-radio-button name="securityCondition"
												label="{{ 'EIM_DOCUMENTS.LABEL_02117' | translate }}" value="false"
												[(ngModel)]="info.securityCondition" (ngModelChange)="onChangeSecurityCond()"
												[disabled]="readOnly"></eim-radio-button>
										</div>
									</div>
									<div class="p-grid" style="width: 100%; height: calc(100% - 25px);">
										<div class="p-col-3"
											style="padding-top: 0px; padding-left: 0px; padding-bottom: 0px; height: 100%">
			
											<p-blockUI #secPnlBlock [target]="secPnl" [blocked]="info.securityCondition !== 'true'">
											</p-blockUI>
			
											<p-panel #secPnl class="eim-panel-containing-grid-security"
												header="{{ 'EIM_DOCUMENTS.LABEL_02003' | translate }}">
												<div style="height: 100%; overflow-y: hidden; margin-bottom: 3px;">
													<div class="eim-flexible-height" style="width: 100%;"
														[ngStyle]="{'height': readOnly ? '100%' : 'calc(100% - 27px)'}">
			
														<div *ngIf="!readOnly" class="eim-data-grid-menu" style="display: flex;">
															<eim-menubar [model]="securityMenuItems"></eim-menubar>
														</div>
														<div style="height: 100%;">
															<eim-data-grid #securityList [multiple]="false"
																(selected)="onSelectSecurity($event)"></eim-data-grid>
														</div>
													</div>
												</div>
											</p-panel>
										</div>
										<div class="p-col-9" style="padding: 0px; height: calc(100% + 8px);">
											<eim-security-selector #accessEntry [displaySearch]="false"
												[blockFlag]="info.securityCondition !== 'true'"
												[entryNameWidth]=272></eim-security-selector>
										</div>
									</div>
								</div>
							</p-tabpanel>
						</p-tabpanels>
					</p-tabs>
				</p-panel>
			</div>

		</as-split-area>
	</as-split>

</form>
