.p-grid {
	overflow-y: auto;
}

.eim-contents-user-detail-panel-outer {
	height: calc(100% - 145px);
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	padding-right: 10px;
}

::ng-deep .eim-contents-user-detail-panel-outer .eim-form-label {
	width: 199px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
::ng-deep .eim-contents-user-detail-panel-outer .eim-form-input {
	width: calc(100% - 199px);
}