.center {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 26px;
	width: 12px;
}

.basic-condition .p-col-6 {
	padding-top: 0px;
	padding-bottom: 0px;
}
