.eim-table-config {
	height: 100%;
	width: 100%;
}

::ng-deep .eim-table-config .p-panel {
	height: 100%;
}

::ng-deep .eim-table-config .p-panel .p-panel-content-container.ng-trigger-panelContent {
	height: calc(100% - 20px);
	padding-bottom: 5px;
}

::ng-deep .eim-table-config .p-panel-content {
	height: 100%;
}