<div style="height: 100%;">
	<form class="p-grid" style="width: 100%; height: 100%;" autocomplete="off">
		<div style="width: 100%; height: 100%; padding-top: 0px; padding-left: 0px; padding-bottom: 0px;" eim-vertical-container>
			<div style="margin-bottom: 10px;">
					<div class="eim-form-item">
						<label class="eim-form-label eim-form-label" style="width: 90%;">{{ 'EIM_ADMINS.LABEL_02270' | translate}}</label>
					</div>
					<div class="eim-form-item">
						<div class="eim-form-input">
							<eim-radio-button name="viewNoValuesFlagTrue" label="{{ 'EIM_ADMINS.LABEL_02307' | translate}}" [value]='true' [(ngModel)]="viewNoValuesFlag"></eim-radio-button>
						</div>
					</div>
					<div class="eim-form-item">
						<div class="eim-form-input">
							<eim-radio-button name="viewNoValuesFlagFalse" label="{{ 'EIM_ADMINS.LABEL_02308' | translate }}" [value]='false' [(ngModel)]="viewNoValuesFlag"></eim-radio-button>
						</div>
					</div>
			</div>
		</div>
	</form>
</div>
