@use '_variables' as *;

::ng-deep eim-calendar-input-renderer .p-datepicker-trigger {
	display: none;
}
::ng-deep .eim-calendar-input-renderer {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;

	.eim-form-input {
		width: 100%
	}
	p-calendar {
		width: 100%;
		.p-calendar {
			width: 100%;
			.p-inputtext {
				width: 100%;
				padding: 2px;
			}
		}
	}
	p-calendar.eim-invalid {
		.p-inputtext {
			border: $eim-invalid-input-border;
		}
	}
}

