.eim-form-search {
	min-height: 100%;
 	position: relative;
 	overflow: hidden;
}

.eim-form-search-footer{
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-left: auto;
  min-width: 165px;
  position: absolute;
  display: inline-flex;
  float: right;
}

.eim-form-search-item {
    margin-left: 10px;
    margin-right: 10px;
}

.eim-form-search-items{
	width: 100%;
	height:calc(100% - 70px);
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
}

.eim-form-search-item-label {
	font-weight: bold;
	text-decoration: underline;
	margin-left: 10px;
}

.eim-form-search-item-right {
	padding-right: 10px;
	padding-left: 10px;
	text-align: right;
	width: 100%;
}

.wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: -7px;
}

p.border {
	border-bottom: 1px solid #A9A9A9;
	margin-top: 10px;
	width: 100%;
}
/* 2022.05 新規 */
::ng-deep eim-form-search-condition .p-select {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
/* 2022.05 新規 */
::ng-deep eim-form-search-condition .p-select .p-select-dropdown {
	background-color: #FFFFFF;
}