<div style="height: 100%;">
	<as-split #split id="split" direction="horizontal">
		<as-split-area id="splitLeft" [size]="splitSetting.splitLeft.size" [ngStyle]="{'overflow': 'hidden'}">
			<div class="eim-admin-left-panel">
				<p-panel class="eim-panel-containing-grid"
						header="{{ 'EIM_ADMINS.LABEL_02000' | translate }}">
					<div style="height: 100%;" eim-vertical-container>
						<div class="eim-data-grid-menu" >
							<eim-menubar [model]="workflowTreeMenuItems"></eim-menubar>
						</div>
						<div class="eim-flexible-height">
							<eim-tree-data-grid #workflowTreeDataGrid
									(selected)="onSelectTreeNode($event)"
									[contextMenuItems]="workflowContentsMenuItems" (contextmenu)="onContextMenuWorkflow($event)"
									(expanded)="onExpandTreeNode($event)"></eim-tree-data-grid>
						</div>
					</div>
				</p-panel>
			</div>
		</as-split-area>
		<as-split-area [size]="100 - splitSetting.splitLeft.size">
			<div style="height: calc(100% - 35px);">
				<as-split direction="vertical">
					<as-split-area id="splitRightTop" [size]="splitSetting.splitRightTop.size">
						<form #workflowForm="ngForm" class="eim-admin-right-panel" autocomplete="off">
								<eim-workflow-diagram #workflowDiagram [form]="workflowForm.form"
									[multiple]="false"
									[editable]="false"
									(changed)="onChangeDiagram()"></eim-workflow-diagram>
						</form>
					</as-split-area>
					<as-split-area [size]="100 - splitSetting.splitRightTop.size">
						<form #workflowStatusForm="ngForm" class="eim-admin-right-panel eim-form-wide" autocomplete="off">
							<p-tabs [value]="index()" (valueChange)="onChangeTab($event)" [ngStyle]="{'display': statusSelected ? 'flex' : 'none', 'height': '100%'}">
								<p-tablist>
									<p-tab [value]="0">{{ 'EIM_ADMINS.LABEL_02114' | translate }}</p-tab>
								</p-tablist>
								<p-tabpanels>
									<p-tabPanel [value]="0" header="{{ 'EIM_ADMINS.LABEL_02114' | translate }}" >
										<div style="padding:5px; height: 100%">
											<div class="p-grid" style="height: 100%;">
												<div class="p-col-5" style="height: 100%;">
													<div *ngFor="let lang of languages;" class="eim-form-item">
														<label class="eim-form-label eim-form-label-required">{{ 'EIM_ADMINS.LABEL_02003' | translate:lang }}</label>
														<div class="eim-form-input">
															<input name="name_status_{{lang.lang}}" type="text" required="true" pInputText [(ngModel)]="selectedStatusType.nameList[lang.lang]" style="width: 100%;" (ngModelChange)="onWorkflowChange($event)"/>
														</div>
													</div>
													<div class="eim-form-item">
														<label class="eim-form-label">{{ 'EIM_ADMINS.LABEL_02101' | translate:lang }}</label>
														<div class="eim-form-input">
															<label *ngIf="selectedStatusType.id >= 0" >{{ getSelectItemsLabel( statusTypeKindList, selectedStatusType.kind ) }}</label>
															<p-select *ngIf="selectedStatusType.id < 0" name="statusType" [options]="statusTypeKindList" [(ngModel)]="selectedStatusType.kind" appendTo="body" [style]="{'width': '100%'}" [disabled]="selectedStatusType.id >= 0" (onChange)="onWorkflowChange($event)" ></p-select>
														</div>
													</div>
													<div class="eim-form-item">
														<label class="eim-form-label">{{ 'EIM_ADMINS.LABEL_02102' | translate:lang }}</label>
														<div class="eim-form-input">
															<div>
																<eim-radio-button name="assignAuto" label="{{ 'EIM_ADMINS.LABEL_02103' | translate:lang }}" value="true" [(ngModel)]="selectedStatusType.auto" [disabled]="selectedStatusType.id >= 0" (onClick)="onWorkflowChange($event)"></eim-radio-button>
															</div>
															<div>
																<eim-radio-button name="assignAuto" label="{{ 'EIM_ADMINS.LABEL_02104' | translate:lang }}" value="false" [(ngModel)]="selectedStatusType.auto" [disabled]="selectedStatusType.id >= 0" (onClick)="onWorkflowChange($event)"></eim-radio-button>
															</div>
														</div>
													</div>
														<div *ngIf="selectedStatusType.kind === -13002 && serverConfigService.enableApproverCheckinFlg" class="eim-form-item">
														<label class="eim-form-label">{{ 'EIM_ADMINS.LABEL_02259' | translate:lang }}</label>
														<div class="eim-form-input">
															<div>
															<eim-checkbox name="enableCheckIn" value="true" binary="true" [(ngModel)]="selectedStatusType.enableCheckIn" (onChange)="onWorkflowChange($event)"></eim-checkbox>
															</div>
														</div>
													</div>
													<div *ngIf="selectedStatusType.kind === -13002" class="eim-form-item">
														<label class="eim-form-label">{{ 'EIM_ADMINS.LABEL_02245' | translate:lang }}</label>
														<div class="eim-form-input">
															<div>
																<eim-checkbox name="defBossOnly" value="true" binary="true" [(ngModel)]="selectedStatusType.defBossOnly" (onChange)="onWorkflowChange($event)"></eim-checkbox>
															</div>
														</div>
													</div>
												</div>
												<div class="p-col-7" style="height: 100%;">
													<p-panel class="eim-panel-containing-grid" header="{{ 'EIM_ADMINS.LABEL_02105' | translate:lang }}" [style]="{'height': '100%'}">
														<div style="height: 100%;" eim-vertical-container>
															<div class="eim-data-grid-menu" >
																<eim-menubar [model]="assignDataGridMenuItems"></eim-menubar>
															</div>
															<div class="eim-flexible-height">
																<eim-data-grid #assignDataGrid
																[equals]="entryDataGridEquals"
																[contextMenuItems]="assignContentsMenuItems" (contextmenu)="onAssignContextMenuWorkflow($event)"
																(selected)="onSelectAssignData($event)"></eim-data-grid>
															</div>
														</div>
													</p-panel>
												</div>
											</div>
										</div>
									</p-tabPanel>
								</p-tabpanels>
							</p-tabs>
							<p-tabs [value]="index()" (valueChange)="onChangeTab($event)" [ngStyle]="{'display': eventSelected ? 'flex' : 'none', 'height': '100%'}">
								<p-tablist>
									<p-tab [value]="0">{{ 'EIM_ADMINS.LABEL_02108' | translate:lang }}</p-tab>
								</p-tablist>
								<p-tabpanels>
									<p-tabPanel value="0">
										<div style="padding:5px; height: 100%">
											<div class="p-grid" style="height: 100%;">
												<div class="p-col-5" style="height: 100%;">
													<div *ngFor="let lang of languages;" class="eim-form-item">
														<label class="eim-form-label eim-form-label-required">{{ 'EIM_ADMINS.LABEL_02003' | translate:lang }}</label>
														<div class="eim-form-input">
															<input name="name_event_{{lang.lang}}" type="text" required="true" pInputText ng-model-options="{debounce: {'default': 1000}}" [(ngModel)]="selectedEventType.nameList[lang.lang]" style="width: 100%;" (ngModelChange)="onWorkflowEventChange($event)"/>
														</div>
													</div>
													<div class="eim-form-item">
														<label class="eim-form-label">{{ 'EIM_ADMINS.LABEL_02109' | translate:lang }}</label>
														<div class="eim-form-input">
															<label>{{ getSelectItemsLabel( baseEventTypeList, selectedEventType.baseEventTypeId ) }}</label>
														</div>
													</div>
													<div class="eim-form-item">
														<label class="eim-form-label">{{ 'EIM_ADMINS.LABEL_02110' | translate:lang }}</label>
														<div class="eim-form-input">
															<label>{{ getSelectItemsLabel( guardList, selectedEventType.guardConditionId ) }}</label>
														</div>
													</div>
												</div>
												<div class="p-col-7" style="height: 100%;">
													<p-panel class="eim-panel-containing-grid" header="{{ 'EIM_ADMINS.LABEL_02111' | translate:lang }}" [style]="{'height': '100%'}">
														<div style="height: 100%;" eim-vertical-container>
															<div class="eim-flexible-height" style="height: 90%;">
																<eim-data-grid #mailTypeDataGrid
																[equals]="dataGridEquals"></eim-data-grid>
															</div>
														</div>
													</p-panel>
												</div>
											</div>
										</div>
									</p-tabPanel>
								</p-tabpanels>
							</p-tabs>
						</form>
					</as-split-area>
				</as-split>
			</div>
			<div class="p-rtl eim-admin-footer" dir="rtl">
				<button pButton type="button" class="p-button-primary" [disabled]="!creatable()" (click)="onClickRegistWorkflow($event);" icon="fa fa-check" label="{{ 'EIM.LABEL_03005' | translate }}"></button>
			</div>
		</as-split-area>
	</as-split>
</div>
