<div style="height: 100%;">
	<as-split #split id="split" direction="horizontal">
		<as-split-area id="splitLeft" [size]="splitSetting.splitLeft.size" [ngStyle]="{'overflow': 'hidden'}">
			<div class="eim-admin-left-panel">
				<p-panel class="eim-panel-containing-grid"
						header="{{ 'EIM_ADMINS.LABEL_02000' | translate }}">
					<div style="height: calc(100% - 10px);" eim-vertical-container>
						<div class="eim-data-grid-menu" >
							<eim-menubar [model]="workflowTreeMenuItems"></eim-menubar>
						</div>
						<div class="eim-flexible-height">
							<eim-tree-data-grid #workflowTreeDataGrid
									[equals]="dataGridEquals"
									(selected)="onSelectTreeNode($event)"
									[contextMenuItems]="workflowContentsMenuItems" (contextmenu)="onContextMenuWorkflow($event)"
									(expanded)="onExpandTreeNode($event)"></eim-tree-data-grid>
						</div>
					</div>
				</p-panel>
			</div>
		</as-split-area>
		<as-split-area [size]="100 - splitSetting.splitLeft.size">
			<div style="height: calc(100% - 35px);">
				<as-split direction="vertical">
					<as-split-area id="splitRightTop" [size]="splitSetting.splitRightTop.size">
						<form #workflowForm="ngForm" class="eim-admin-right-panel" autocomplete="off">
								<eim-workflow-diagram #workflowDiagram [form]="workflowForm.form"
								[multiple]="false"
								(changed)="onChangeDiagram()"></eim-workflow-diagram>
						</form>
					</as-split-area>
					<as-split-area [size]="100 - splitSetting.splitRightTop.size">
						<p-blockUI [target]="statusSettings" [blocked]="workflowDiagram.addingEvent">
						</p-blockUI>
						<p-blockUI [target]="eventsSettings" [blocked]="workflowDiagram.addingEvent">
						</p-blockUI>
						<form #workflowStatusForm="ngForm" class="eim-admin-right-panel eim-form-wide" autocomplete="off">
							<p-tabs #statusSettings [value]="index()" (valueChange)="onChangeTab($event)"
								[ngStyle]="{'display': statusSelected ? 'flex' : 'none', 'height': '100%'}">
								<p-tablist>
									<p-tab [value]="0">{{ 'EIM_ADMINS.LABEL_02114' | translate }}</p-tab>
									<p-tab [value]="1" *ngIf="visibleStatusTabPanel">{{ 'EIM_ADMINS.LABEL_03043' | translate }}</p-tab>
								</p-tablist>
								<p-tabpanels>
									<p-tabpanel [value]="0">
										<div style="padding:5px; height: 100%">
											<div class="p-grid" style="height: 100%;">
												<div class="p-col-4" style="height: 100%;">
													<div *ngFor="let lang of languages;" class="eim-form-item">
														<label class="eim-form-label eim-form-label-required" style="width: 55%;">{{
															'EIM_ADMINS.LABEL_02003' |
															translate:lang }}</label>
														<div class="eim-form-input" style="width: 45%;">
															<input name="name_status_{{lang.lang}}" type="text" required="true" pInputText
																[(ngModel)]="selectedStatusType.nameList[lang.lang]" style="width: 100%;"
																(ngModelChange)="onWorkflowChange($event)" />
														</div>
													</div>
													<div class="eim-form-item">
														<label class="eim-form-label" style="width: 55%;">{{ 'EIM_ADMINS.LABEL_02101' |
															translate:lang
															}}</label>
														<div class="eim-form-input" style="width: 45%;">
															<label
																*ngIf="selectedStatusType.id >= 0 || adminsCacheService.getAppId() === 'form'">{{
																getSelectItemsLabel( statusTypeKindList, selectedStatusType.kind) }}</label>
															<p-select
																*ngIf="selectedStatusType.id < 0 && (adminsCacheService.getAppId() === 'general' || adminsCacheService.getAppId() === 'task')"
																name="statusType" [options]="statusTypeKindList"
																[(ngModel)]="selectedStatusType.kind" appendTo="body"
																[style]="{'width': '100%', 'overflow-x': 'hidden'}"></p-select>
														</div>
													</div>
													<div class="eim-form-item">
														<label class="eim-form-label" style="width: 55%;">{{ 'EIM_ADMINS.LABEL_02102' |
															translate:lang
															}}</label>
														<div class="eim-form-input" style="width: 45%;">
															<div>
																<eim-radio-button name="assignAuto"
																	label="{{ 'EIM_ADMINS.LABEL_02103' | translate:lang }}" value="true"
																	[(ngModel)]="selectedStatusType.auto"
																	(onClick)="onWorkflowChange($event)"></eim-radio-button>
															</div>
															<div>
																<eim-radio-button name="assignAuto"
																	label="{{ 'EIM_ADMINS.LABEL_02104' | translate:lang }}" value="false"
																	[(ngModel)]="selectedStatusType.auto"
																	(onClick)="onWorkflowChange($event)"></eim-radio-button>
															</div>
														</div>
													</div>
												</div>
												<div class="p-col-5" style="height: 100%;">
													<p-panel class="eim-panel-containing-grid"
														header="{{ 'EIM_ADMINS.LABEL_02105' | translate:lang }}" [style]="{'height': '100%'}">
														<div style="height: 100%;" eim-vertical-container>
															<div class="eim-data-grid-menu">
																<eim-menubar [model]="assignDataGridMenuItems"></eim-menubar>
															</div>
															<div class="eim-flexible-height" style="width: 100%">
																<eim-data-grid #assignDataGrid [equals]="entryDataGridEquals"
																	(selected)="onSelectAssignData($event)"
																	[contextMenuItems]="assignContentsMenuItems"
																	(contextmenu)="onAssignContextMenuWorkflow($event)"
																	style="width: 95%"></eim-data-grid>
															</div>
														</div>
													</p-panel>
												</div>
												<div class="p-col-3" style="height: 100%;">
													<p-panel class="eim-panel-containing-grid"
														header="{{ 'EIM_ADMINS.LABEL_02107' | translate:lang }}" [style]="{'height': '100%'}">
														<div style="height: 100%;" eim-vertical-container>
															<div class="eim-data-grid-menu">
																<eim-menubar [model]="eventSortDataGridMenuItems"></eim-menubar>
															</div>
															<div class="eim-flexible-height" style="width: 100%;">
																<eim-tree-data-grid #eventTreeDataGrid [equals]="eventTreeDataGridEquals">
																</eim-tree-data-grid>
															</div>
														</div>
													</p-panel>
												</div>
											</div>
										</div>
									</p-tabpanel>
									<p-tabpanel [value]="1">
										<div style="padding:5px; height: 100%">
											<div style="height: 100%; overflow: hidden;" eim-vertical-container>
												<div class="eim-data-grid-menu">
													<eim-menubar [model]="attributeTypeDataGridMenuItems"></eim-menubar>
												</div>
												<div class="eim-flexible-height" style="width: 98%">
													<eim-data-grid #attributeTypeDataGrid [equals]="attDataGridEquals"
														[contextMenuItems]="attributeTypeContentsMenuItems"
														(contextmenu)="onAttributeTypeContextMenuWorkflow($event)"
														(selected)="onSelectAttributeTypeData($event)"></eim-data-grid>
												</div>
											</div>
										</div>
									</p-tabpanel>
								</p-tabpanels>
							</p-tabs>
						
							<p-tabs #eventsSettings [value]="0" [ngStyle]="{'display': eventSelected ? 'flex' : 'none', 'height': '100%'}">
								<p-tablist>
									<p-tab [value]="0">{{ 'EIM_ADMINS.LABEL_02108' | translate }}</p-tab>
								</p-tablist>
								<p-tabpanels>
									<p-tabpanel [value]="0">
										<div style="padding:5px; height: 100%">
											<div class="p-grid" style="height: 100%;">
												<div class="p-col-5" style="height: 100%;">
													<div *ngFor="let lang of languages;" class="eim-form-item">
														<label class="eim-form-label eim-form-label-required">{{ 'EIM_ADMINS.LABEL_02003' |
															translate:lang }}</label>
														<div class="eim-form-input">
															<input name="name_event_{{lang.lang}}" type="text" required="true" pInputText
																[(ngModel)]="selectedEventType.nameList[lang.lang]" style="width: 100%;"
																(ngModelChange)="onWorkflowEventChange($event)" />
														</div>
													</div>
													<div class="eim-form-item">
														<label class="eim-form-label">{{ 'EIM_ADMINS.LABEL_02109' | translate:lang }}</label>
														<div class="eim-form-input">
															<label *ngIf="selectedEventType.id >= 0">{{ getSelectItemsLabel( baseEventTypeList,
																selectedEventType.baseEventTypeId ) }}</label>
															<p-select *ngIf="selectedEventType.id < 0" name="eventType"
																[options]="baseEventTypeList" [(ngModel)]="selectedEventType.baseEventTypeId"
																appendTo="body" [style]="{'width': '100%', 'overflow-x': 'hidden'}"
																[disabled]="selectedEventType.id >= 0"></p-select>
														</div>
													</div>
													<div class="eim-form-item">
														<label class="eim-form-label">{{ 'EIM_ADMINS.LABEL_02110' | translate:lang }}</label>
														<div class="eim-form-input">
															<p-select name="guardList" [options]="guardList"
																[(ngModel)]="selectedEventType.guardConditionId" appendTo="body"
																[style]="{'width': '100%', 'overflow-x': 'hidden'}"></p-select>
														</div>
													</div>
												</div>
												<div class="p-col-7" style="height: 100%;">
													<p-panel class="eim-panel-containing-grid"
														header="{{ 'EIM_ADMINS.LABEL_02111' | translate:lang }}" [style]="{'height': '100%'}">
														<div style="height: 100%;" eim-vertical-container>
															<div class="eim-data-grid-menu">
																<eim-menubar [model]="mailKindDataGridMenuItems"></eim-menubar>
															</div>
															<div class="eim-flexible-height" style="height: 100%; width: 100%">
																<eim-data-grid #mailTypeDataGrid [equals]="dataGridEquals"
																	[contextMenuItems]="mailTypeContentsMenuItems"
																	(contextmenu)="onMailTypeContextMenuWorkflow($event)"
																	(selected)="onSelectMailTypeData($event)"
																	style="width: 90%"></eim-data-grid>
															</div>
														</div>
													</p-panel>
												</div>
											</div>
										</div>
									</p-tabpanel>
								</p-tabpanels>
							</p-tabs>
						</form>
						</as-split-area>
				</as-split>
			</div>
			<div class="p-rtl eim-admin-footer" dir="rtl">
				<button pButton type="button" class="p-button-primary" [disabled]="!creatable()" (click)="onClickRegistWorkflow($event);" icon="fa fa-check" label="{{ 'EIM.LABEL_03005' | translate }}"></button>
			</div>

		</as-split-area>

	</as-split>
</div>