
:root {
	--eim-font-family: "メイリオ", "Meiryo UI", "sans-serif";
	--eim-color: #555555;

	--eim-input-enable-background-color: #ffffcc;

	--eim-header-background: linear-gradient(rgb(246, 247, 249) 0%, rgb(235, 237, 240) 100%);
	--eim-selected-row-background-color: #c4eefc;
	--eim-odd-row-background-color: #fff;
	--eim-even-row-background-color: #f6f6f6;
	--eim-row-hover-background-color: #f1f5f9;

	--eim-menu-item-padding: 3px;

	--eim-button-padding: 2px 6px;
	--eim-drawer-header-padding: 0.857rem 1rem;

	
	/* PrimeNG */
	--p-semantic-primary-50: #c4eefc;
}

html, body {
	height: 100%;
}

body {
	font-family: var(--eim-font-family);
	color: var(--eim-color);
	overflow: hidden;
	margin: 0px;
	background-color: #494646;
}

pre {
	font-family: var(--eim-font-family);
}

/* ==========================================================================
	 共通マージン
	 ========================================================================== */
.eim-narrow-margin-top {
	margin-top: 3px!important;
}

.eim-narrow-margin-right {
	margin-right: 3px!important;
}

.eim-narrow-margin-bottom {
	margin-bottom: 3px!important;
}

.eim-narrow-margin-left {
	margin-left: 3px!important;
}


.eim-wide-margin-top {
	margin-top: 6px!important;
}

.eim-wide-margin-right {
	margin-right: 6px!important;
}

.eim-wide-margin-bottom {
	margin-bottom: 6px!important;
}

.eim-wide-margin-left {
	margin-left: 6px!important;
}


/* ==========================================================================
	 フォーム関連
	 ========================================================================== */
input, .p-inputtext {
	border-radius: 0px !important;
	border: 1px solid #d6d6d6;
	background: #ffffff;
	color: #555555;
	padding: .25em;
}
.p-inputtext:disabled {
	color: #555555!important;
}
.p-inputtext:enabled:hover {
	border-color: silver;
}
.eim-form-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 3px;
	margin-bottom: 3px;
}
.eim-form-item .p-disabled {
	opacity: 1.0;
	background: #eeeeee!important;
	color: #555555;
}

/** ラベルと入力欄 */
.eim-form-label {
	width: 20%;
	margin-right: 6px;
	word-wrap: break-word;
	padding-top: 3px;
}

.eim-form-label-flat-type{
	margin-right: 6px;
	word-wrap: break-word;
	padding-top: 3px;
	width: 130px;
	background: #99ccff;
	color: #1319a6;
}

.eim-form-input {
	width: 80%;
}

.eim-form-item .p-inputtext {
	height: 26px;
}
.eim-form-item .p-inputtext.p-select-label {
	height: 24px;
	user-select: text; /* 2024.10 文字列選択ができるように追加 */
}
eim-login .eim-form-item .p-inputtext {
	height: 34px!important;
}
eim-login .p-select .p-select-label {
	height: 34px!important;
}

/** チェックボックス・ラジオボタンなど、複数で構成されている入力欄 */
.eim-form-input-surround {
	border: transparent 1px solid;
	padding: 0px;
	display: flex;
}

/** 検索ボタンありで×ボタンで消去可能な入力欄 */
.eim-form-input-for-search-and-clear {
	display: flex;
	width: 90%;
	padding: .25em;
}
.eim-form-input-text-for-search-and-clear {
	display: flex;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	float:left;
	white-space: nowrap;
}
.eim-form-input-search-button-for-search-and-clear {
	margin-left: 5px;
	float: right;
}

/** ラベルと入力欄(横幅が広い場合) */
.eim-form-wide .eim-form-label {
	min-width: 180px;
	margin-right: 6px;
}
.eim-form-wide .eim-form-input {
	width: calc(100% - 180px);
	padding-right: 5px;
}
.eim-form-wide .eim-form-input.eim-form-no-label {
	width: 100%;
	padding-right: 5px;
}

/** フラットタイプのラベルと入力欄 */
.eim-form-wide .eim-form-label-flat-type {
	min-width: 130px;
	margin-right: 6px;
	padding: 1px 3px 1px 3px;
}

/** ラベルに対して必須マークの位置と色を指定(afterでラベルの右に必須マーク、beforeでラベルの左に必須マーク) */
.eim-form-label-required:after {
	content: "*";
	color: #ff0000;
}
.eim-form-input-multi{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 3px;
}
.eim-form-input > .eim-form-input-multi-surround > .eim-form-input-multi:last-child {
	margin-bottom: 0px;
}
.eim-form-input-multi-dropdown {
	width: 100%;
}
.eim-form-input-multi-input-area {
	width: calc(100% - 58px);
}
.eim-form-input-multi-input-area:disabled {
	width: 100%;
}
.eim-form-input-multi-input-area-disabled {
	width: 100%;
}
.eim-form-input-multi-button-area {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 58px;
	margin-left: 1px;
}
.eim-form-input-multi-button {
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left: 3px!important;
	width: 20px;
	height: 20px;
}

.p-selectbutton {
	border: thin solid #ccc;
	border-radius: 3px!important;
}

.p-selectbutton .p-togglebutton:first-child {
    border-start-start-radius: 3px!important;
    border-end-start-radius: 3px!important;
}
.p-selectbutton .p-togglebutton:last-child {
    border-start-end-radius: 3px!important;
    border-end-end-radius: 3px!important;
}

.eim-toggle-btn.p-togglebutton {
	border: none;
	background-color: #fff !important;
	padding: 0px !important;
}

.eim-toggle-btn.p-togglebutton > .p-togglebutton-content {
	margin:0.429rem 1rem;
	padding: 0px !important;
}

 .p-selectbutton .p-togglebutton-checked > .p-togglebutton-content > .p-togglebutton-label {
	border: none;
	color: #FFF !important;
 }

/* 2022.03 新規 */
.p-selectbutton .p-togglebutton {
	border: none;
	background-color: #fff !important;
	color: #333333 !important;
	font-size: 12px;
	padding:0px!important
}

.p-selectbutton .p-togglebutton .p-togglebutton-content {
	padding: 4px 12px;
}

.p-selectbutton .p-togglebutton:not(.p-disabled):not(.p-highlight):hover {
	background-color: #eee!important;
} 
/* 2022.03 削除 */
/*.p-togglebutton.p-button.ui-state-default, .p-selectbutton .p-button.ui-state-default {
	border: none;
}*/
/* 2022.03 削除 */
/*.p-togglebutton.p-button.ui-state-active, .p-selectbutton .p-button.ui-state-active {
	border: none;
}*/

.eim-toggle-btn.p-togglebutton {
/*	width: 25.27px;*/
	height: 100%;
}

/* .eim-toggle-btn.p-togglebutton.p-togglebutton-checked {
	background: linear-gradient(to bottom,#206434,#0c4627);
	border-color: #35a86a;
	border-width: .5px;
	transition-property: none;
	color: #fff;
} */
/* 入力エラー テキストインプット */
.p-inputtext.ng-dirty.ng-invalid {
	border: solid 1px #f44336;
}

/* 入力エラー ドロップダウン */
eim-combo-box-input-form-item .ng-dirty.ng-invalid .p-select.p-component {
	border: solid 1px #f44336;
}
p-select.ng-dirty.ng-invalid > .p-select {
	border: solid 1px #f44336;
}

/* 入力エラー ラジオボタン */
eim-radio-button-input-form-item .ng-dirty.ng-invalid {
	border: solid 1px #f44336;
}

/* 入力エラー チェックボックス */
eim-check-box-input-form-item .ng-dirty.ng-invalid {
	border: solid 1px #f44336;
}

/* 入力エラー ユーザ選択 */
eim-user-input-form-item .ng-dirty.ng-invalid .p-inputtext {
	border: solid 1px #f44336;
}

/* 入力エラー ファイル */
eim-attachement-file-input-form-item .ng-dirty.ng-invalid .p-listbox {
	border: solid 1px #f44336;
}

/** 入力エラー カレンダー */
eim-calendar-input-form-item .ng-dirty.ng-invalid .p-datepicker .p-inputtext {
	border: solid 1px #f44336;
}

/** 入力エラー マスタ検索 */
eim-master-input-form-item .ng-dirty.ng-invalid .p-inputtext {
	border: solid 1px #f44336;
}

/** 入力エラー リッチテキスト */
eim-rich-text-input-form-item .p-editor-container {
	border: transparent 1px solid;
	padding: 3px;
}

eim-rich-text-input-form-item .ng-dirty.ng-invalid .p-editor-container {
	border: solid 1px #f44336;
}

.eim-input-form-item-right-message {
	align-self: center;
}

/* ==========================================================================
	 リッチテキスト関連
	 ========================================================================== */
p-editor {
	width: 100%;
}
.p-editor-container .p-editor-toolbar {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	background: #f4f4f4!important;
}
.p-editor-container .p-editor-toolbar.ql-snow {
	border-bottom: 0px;
}

.p-editor-container .p-editor-content, .p-editor-container .p-editor-content .ql-editor {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.p-editor-container .p-editor-toolbar:not(.p-disabled):hover {
	border-color: silver;
}
.p-editor-container .p-editor-content.ql-snow {
	border-width: 0px;
}
.p-editor-container .p-editor-content.ql-snow.ql-disabled {
	border-top: 0px;
}

.p-editor-container .p-editor-content.ql-snow .ql-editor {
	border: 1px solid #d6d6d6;
}
.p-editor-container .p-editor-content.ql-snow.ql-disabled .ql-editor {
	border-top: 0px;
}

.p-editor-container .p-editor-content:not(.ql-disabled) .ql-editor:hover {
	border-color: silver!important;
}
.p-editor-toolbar {
	padding: 1px!important;
}
.ql-editor {
	padding: 3px;
	background-color: #ffffcc;
	color: #555555;
}

.p-editor-container .p-editor-content .ql-editor {
	background-color: #ffffcc!important;
}

.eim-form-input-disabled .p-editor-container .p-editor-content .ql-editor {
	opacity: 1;
	background-color: #eeeeee;
}
.eim-form-input-disabled .p-editor-container .p-editor-toolbar {
	height: 0px;
	border-bottom: 0px;
	background-color: #eeeeee;
}

.eim-form-input-disabled p-header {
	visibility: hidden;
}

/** テキスト関連 */
.p-inputtext {
	padding: 3px;
	padding-inline-start: 3px!important;
}

/** データグリッド関連 */
.ag-theme-fresh {
	--ag-foreground-color: inhrit;
	--ag-font-size: inhrit;
	--ag-font-family: inherit;

	--ag-selected-row-background-color: var(--eim-selected-row-background-color);
	--ag-even-row-background-color: var(--eim-odd-row-background-color);
	--ag-odd-row-background-color: var(--eim-even-row-background-color);
	--ag-row-hover-color: var(--eim-selected-background-color);

	--ag-row-hover-color: var(--eim-row-hover-background-color);
}

.eim-editable-column-header .ag-header-cell-text:after {
	padding-left: 10px;
	content: "\e91e";
	font-family: 'eim-icon' !important;
	color: #009688;
}
.ag-body-viewport {
	background: #ffffff;
}

/* .ag-theme-fresh {
	color: #555;
} */
.ag-theme-fresh .ag-root-wrapper {
	border: 1px solid #d6d6d6;
}
.ag-fresh .ag-header {
	border-bottom-color: #d6d6d6;
	/* color: #555555; */
}
.ag-fresh .ag-header-icon {
	color: inherit;
}
.ag-theme-fresh .ag-header-row, .ag-theme-fresh .ag-row {
	color: #555;
}
.ag-theme-fresh .ag-header-row {
	overflow: initial;
}
/* 2021.12.27 新規 */
.ag-fresh .ag-header-cell {
	padding: 4px 2px 2px;
}
/* 2021.12.27 新規 */
.ag-fresh .ag-cell {
	border-right: 1px dotted #c0c0c0;
}
/* 2021.12.27 新規 */
.ag-fresh .ag-cell-not-inline-editing {
	padding: 2px;
}
.ag-fresh .ag-ltr .ag-header-cell {
	border-right-color: #d6d6d6;
	border-right-style: solid;
    border-right-width: 1px;
}
/* .ag-theme-fresh .ag-header-row:not(:first-child) .ag-header-cell {
	border: none;
} */
.ag-fresh .ag-header-group-cell-with-group {
	border-bottom: 1px solid #d6d6d6;
}
/* 2022.02 新規 */
.ag-fresh .ag-ltr .ag-header-group-cell-label {
	display: block;
	text-align: center;
	padding: 4px 2px 2px;
}
.ag-fresh .column-bottom-plus .ag-header-cell-label {
    align-items: center;
}
.ag-theme-fresh input.ag-input-field-input[class^='ag-'] {
	background-color: var(--eim-input-enable-background-color);
}
.ag-theme-fresh input.ag-input-field-input[class^='ag-'] {
	border-color: #d6d6d6;
}
.ag-theme-fresh input.ag-input-field-input[class^='ag-']:hover {
	border-color: silver;
}
.ag-theme-fresh input.ag-input-field-input[class^='ag-']:focus {
	box-shadow: 0 0 5px #1f89ce;
	border-color: #d6d6d6;
}
.ag-theme-fresh .ag-select .ag-picker-field-wrapper:focus {
	box-shadow: 0 0 5px #1f89ce;
}
.ag-theme-fresh .ag-menu {
	background-color: #f6f6f6;
}
.ag-theme-fresh .ag-picker-field-wrapper {
	border-radius: 0px;
	border-color: #d6d6d6;
}
.ag-theme-fresh .ag-picker-field-wrapper:hover {
	border-color: silver;
}
.ag-theme-fresh .ag-select .ag-picker-field-display {
	margin: 0px;
	padding-left: 3px;
	background-color: var(--eim-input-enable-background-color);
	border-right: 1px solid #d6d6d6;
}
.ag-theme-fresh .ag-select .ag-picker-field-display:hover {
	border-right: 1px solid silver;
}
.ag-theme-fresh .ag-radio-button-input-wrapper {
	background-color: var(--eim-input-enable-background-color);
}
.ag-theme-fresh .ag-cell {
	line-height: unset;
}
.ag-theme-fresh textarea[class^='ag-'] {
	background-color: var(--eim-input-enable-background-color)!important;
	border-color: #d6d6d6;
	color: #555;
}
.ag-theme-fresh textarea[class^='ag-']:focus {
	border-color: #d6d6d6;
	box-shadow: 0 0 5px #1f89ce;
}
/** セル入力欄 */
.ag-theme-fresh  input.ag-cell-edit-input:focus {
	background-color: var(--eim-input-enable-background-color);
	border-color: #d6d6d6;
	border: none;
	box-shadow: 0 0 5px #1f89ce;
}
.ag-theme-fresh .ag-cell-inline-editing {
	border: none;
}
/** フィルタ入力欄 */
.ag-theme-fresh .ag-ltr .ag-select .ag-picker-field-wrapper {
	padding-left: 0px;
}

.ag-header-row:not(:first-child) .ag-header-cell:not(.ag-header-span-height.ag-header-span-total, .ag-header-parent-hidden) {
	border-top: none;
}

.p-component a {
	color: #555555;
}

/** パネル関連 */
/* 2022.03 修正 */
p-panel > .p-panel.p-component {
	border-radius: initial;
}
/* 2022.03 修正 */
p-panel > .p-panel.p-component {
	border: 1px solid #d6d6d6;
}
/* 2022.03 修正 */
p-panel > .p-panel.p-component > .p-panel-header {
	border: 1px solid #d6d6d6;
}
/** カーソルアイコン関連 */
.eim-wait-cursor * {
	cursor:progress !important;
}

/** フォント関連 */
.p-component, .p-component input, .ag-fresh, .ag-theme-fresh textarea, .p-dialog-title {
	font-family: "メイリオ", "Meiryo UI", "sans-serif";
	color: #555555;
}
.p-button-text {
	font-family: "メイリオ", "Meiryo UI", "sans-serif";
}
/* ==========================================================================
	 セレクト
	 ========================================================================== */
.eim-theme {
	--p-select-background: #ffffcc;
	--p-select-padding-x: 3px;
	--p-select-padding-y: 3px;
	--p-select-border-color: #d6d6d6;
	--p-select-border-radius: 0px;
	--p-select-list-padding: 0px;
	--p-select-option-padding: 3px;
	--p-select-option-focus-background: #eaeaea;
	--p-select-option-border-radius: 0px;
	--p-select-dropdown-width: 18px;
	--p-select-overlay-border-radius: 3px;
}

/* .p-select {
	border-color: #d6d6d6;
} */
.p-select:not(.p-disabled):hover {
	border-color: silver;
}
.p-select.p-disabled .p-select-label {
	color: #555555 !important;
}
/* 2022.02 修正 */
.p-select .p-select-label, .p-select .p-select-label.p-placeholder{
	display: flex;
	align-items: center;
	font-family: "メイリオ", "Meiryo UI", "sans-serif";
	border-color: #d6d6d6;
	color: #555;
}
/* 2022.02 新規 */
.p-select .p-select-dropdown {
	border-left: 1px solid #d6d6d6;
	padding: 0px 3px;
	background-color: #ffffff;
}
.p-select.p-disabled .p-select-dropdown {
	background-color: #eeeeee;
}
/* 2022.02 新規 */
.p-select .p-select-dropdown .p-select-dropdown-icon {
	width:0.5rem
}
.p-select, .p-inputtext, .p-datepicker-dropdown {
	border-radius: 0px;
}

/* 2022.05 新規 */
/* .p-select  */.p-select-overlay.p-component .p-select-list-container {
	padding: .4em;
}
/* 2022.03 新規 */
/* .p-select  */.p-select-overlay.p-component .p-select-list .p-select-option {
	padding: .125em .25em;
}
/* 2022.03 新規 */
/* .p-select  */.p-select-overlay.p-component .p-select-list .p-select-option.p-select-option-selected {
	color: #333333;
  	background-color: #c4eefc;
}
/* .p-select  */.p-select-overlay .p-select-list .p-select-option:not(.p-select-option-selected):not(.p-disabled):hover {
	color: #555;
  	background-color: #eaeaea;
}
/** フッタ */
.eim-body-with-footer {
	height: calc(100% - 30px);
	overflow: auto;
}
.eim-footer {
	margin-top: 6px;
	height: 30px;
	float: right;
}

/* ==========================================================================
	 メニュー
	 ========================================================================== */
.eim-theme {
	--p-menubar-gap: 0px;
	--p-menubar-padding: 0px;
	--p-menubar-border-radius: 0px;
	--p-menubar-base-item-border-radius: 0px;
	--p-menubar-item-color: #333333;
	--p-menubar-item-icon-focus-color: inherit;
	--p-menubar-item-icon-active-color: inherit;
	--p-menubar-item-icon-color: #333333;
	--p-menubar-item-focus-background: transparent;
	--p-menubar-submenu-padding: 0px;
}

.p-menubar-item {
	color: #555555;
}
.p-menubar-item-icon, .p-contextmenu-item-icon {
	width: 14px;
	height: 21px;
}
.p-menubar .p-menubar-item .p-menubar-item-link {
	color: #555555;
	margin-top: 1px;
	margin-bottom: 1px;
}
.p-menubar .p-menubar-item .p-menubar-submenu {
	padding: 0px;
}
.p-menubar .p-menubar-item {
	margin: 0px;
}
.p-menubar .p-menubar-submenu {
	background: #ffffff;
	border-width: 0px;
	border-radius: 0px;
	width: auto;
	min-width: 12.5em;
	z-index: 2147483647!important;
}
.p-menubar .p-menubar-item.p-menubar-end {
	margin: 0px;
}
.p-menubar .p-menubar-item .p-menubar-item-link {
	margin: 0px;
}
/* 2022.02 新規 */
.p-menubar .p-menubar-item .p-menubar-item-link .p-menubar-item-label {
	line-height: unset;
}
.p-menubar .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link .p-menubar-item-icon,
.p-menubar .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link .p-menubar-item-label {
	color: #555;
}

.p-menubar .p-menubar-item-link .p-menubar-item-icon {
	align-items: center;
	justify-content: center;
	margin-right: .25em;
	display: flex;
}

.p-menubar .p-menubar-item-link:focus {
	box-shadow: 0 0 5px #1f89ce;
}

/** コンテキストメニュー */
.eim-theme {
	--p-contextmenu-item-padding: var(--eim-menu-item-padding);
	--p-contextmenu-item-icon-color: #333333;
	--p-contextmenu-item-icon-focus-color: inherit;
	--p-contextmenu-item-gap: 0px;
	--p-contextmenu-list-padding: 0px;
	--p-contextmenu-border-color: #C8C8C8;
}
.p-contextmenu .p-contextmenu-item-link .p-contextmenu-item-icon {
	align-items: center;
	justify-content: center;
	margin-right: .25em;
	display: flex;
}
/** グリッドメニュー */
.eim-data-grid-menu {
	margin-top: 2px;
	margin-bottom: 2px;
}
.eim-data-grid-menu p-menubar > .p-menubar.p-component {
	background: none;
}

.eim-data-grid-menu p-menubar > .p-menubar {
	padding: 0px;
	border: none;
}

.eim-data-grid-menu	.p-menubar .p-menubar-root-list > .p-menubar-item {
	border-radius: 3px;
	color: #373a3c;
	background: linear-gradient(to bottom, #F0F1F1, #E5E5E5);
	border-color: #E5E5E5;
	border-width: 0.5px;
	transition-property: none;
	margin-left: 3px;
	margin-right: 3px;
}
.eim-data-grid-menu	.p-menubar .p-menubar-root-list > .p-menubar-item-active {
	border-color: #3dabff;
	border-width: 0.5px;
}

.eim-data-grid-menu	.p-menubar .p-menubar-root-list > .p-menubar-item-active > .p-menubar-item-content > .p-menubar-item-link {
	background: #deeaff;
	border-color: #3dabff;
	border-width: 0.5px;
	color: #373a3c;
}

.eim-data-grid-menu	.p-menubar .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > a {
	margin-top: 0px;
	margin-bottom: 0px;
	border-color: #e5e5e5;
	border-width: 0.5px;
	padding-top: 2px;
	padding-bottom: 3px;
}

.eim-data-grid-menu	.p-menubar .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > a:focus {
	background: #B5EEFF;
	margin-top: 0px;
	margin-bottom: 0px;
	border-color: #26D0FF;
	border-width: 0.5px;
	outline: none;
}

.eim-data-grid-menu	.p-menubar .p-menubar-root-list > .p-menubar-end {
	border: none!important;
}
.eim-data-grid-menu .p-menubar > p-menubarsub p-menubarsub .p-menubar-item .p-menubar-item-link:hover {
	background: #c4eefc;
	border-radius: 0px;
	color: #555555;
}

.ag-bl-center .ag-bl-full-height-center {
	padding-right: 1px;
}

.ag-bl-full-height {
	overflow-x: hidden;
}

/** コンテキストメニュー関連 */
body .p-contextmenu {
	font-size: 12px;
	padding: 0px;
	border-radius: 0px;
	background: linear-gradient(to bottom,#f6f7f9 0,#ebedf0 100%);
	min-width: 100px;
}

.p-contextmenu .p-contextmenu-item:not(.p-disabled) > .p-contextmenu-item-content {
	color: #555555;
}

.p-contextmenu .p-contextmenu-item:not(.p-disabled) > .p-contextmenu-item-content:hover {
	background: #c4eefc;
	color: #333333;
}
.p-contextmenu .p-contextmenu-item > .p-contextmenu-item-content .p-contextmenu-item-link {
	color: inherit;
}
/* 2022.01 新規 右クリックメニュー対応 */
.p-contextmenu .p-contextmenu-item >.p-contextmenu-item-link {
	padding: 0.25em;
}
.p-contextmenu.p-menubar .p-menubar-submenu {
	background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
}

.p-contextmenu.p-menubar .p-menuitem-link {
	white-space: nowrap;
}

.p-menubar .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link{
    padding: 0.25em;
}
.p-menubar .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link:focus {
	box-shadow: none;
}
/** フォントサイズ */
.eim-font-size-s {
	font-size: 9px;
}
.eim-font-size-s .p-component {
	font-size: 9px;
}
/* 2021.12 新規 */
.eim-font-size-s .p-component .p-inputtext {
	font-size: 9px;
}
/* 2021.12 削除
.eim-font-size-s .ui-widget-content {
	font-size: 9px;
} */
.eim-font-size-s .ag-fresh, .eim-font-size-s .ag-theme-fresh textarea[class^='ag-'] {
	font-size: 9px;
}
.eim-font-size-s .ag-filter-select {
	font-size: 9px;
}
.eim-font-size-s .ag-filter-filter {
	font-size: 9px;
}
.eim-font-size-s .mat-tab-label {
	font-size: 9px;
}
.eim-font-size-s .ag-icon {
	width: 9px;
	height: 9px;
}

.eim-font-size-m {
	font-size: 12px;
}
.eim-font-size-m .p-component {
	font-size: 12px;
}
/* 2021.12 新規 */
.eim-font-size-m .p-component .p-inputtext {
	font-size: 12px;
}
/* 2021.12 削除
.eim-font-size-m .ui-widget-content {
	font-size: 12px;
} */
.eim-font-size-m .ag-fresh, .eim-font-size-m .ag-theme-fresh textarea[class^='ag-'] {
	font-size: 12px;
}
.eim-font-size-m .ag-filter-select {
	font-size: 12px;
}
.eim-font-size-m .ag-filter-filter {
	font-size: 12px;
}
.eim-font-size-m .mat-tab-label {
	font-size: 12px;
}
.eim-font-size-m .ag-icon {
	width: 12px;
	height: 12px;
}


.eim-font-size-l {
	font-size: 14px;
}
.eim-font-size-l .p-component {
	font-size: 14px;
}
/* 2021.12 新規 */
.eim-font-size-l .p-component .p-inputtext {
	font-size: 14px;
}
/* 2021.12 削除
.eim-font-size-l .ui-widget-content {
	font-size: 14px;
} */
.eim-font-size-l .ag-fresh, .eim-font-size-l .ag-theme-fresh textarea[class^='ag-'] {
	font-size: 14px;
}
.eim-font-size-l .ag-filter-select {
	font-size: 14px;
}
.eim-font-size-l .ag-filter-filter {
	font-size: 14px;
}
.eim-font-size-l .mat-tab-label {
	font-size: 14px;
}
.eim-font-size-l .ag-icon {
	width: 14px;
	height: 14px;
}

/** メニュー */
.p-menubar {
	width: auto;
}
.p-menubar .p-menubar-item .p-menubar-submenu {
	width: auto;
}

/* ==========================================================================
	 アコーディオン
	 ========================================================================== */
.eim-theme {
	--p-accordion-header-active-background: var(--eim-header-background);
	--p-accordion-header-background: #f4f4f4;
	--p-accordion-header-padding: 7px 6px 6px 6px;
	--p-accordion-header-hover-background: #dbdbdb;
	--p-accordion-header-active-hover-background: #f4f4f4;
	--p-accordion-header-first-border-width: 1px;
	--p-accordion-header-first-top-border-radius: 0px;
	--p-accordion-header-last-border-width: 1px;
	--p-accordion-header-last-bottom-border-radius: 0px;
	--p-accordion-content-border-width: 1px;
}
.p-accordion .p-accordioncontent-content {
	padding: 0px;
	color: #555;
}
.p-accordion .p-accordionheader {
	color: #555;
	font-weight: unset;
}
.p-accordion .p-accordionpanel {
	border-width: 0px;
}
.p-accordion p-accordion-panel .p-accordion-tab.p-accordionpanel-active {
	margin-bottom: 0px;
}
.p-accordion p-accordion-panel:last-child .p-accordion-tab {
	margin-bottom: 0px;
}

/* ==========================================================================
	 タブビュー
	 ========================================================================== */
/* 2022.05 新規 */
.p-tabs {
		padding: .25em;
}
.p-tabs .p-tabpanel  {
		border-width: 0;
		background: 0;
}

p-tabs.p-tabs.p-component {
	height: 100%;
}

p-tabpanels.p-tabpanels {
	height: calc(100% - 31.39px);
	border-style: solid;
	border-width: 1px;
	border-color: #d6d6d6;
}

p-tabpanel.p-tabpanel  {
	height: 100%;
}

/* ==========================================================================
	 ツリー
   ========================================================================== */
.eim-theme {
	--p-tree-node-selected-background: var(--eim-selected-row-background-color);
	--p-tree-node-padding: 0px;
	--p-tree-node-border-radius: 3px;
	--p-tree-gap: 0px;
}

div.p-tree.p-component.p-tree-selectable {
	height: 100%;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #c8c8c8;
}
/* 2022.05 新規 ツリー用 */
div.p-tree.p-component.p-tree-selectable .p-tree-root {
	height: 100%;
	position: relative;
}
/* 2022.05 新規 ツリー用 */
div.p-tree.p-component.p-tree-selectable .p-tree-root .p-tree-root-children {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	/* アコーディオン検索でファセットが表示されなくなってしまったためコメントアウト　高畑さんに確認 */
	/* position: absolute; */
}
.p-tree .p-tree-root-children .p-tree-node .p-tree-node-content {
	display: block;
}
.p-tree .p-tree-root-children .p-tree-node .p-tree-node-content:focus {
	box-shadow: none;
}
.p-tree .p-tree-node-content.p-tree-node-selectable:not(.p-tree-node-selected):hover {
	background: #eaeaea !important;
	color: #333333 !important;
}
.p-tree .p-tree-root-children .p-tree-node .p-tree-node-content.p-tree-node-selected .p-tree-node-toggle-button:hover, .p-tree .p-tree-root-children .p-tree-node .p-tree-node-content.p-tree-node-selected .p-tree-node-icon:hover {
	color: #555;
}

.p-tree .p-tree-root-children .p-tree-node .p-tree-node-content .p-tree-node-toggle-button {
	margin-right: 0.5rem;
}

.p-tree .p-tree-root-children .p-tree-node .p-tree-node-content .p-tree-node-icon {
	margin-right: 0.5rem;
}

/* 2021.12 新規 */
p-tabs.p-tabs.p-component > .p-tablist-tab-list > li.p-highlight {
	background: #B0E0E6;
}
/* 2021.12 新規 */
p-tabs.p-tabs.p-component > .p-tablist-tab-list > li.p-highlight > a {
	background: #B0E0E6;
	color: #555;
}
li.p-highlight {
	background: #B0E0E6;
}
/* 2021.03 修正 */
.p-tabs.p-component>.p-tablist-tab-list {
	padding: 0px 3px;
}

/* ==========================================================================
	 ツリーテーブル
	 ========================================================================== */
#eim-body .p-treetable .p-treetable-tbody > tr > td {
	padding: 3px 6px;
}
#eim-body .p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler {
	width: 1rem;
	height: 1rem;
}
#eim-body .p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler .p-iconwrapper {
	width: 10px;
	height: 10px;
}
#eim-body .p-treetable .p-treetable-thead > tr > th {
	background-image: linear-gradient(rgb(246, 247, 249) 0%, rgb(235, 237, 240) 100%);
	padding: 3px 6px;
	font-weight: normal;
	border-color: #c8c8c8;
 	border-width: 1px;
}
#eim-body .p-treetable .p-treetable-tbody>tr:not(.p-treetable-row-selected):hover {
	background: #eaeaea !important;
	color: #333333 !important;
}

/* ==========================================================================
	 入力
	 ========================================================================== */
.eim-form-item .p-inputtext, .eim-form-item .ui-inputtext {
	background-color: #ffffcc;
	color: #555555;
}

.eim-form-item .p-inputtext:disabled, .eim-form-item .ui-inputtext:disabled {
	opacity: 1;
	background-color: #eeeeee;
}
.eim-form-item .p-inputtext:enabled:focus {
	box-shadow: 0 0 5px #1f89ce;
}

/** コンボボックス用 */
.eim-form-item .p-disabled .p-inputtext {
	opacity: 1;
	background-color: #eeeeee;
	user-select: text; /* 2024.10 文字列選択ができるように追加 */
}

/** ラジオボタン用 */
.eim-form-item .p-radiobutton-box {
	background-color: #ffffcc;
	line-height: 10px!important;
	font-size: 12px;
}
.eim-form-item div.p-radiobutton.p-disabled {
	background-color: transparent !important;
}

.eim-form-item div.p-radiobutton.p-disabled .p-radiobutton-box {
	opacity: 1;
	background-color: #eeeeee;
}

.eim-form-item .p-radiobutton-icon {
	font-size: 7px;
	padding-top: 1px;
	margin-top: 0px;
	margin-left: 0px;
}

_:-ms-lang(x), .eim-form-item .p-radiobutton-icon {
	margin-top: -.5em;
	margin-left: -.5em;
}

/* IE/Edgeラジオボタンアイコン中央寄せ */
_:-ms-lang(x), .eim-form-item .p-radiobutton-icon {
	vertical-align: middle;
}

/** ドロップダウン用 */
.eim-form-item .p-select:not(.p-disabled).p-focus {
	box-shadow: 0 0 5px #1f89ce;
}

/** リストボックス */
.eim-theme {
	--p-listbox-option-focus-background: #ffffff;
}

.p-listbox {
	border-color: #d6d6d6;
	border-radius: 0px;
}
.p-listbox:not(.p-disabled):hover {
	border-color: silver;
}
.eim-form-item .p-disabled .p-listbox-list {
	opacity: 1;
	background-color: #eeeeee;
}

.eim-form-input-selected-list .p-inputtext {
	background-color: #ffffff!important;
	color: #555555!important;
}
.eim-form-input-selected-list .p-disabled {
	background-color: #eeeeee!important;
}
/** リッチテキスト用（部品にenableがなく、非活性の表示は別部品となるため指定していない。) */
.p-editor-container .p-editor-content:not(.p-disabled) .ql-editor:focus {

	box-shadow: 0 0 5px #1f89ce;
	border: 1px solid #007ad9;
}

/* スピナー非表示 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
 	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance:textfield;
}

/* チップス用 */
.eim-form-item .p-autocomplete-chip-item {
	white-space: normal;
	font-size: 1em;
}

/* バリデーションチェックエラー時 */
.eim-form-item p-autocomplete.ng-dirty.ng-invalid .p-autocomplete-input-multiple {
	border-color: #f44336;
}

.eim-form-item p-listbox.ng-dirty.ng-invalid .p-inputtext {
	border-bottom-color: #f44336;
}

/* 2021.12 新規 */
eim-checkbox {
	display: inline-block!important;
}

p-checkbox .p-checkbox-checked .p-checkbox-box {
	border-color:#d6d6d6
}

.p-checkbox-box:disabled, .p-checkbox.p-disabled > .p-checkbox-box {
	opacity: 1!important;
}

/** IEパスワード可視化機能無効化 */
input::-ms-reveal {
	visibility:hidden
 }

p-chips > div > ul {
	border: 1px solid #d6d6d6;
}

.eim-form-input-default {
	border: 1px solid #d6d6d6;
	border-top-color: rgb(214, 214, 214);
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: rgb(214, 214, 214);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: rgb(214, 214, 214);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(214, 214, 214);
	border-left-style: solid;
	border-left-width: 1px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: #fff;
	color: #555;
}

/* ==========================================================================
	 ボタン
	 ========================================================================== */
.eim-theme {
	--p-button-border-radius: 3px;
	--p-button-primary-color: #555555;
	--p-button-primary-background: #007AD9;
	--p-button-primary-border-color: #0d98ed;
	--p-button-primary-hover-color: #ffffff;
	--p-button-primary-hover-background: #116fbf;
	--p-button-primary-hover-border-color: #116fbf;
}
	 
/* Primary */
.p-button {
	margin-right: .1em;
	column-gap: 0px!important;
}
.p-button:focus {
	box-shadow: none;
}
.p-button-primary.p-component.p-button {
	background: linear-gradient(to bottom, #0063FF, #003DD9);
	border-color: #003DD9;
	border-width: 0.5px;
	transition-property: none;
	color: #FFFFFF;
}

.p-button-primary.p-component.p-button:enabled:hover {
	background: #64A7FF;
	border-color: #64A7FF;
	border-width: 0.5px;
}

.p-button-primary.p-component.p-button:enabled:focus {
	background: #41bdf5;
	border-color: #26D0FF;
	border-width: 0.5px;
	box-shadow: none;
}
/* 2021.12 新規 */
.p-button-primary.p-component {
	padding: .25em 1em .25em 1em;
}

/* Info */
.p-button-info.p-component.p-button {
	background: #0d98ed;
	border-color: #0d98ed;
	border-width: 0.5px;
	color: #FFFFFF;
}

.p-button-info.p-component.p-button:enabled:hover {
	background: #41bdf5;
	border-color: #41bdf5;
	border-width: 0.5px;
}
.p-button-info.p-component.p-button:enabled:focus {
	background: #64D1FF;
	border-color: #26D0FF;
	border-width: 0.5px;
}
.p-button.p-button-info:enabled:focus {
	box-shadow: 0 0 5px #1f89ce;
}
.p-button-icon-only .p-button-icon {
	position: absolute;
	left: 50%;
	margin-left: -0.5em;
	width: 1em;
}
.p-button .p-button-icon-left {
	margin-right: 0.5rem;
}
/* Danger */
.p-button.p-button-danger:enabled:focus {
	box-shadow: 0 0 5px #e21e00;
}
/* ==========================================================================
	 データピッカー
	 ========================================================================== */
.eim-theme {
	--p-datepicker-dropdown-background: #0d98ed;
	--p-datepicker-dropdown-color: #FFFFFFb;
	--p-datepicker-dropdown-width: 2em;
	--p-datepicker-dropdown-border-color: #0d98ed;
	--p-datepicker-dropdown-border-radius: 0px;
	--p-datepicker-dropdown-hover-background: #41bdf5;
	--p-datepicker-dropdown-hover-border-color: #0d98ed;
	--p-datepicker-date-padding: 0px;
	--p-datepicker-date-width: 30px;
	--p-datepicker-date-height: 26px;
	--p-datepicker-date-selected-background: #41bdf5;
	--p-datepicker-date-border-radius: 3px;
	--p-datepicker-header-padding: 0 0.5em;
	--p-datepicker-buttonbar-padding: 0.5em;
	--p-datepicker-today-background: #d0d0d0;
	--p-datepicker-panel-padding: 0px;
	--p-datepicker-weekday-padding: 0.5rem;
	--p-datepicker-day-view-margin: 0px;

}

p-datepicker .p-datepicker .p-datepicker-dropdown {
	background: #0d98ed;
	border-color: #0d98ed;
	border-width: 0.5px;
	/* width: 2em; */
	padding: 0px;
}

p-datepicker .p-datepicker .p-datepicker-dropdown > .p-component {
	color: #FFFFFF;
}

p-datepicker .p-datepicker .p-datepicker-dropdown:disabled {
	background: #eeeeee;
	border-color: #d6d6d6;
	border-width: 0.5px;
	border-left: 0px;
	opacity: 1;
	cursor: default;
}
p-datepicker .p-datepicker .p-datepicker-dropdown:disabled > .p-component {
	color: #848484;
}
p-datepicker .p-datepicker .p-datepicker-dropdown:disabled:hover {
	background: #eeeeee;
	border-color: #d6d6d6;
	border-width: 0.5px;
}
p-datepicker .p-datepicker .p-datepicker-dropdown:hover {
	/* background: #41bdf5;
	border-color: #41bdf5; */
	border-width: 0.5px;
}
p-datepicker .p-datepicker .p-inputtext {
	width: 115px;
}

.eim-time-calendar-input-form-item .p-inputnumber {
	height: 26px;
	margin-top: -1px;
}
.eim-time-calendar-input-form-item .p-inputnumber .p-inputnumber-input {
	height: 26px;
}
.eim-time-calendar-input-form-item .p-inputnumber .p-inputnumber-input:enabled:hover {
	border-color: silver;
}
.eim-time-calendar-input-form-item .p-inputnumber .p-inputnumber-button {
	background: #0d98ed;
	color: #FFFFFF;
	border: 0.5px solid #d6d6d6;
	height: 50%;
	--p-inputnumber-button-border-radius:0px;
}
.eim-time-calendar-input-form-item .p-inputnumber .p-inputnumber-button:disabled {
	background: #eeeeee;
	border-color: #d6d6d6;
	color: #555;
}
.eim-time-calendar-input-form-item .p-inputnumber .p-inputnumber-button:hover {
	background: #41bdf5;
	border-color: #41bdf5;
}
/* .p-datepicker {
	padding: 0px;
} */
/* .p-datepicker table {
	margin: 0px;
} */
 .p-datepicker table td > span {
	/* width: 30px;
	height: 26px; */
	margin: 0px;
}
/* .p-datepicker table td {
	padding: 0px;
} */
/* .p-datepicker  */.p-datepicker-day-view {
	font-size: 1em!important;
}
.p-datepicker-calendar thead th {
	background-color: #f6f8fa;
}
/* .p-datepicker .p-datepicker-header {
	padding: 0 0.5em;
} */
.p-datepicker-panel:not(.p-datepicker-inline) .p-datepicker-header {
	background: linear-gradient(to bottom,#f6f7f9 0,#ebedf0 100%);
}
.p-datepicker-panel .p-datepicker-buttonbar {
	/* padding: 0.5em; */
	background: linear-gradient(to bottom,#f6f7f9 0,#ebedf0 100%);
}
.p-datepicker-panel .p-datepicker-buttonbar .p-button {
	background: linear-gradient(to bottom,#f0f1f1,#e5e5e5);
	border-color: #e5e5e5;
	border-width: 0.5px;
	padding: 0.25em 1em;
	color: #555555;
}
.p-datepicker-panel .p-datepicker-buttonbar .p-button:enabled:hover {
	background: #deeaff;
	border-color: #3dabff;
	border-width: 0.5px;
}
.icon-only-button {
	width: 25px;
	height: 25px;
}
/* 2021.12.27 新規 */
.p-button.icon-only-button {
	width: 25px;
	height: 25px;
	min-width: 25px;
}

.icon-only-button > .p-togglebutton {
	width: 25px;
	height: 25px;
}

/** 右寄せボタン */
.p-button.eim-right-alignment-button {
	margin-right: 0px;
	margin-left: 5px;
}

/** セレクトボタン */
.eim-select-btn.p-selectbutton .p-togglebutton.p-togglebutton-checked {
	background: #0d98ed !important;
	border-color: #0d98ed !important;
	border-width: 0.5px;
	color: #FFFFFF
}
.eim-select-btn.p-selectbutton .p-togglebutton.p-togglebutton-checked .p-togglebutton-content {
	background: #0d98ed !important;
}

.eim-select-btn.p-selectbutton .p-togglebutton.p-togglebutton-checked:hover {
	background: #41bdf5 !important;
	border-color: #41bdf5 !important;
	border-width: 0.5px;
}

.eim-select-btn.p-selectbutton .p-togglebutton.p-togglebutton-checked:hover .p-togglebutton-content {
	background: #41bdf5 !important;
}

.eim-select-btn.p-selectbutton .p-togglebutton.p-togglebutton-checked:focus {
	background: #64D1FF !important;
	border-color: #26D0FF !important;
	border-width: 0.5px;
} 

.eim-select-btn.p-selectbutton .p-togglebutton.p-togglebutton-checked:focus .p-togglebutton-content {
	background: #64D1FF !important;
} 

/** トグルボタン */
.eim-theme {
	--p-togglebutton-content-checked-background: #0044cc;
	--p-togglebutton-checked-color: #fff;
	--p-togglebutton-content-padding: var(--eim-button-padding);
	--p-togglebutton-content-border-radius: 0px;
}

.eim-toggle-btn.p-togglebutton:not(.p-disabled):not(.p-togglebutton-checked):hover {
	background: #c8c8c8 !important;
	border-color: #c8c8c8 !important;
	color:#333333 !important;
}

.eim-toggle-btn.p-togglebutton.p-togglebutton-checked {
	background: #0d98ed !important;
	border-color: #0d98ed !important;
 }

.eim-toggle-btn.p-togglebutton.p-togglebutton-checked > .p-togglebutton-content{
	background: #0d98ed !important;
 }
  
 .eim-toggle-btn.p-togglebutton.p-togglebutton-checked > .p-togglebutton-content > .p-togglebutton-icon {
	color: #FFF !important;
 }
 .eim-toggle-btn.p-togglebutton.p-togglebutton-checked > .p-togglebutton-content > .p-togglebutton-label {
	color: #FFF !important;
 }

.eim-toggle-btn.p-togglebutton{
	margin: 0px 3px;
	height: 26px !important;
	border: thin solid #ccc;
	border-radius: 3px;
 }

/* Secondary */
.p-button-secondary.p-component.p-button {
	background: linear-gradient(to bottom, #F0F1F1, #E5E5E5);
	border-color: #E5E5E5;
	border-width: 0.5px;
	transition-property: none;
	color: #373a3c;
}

.p-button-secondary.p-component.p-button:enabled:hover {
	background: #DEEAFF;
	border-color: #3DABFF;
	border-width: 0.5px;
	color: #373a3c;
}

.p-button-secondary.p-component.p-button:enabled:focus {
	background: #B5EEFF;
	border-width: 0.5px;
	border-color: #26D0FF;
	color: #373a3c;
	box-shadow: none;
}
/* 2021.12 新規 */
.p-button-secondary.p-component {
	padding: .25em 1em .25em 1em;
}

/* Success */
.p-button-success.p-component.p-button {
	background: linear-gradient(to bottom, #30B759, #35A86A);
	border-color: #35A86A;
	border-width: 0.5px;
	transition-property: none;
}

.p-button-success.p-component.p-button:enabled:hover {
	background: #30D459;
	border-color: #30D459;
	border-width: 0.5px;
}

.p-button-success.p-component.p-button:enabled:focus {
	background: #30E359;
	border-color: #26D0FF;
	border-width: 0.5px;
}

/* Danger */
.p-button-danger.p-component.p-button {
	background: #E21E00;
	border-color: #E21E00;
	border-width: 0.5px;
}

.p-button-danger.p-component.p-button:enabled:hover {
	background: #FC6000;
	border-color: #FC6000;
	border-width: 0.5px;
}

.p-button-danger.p-component.p-button:enabled:focus {
	border-color: #26D0FF;
	border-width: 0.5px;
}

/** ファイル関連 */
.eim-upload-btn {
	background: #0d98ed;
	color: #ffffff;
	border-radius: 3px;
	border-width: 0px;
	border-style: solid;
	margin-right: 5px;
	cursor: pointer;
	min-width: 25px;
	min-height: 25px;
	padding-left: 6px;
	padding-top: 3px;
}
.eim-upload-btn:hover {
	background: #41bdf5;
}
.eim-upload-btn:focus {
	background: #64D1FF;
	border-color: #26D0FF;
}
.eim-upload-btn-disabled {
	opacity: 0.35;
	background: #2399e5;
	color: #ffffff;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #2399e5;
	margin-right: 5px;
	cursor: initialize;
}
.eim-form-input-multi-button-area .eim-upload-btn-icon {
	padding-left: 3px;
	padding-top: 5px;
}

.p-inputtext.p-chips-multiple-container:hover {
	border-color: silver;
}

/** ボタン非活性時、アイコン/ラベルもクリック不可にする */
.p-button:disabled span {
	pointer-events: none;
}

/* ==========================================================================
	 ダイアログ
	 ========================================================================== */
.eim-theme {
	--p-dialog-border-radius: 0px;
}

.p-dialog {
	/*border-color: linear-gradient(to bottom, #0063FF, #003DD9);*/
	/** border-color: #0063FF; */
	border-style: none !important;
	min-height: auto !important;

}

.p-dialog-header {
	padding: 3px 9px!important;
	background: linear-gradient(to bottom, #0063FF, #003DD9) !important;
	border-radius: 0;
	color: #ffffff;
	font-size: 1rem;
	font-weight: 600;
}

.p-dialog.p-component .p-dialog-header .p-dialog-title {
	color: #ffffff;
	width: 100%;
}

.p-dialog.p-component .p-dialog-content {
	padding: 9px;
	overflow: hidden;
}

.p-component a {  /* 適応範囲が広すぎるので、もう少し狭めてほしい*/
	text-decoration:underline;
}
.p-select-filter {
	width: 100%;
}
.p-dialog-content {
	height: 100%;
	width: 100%;
}

/** 日付選択 */
/* .p-datepicker {
	width: auto;
	min-width: 215px !important;
}

.p-datepicker-title {
	margin: 0 1.5em !important;
} */

/** ツールチップ関連 */
.p-tooltip {
	max-width: none;
	word-break : break-all;
}

.p-tooltip-text {
	font-size: 0.8em;
}

/* p-selectbutton {
	padding-top: 3px;
	padding-bottom: 3px;
} */
/* 2022.02 新規 */
/* p-selectbutton .p-selectbutton.p-buttonset.p-component {
	display: inline-block;
} */
/* 2022.02 新規 */
/* p-selectbutton .p-button {
	padding: 0px;
} */
/* 2022.02 新規 */
/* p-selectbutton .p-button .p-button-label {
	padding: 3px 12px;
} */


.eim-icon-confirm-dialog:before {
		content: "\f059";
		color: #567de1;
}

.eim-icon-info-dialog:before {
		content: "\f05a";
		color: #567de1;
}

.eim-icon-warn-dialog:before {
		content: "\f071";
		color: #fbf422;
}

.eim-icon-error-dialog:before {
		content: "\f057";
		color: #ff3333;
}

/* ==========================================================================
	 パンくず
	 ========================================================================== */

/* 2022.03 廃止
p-breadcrumb > div > ul > li.ui-breadcrumb-home.fa.fa-home {
	visibility: hidden;
	width: 0px;
} */

p-breadcrumb > .p-breadcrumb {
	border-radius: 0;
	padding: 0px;
	border-color: #FFFFFF;
	overflow: visible;
}
/* 2022.03 新規 */
p-breadcrumb > .p-breadcrumb .p-breadcrumb-separator .p-icon {
	width: 12px;
	height: 12px;
}
/* 2022.03 新規 */
p-breadcrumb > .p-breadcrumb a {
	cursor: pointer;
}
p-breadcrumb .p-breadcrumb-list {
	background-color: #FFFFFF;
}

.p-breadcrumb .p-breadcrumb-item-link {
    text-decoration: none;
}

/* ==========================================================================
	 グリッドが中に含まれているパネル
	 ========================================================================== */
p-panel.eim-panel-containing-grid .p-panel.p-component {
	border-style: none;
}

p-panel.eim-panel-containing-grid .p-panel-header {
	background: transparent;
}

p-panel.eim-panel-containing-grid .p-panel-title {
	color: #3F48FF;
	white-space: nowrap;
}

p-panel.eim-panel-containing-grid .p-panel.p-component .p-panel-header {
	padding-bottom: 1px;
	border-bottom-color: #82d9ff;
	border-width: 0 0 2px 0;
	padding: 6px 0px 1px 0px;
}

p-panel.eim-panel-containing-grid .p-panel.p-component .p-panel-content {
	padding: 6px 0px 0px 0px;
}

p-toast .p-highlight {
	color: #ffffff;
}

.eim-panel-containing-grid .p-panel {
	height: 100%;
}

.eim-panel-containing-grid .p-panel-content-container.ng-trigger-panelContent {
	height: calc(100% - 20px);
	padding-bottom: 10px;
}

.eim-panel-containing-grid .p-panel-content {
	height: 100%;
}

.eim-multiple-selector-add-button {
	width: 30px!important;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.eim-multiple-selector-delete-button {
	width: 30px!important;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

.eim-border-box-attribute-area {
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
}

.p-menubar .p-menubar-item-link{
	border: 1px solid transparent;
}
/* 2022.02 新規 */
.p-menubar .p-menubar-item-link{
	padding: 3px;
}


/* ==========================================================================
	 ラジオボタン
	 ========================================================================== */
.eim-theme {
	--p-radiobutton-icon-checked-color: #333333;
	--p-radiobutton-icon-checked-hover-color: #333333;
	--p-radiobutton-checked-hover-background:#005b9f;
	--p-radiobutton-checked-hover-border-color:#005b9f;
}

eim-radio-button{
	margin-right : 10px;
}
/* 2022.01 新規 ラジオボタン用 */
p-radiobutton .p-radiobutton.p-component {
	width: 14px;
	height: 14px;
	vertical-align: middle;
}
/* 2022.05 新規 ラジオボタン用 */
p-radiobutton .p-radiobutton.p-component.p-disabled {
	cursor: default;
}
/* 2022.01 新規 ラジオボタン用 */
p-radiobutton .p-radiobutton.p-component > .p-radiobutton-box {
	width: 14px;
	height: 14px;
	background: #ffffcc;
	border: 1px solid #d6d6d6;
}

/* 2022.01 新規 ラジオボタン用 */
p-radiobutton .p-radiobutton.p-component > .p-radiobutton-box > .p-radiobutton-icon {
	width: 8px;
	height: 8px;
}

p-radiobutton .p-radiobutton-checked.p-disabled .p-radiobutton-box .p-radiobutton-icon {
	background-color: #333333;
}

/* 2022.01 新規 ラジオボタン用 */
eim-radio-button .p-radiobutton-label {
	margin-left: 2px;
	vertical-align: middle;
}
/* 2022.01 新規 ラジオボタン用 */
eim-radio-button div.p-radiobutton.p-disabled .p-radiobutton-label {
	background: none!important;
}
p-radiobutton .p-radiobutton:not(.p-disabled) .p-radiobutton-box.p-focus {
	box-shadow: 0 0 5px #1f89ce;
}

p-radiobutton .p-radiobutton:not(.p-disabled) .p-radiobutton-box:not(.p-highlight):hover{
    border-color: silver;
}

/* ==========================================================================
	 チェックボックス
	 ========================================================================== */
.eim-theme {
	--p-checkbox-width: 14px;
	--p-checkbox-height: 14px;
	--p-checkbox-background: #ffffcc;
	--p-checkbox-border-color: #d6d6d6;
	--p-checkbox-hover-border-color: #C0C0C0;
	--p-checkbox-checked-background: #ffffcc;
	--p-checkbox-checked-hover-background: #ffffcc;
	--p-checkbox-checked-hover-border-color: #005b9f;
	--p-checkbox-disabled-background: #eeeeee;
	--p-checkbox-icon-color: #333333;
	--p-checkbox-icon-checked-color: #333333;
	--p-checkbox-icon-checked-hover-color: #333333;
	--p-checkbox-icon-size: 0.65rem;
}

/* 2022.01 新規 チェックボックス用 */
p-checkbox .p-checkbox.p-component {
	vertical-align: middle;
}

/* 2022.01 新規 チェックボックス用 */
eim-checkbox .p-checkbox-label {
	margin-left: 2px;
	vertical-align: middle;
}
/* 2022.01 新規 チェックボックス用 */
eim-checkbox .p-checkbox-label.p-disabled {
	background: none!important;
}
eim-checkbox .p-checkbox:not(.p-disabled) > .p-checkbox-box:hover {
	box-shadow: 0 0 5px #1f89ce;
}

.fa-lock:before{
	margin:.14em;
}

/* 2022.03 新規 */
.p-grid {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
/* 2022.01 新規 */
.p-col-3 {
	width: 25%;
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}
/* 2022.01 新規 */
.p-col-4 {
	width: 33.3333%;
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}
/* 2022.04 新規 */
.p-col-5 {
	width: 41.6666667%;
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}
/* 2022.01 新規 */
.p-col-6 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}
/* 2022.04 新規 */
.p-col-7 {
	width: 58.3333333%;
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}
/* 2022.01 新規 */
.p-col-8 {
	width: 66.6667%;
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}
/* 2022.01 新規 */
.p-col-9 {
	width: 75%;
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}
/* 2022.01 新規 */
.p-col-12 {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}
/* 2022.01 新規 */
.p-md-2 {
	width: 16.6667%;
}
/* 2022.01 新規 */
.p-md-10 {
	width: 83.3333%;
}

/* 2022.01 新規 */
.p-tabs .p-tablist-tab-list p-tab.p-tab {
	border: 1px solid #d6d6d6;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	border-color: #c8c8c8;
	background-color: #f4f4f4;
	margin-right: 2px;
}


/* 2022.01 新規 */
.p-tabs .p-tablist-tab-list p-tab.p-tab {
	float: left;
	padding: 0.5em 1em!important;
	text-decoration: none;
	font-weight: 400;
	color: #333333;
}

.p-tabs .p-tablist-tab-list p-tab.p-tab.p-tab-active {
	color: white;
	border-color: #007ad9;
	background-color: #007ad9;
}
/* 2022.01 新規 */
.p-tabs .p-tablist-active-bar {
	display: none;
}
.p-tabs .p-tablist-tab-list p-tab.p-tab {
	line-height: 1.3;
}
/* 2022.01 新規 */
.p-tabs .p-tabpanels {
	padding: 0px;
}

/* 2022.01 新規 */
.eim-panel-containing-grid {
	border: none;
}
/* 2022.01 新規 */
.eim-panel-containing-grid .p-panel-header {
	background: #FFF;
}
/* 2022.01 新規 */
.eim-panel-containing-grid .p-panel-header .p-panel-title {
	line-height: 18px;
}
/* 2022.01 新規 */
.eim-panel-containing-grid .p-panel-content {
	border: none;
}
/* 2022.01 新規 */
.eim-panel-containing-grid .p-panel-content .p-autocomplete {
	display: block;
}

/* 2022.01 新規 */
.p-blockui.p-component-overlay {
	background-color: #fff!important;
}

/* 2024.12 新規 */
.eim-dropdown .p-dropdown-label {
  background: #ffffcc !important;
  border-color: #d6d6d6;
  color: #555555 !important;
}

/* ==========================================================================
	 プログレスバー
	 ========================================================================== */
.eim-progress-bar .p-dialog {
	border-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
	border: 1px solid #c8c8c8;
}

/* ==========================================================================
	 フィールドセット
	 ========================================================================== */
.eim-theme {
	--p-fieldset-legend-font-weight: 400;
	--p-fieldset-legend-gap: 0px;
	--p-fieldset-legend-border-color: #C8C8C8;
}

/* ==========================================================================
	 ドローワー
	 ========================================================================== */
.eim-theme {
	--p-drawer-content-padding: 0px!important;
	--p-drawer-header-padding: var(--eim-drawer-header-padding);/* remだとうまく値が反映されない。pxは反映される*/
}

/* ==========================================================================
	 ページネーター
	 ========================================================================== */
.eim-theme {
	--p-paginator-background : #F4F4F4;
	--p-paginator-nav-button-selected-background: #007ad9;
	--p-paginator-nav-button-selected-color: #ffffff;
	--p-paginator-nav-button-hover-background: #e0e0e0;
    --p-paginator-nav-button-hover-color: #333333;
	--p-paginator-border-radius: 3px;/* primeNG12相当 */
	--p-paginator-nav-button-border-radius: 0px;/* primeNG12相当 */
	--p-paginator-gap: 0px;/* primeNG12相当 */
	--p-paginator-padding: 0px;/* primeNG12相当 */
	--p-paginator-nav-button-width:2.357rem;/* primeNG12相当 */
    --p-paginator-nav-button-height:2.357rem;/* primeNG12相当 */
}

.p-paginator {
  	border: solid 1px #C8C8C8;
	--p-icon-size: 12px;
}

.p-paginator .p-paginator-pages > button {
	font-size: 1rem !important;
}

.p-paginator .p-paginator-pages > button.p-disabled {
	color:#848484;
}

.p-paginator > button.p-disabled {
	color:#848484;
}

.p-paginator .p-paginator-rpp-dropdown {
	--p-select-background: #ffffff;
	--p-select-disabled-background: #eeeeee;
	height: var(--p-paginator-nav-button-height);
	min-width: 37.7px;/* primeNG12相当 */
	margin-left: 0.5rem;/* primeNG12相当 */
	margin-right: 0.5rem;/* primeNG12相当 */
}

.p-paginator .p-select:not(.p-disabled).p-focus {
	box-shadow: 0 0 5px #1f89ce;
}
/* ==========================================================================
	 ドラッグ＆ドロップ
	 ========================================================================== */
.eim-theme {
	--eim-file-dragging-border: dotted 2px red;
}
.eim-file-dragging { 
	border: var(--eim-file-dragging-border); 
}

/* ==========================================================================
	 Angular Material
	 ========================================================================== */
/* Angular Material tab */
.mat-mdc-tab-group {
    --mat-tab-header-active-hover-label-text-color: inherit;
	--mat-sys-on-surface: inherit;
	--mat-tab-header-active-label-text-color: inherit;
}