<div style="height: 100%;">
	<as-split direction="horizontal">
		<as-split-area [size]="splitAreaLeftSize" [ngStyle]="{'overflow': 'hidden'}">
			<div class="eim-admin-left-panel">
				<p-panel class="eim-panel-containing-grid" header="{{ 'EIM_ADMINS.LABEL_00203' | translate }}">
					<div style="height: 100%;" eim-vertical-container>
						<div class="eim-data-grid-menu" >
							<eim-menubar [model]="relationMenu"></eim-menubar>
						</div>
						<div class="eim-flexible-height">
							<eim-data-grid #relationDataGrid [equals]="relationDataGridEquals" (selected)="onSelectedRelation()"
								[contextMenuItems]="relationContextMenu" >
							</eim-data-grid>
						</div>
					</div>
				</p-panel>
			</div>
		</as-split-area>
		<as-split-area [size]="100 - splitAreaLeftSize">
			<div class="eim-admin-right-panel" style="width: calc(100% - 5px)">
				<p-panel class="eim-panel-containing-grid" header="{{ 'EIM_ADMINS.LABEL_02070' | translate }}">
					<div style="height: 100%;" eim-vertical-container>
						<div class="eim-data-grid-menu" >
							<eim-menubar [model]="attributeTypeMenu"></eim-menubar>
						</div>
						<div class="eim-flexible-height">
							<eim-data-grid #attributeTypeDataGrid [equals]="relationDataGridEquals" (selected)="onSelectedAttributeType()"
							(allSelect)="onSelectedAttributeType()" (allNotSelect)="onSelectedAttributeType()" [contextMenuItems]="attributeTypeContextMenu">
							</eim-data-grid>
						</div>
					</div>
				</p-panel>
			</div>
		</as-split-area>
	</as-split>
</div>
