::ng-deep eim-message .p-toast {
	position: fixed;
	width: 20rem;
	opacity: 0.9;
}

::ng-deep eim-message .p-toast-top-right {
	top: 40px!important;
}

::ng-deep eim-message .p-toast .p-toast-message.p-toast-message-info {
	background-color: #2c9bf4;
	color: #fff;
	border-width: 0px;
	border-radius: 3px;
}

::ng-deep eim-message .p-toast .p-toast-message.p-toast-message-info .p-toast-summary {
	color: #fff;
	font-size: 12px
}

::ng-deep eim-message .p-toast .p-toast-message.p-toast-message-info .p-toast-detail {
	color: #fff;
	font-size: 12px
}

::ng-deep eim-message .p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon {
	width:2rem;
	height:2rem;
}
::ng-deep eim-message .p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon .p-iconwrapper {
	color: #fff;
}

::ng-deep eim-message .p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon .p-iconwrapper .p-icon {
	width:25px;
	height:25px;
}

::ng-deep eim-message .p-toast .p-toast-message.p-toast-message-info .p-toast-close-button .p-iconwrapper{
	color: #fff;
}

::ng-deep eim-message .p-toast .p-toast-message.p-toast-message-info .p-toast-close-button .p-iconwrapper .p-icon {
	width:12px;
	height:12px;
}
    