<div class="container document-main" style="height:100%; width: 100%; display: grid;">
	<as-split direction="horizontal" (dragEnd)="onSplitDragEnd($event)" style=" background-color: white;">
		<as-split-area class="eim-document-main-left-area" [size]="splitAreaFirstSize">
			<div style="height: 100%; margin-top: -1px;">
				<p-accordion [value]="info.accordionActiveIndex" (onOpen)="onChangeAccordionTab($event)">
					<!-- ワークスペース -->
					<p-accordion-panel [value]="0" class="eim-document-main-workspace" class="{{accordionTabClass}}">
						<p-accordion-header [ngStyle]="{ 'pointer-events': info.accordionActiveIndex == 0 ? 'none' : 'auto' }">
							<ng-template #toggleicon let-active="active">
								@if (active) {
									<i class="pi pi-chevron-down p-accordionheader-toggle-icon"></i>
								} @else {
									<i class="pi pi-chevron-right  p-accordionheader-toggle-icon"></i>
								}
							</ng-template>
							{{ 'EIM_DOCUMENTS.LABEL_03061' | translate }}

						</p-accordion-header>
						<p-accordion-content>
							<div style="position: relative; height: 100%;">
								<div style="position: absolute; width: 100%; height: 100%;">
									<eim-tree #contentsTree [componentService]="contentsTreeComponentService"
										[selectedData]="contentsTreeSelectedData" [contextMenuItems]="contentsTreeMenuItems"
										(contextmenu)="onContextMenuContentsTree($event)" (selected)="onSelectFolderTreeNode($event)"
										(expanded)="onExpandTreeNode($event)" (initialized)="onInitializedContentsTree($event)"></eim-tree>
								</div>
							</div>
						</p-accordion-content>
					</p-accordion-panel>
					<!-- 検索 -->
					<p-accordion-panel [value]="1" class="{{accordionTabClass}}">
						<p-accordion-header [ngStyle]="{ 'pointer-events': info.accordionActiveIndex == 1 ? 'none' : 'auto' }">
							<ng-template #toggleicon let-active="active">
								@if (active) {
									<i class="pi pi-chevron-down p-accordionheader-toggle-icon"></i>
								} @else {
									<i class="pi pi-chevron-right p-accordionheader-toggle-icon"></i>
								}
							</ng-template>
							{{ 'EIM_DOCUMENTS.LABEL_01004' | translate }}
						</p-accordion-header>
						<p-accordion-content>
							<div style="position: relative; height: 100%;">
								<div style="position: absolute; width: 100%; height: 100%;">
									<eim-accordion-search #accordionSearch (exportCsvOnClicked)="executeExportCsv($event)"
										(searchOnClicked)="executeAccordionSearch($event)"
										(clearOnClicked)="executeAccordionSearchClearParams()"
										(switchTextExcerptMode)="contentsClick()"></eim-accordion-search>
								</div>
							</div>
						</p-accordion-content>
					</p-accordion-panel>
					<!-- 回付状況確認 -->
					<p-accordion-panel [value]="2" class="{{accordionTabClass}}">
						<p-accordion-header [ngStyle]="{ 'pointer-events': (info.accordionActiveIndex == 2 || info.checkTargetDialogId != '') ? 'none' : 'auto' }">
							<ng-template #toggleicon let-active="active">
								@if (active) {
									<i class="pi pi-chevron-down p-accordionheader-toggle-icon"></i>
								} @else {
									<i class="pi pi-chevron-right  p-accordionheader-toggle-icon"></i>
								}
							</ng-template>
							{{ 'EIM_DOCUMENTS.LABEL_02129' | translate }}
						</p-accordion-header>
						<p-accordion-content>
							<div style="position: relative; height: 100%;">
								<div style="position: absolute; width: 100%; height: 100%;">
									<eim-circulation-situation #circulation (exportCsvOnClicked)="executeExportCsv($event)"
										(searchOnClicked)="executeSearch($event)"
										(clearOnClicked)="executeClearParams()"></eim-circulation-situation>
								</div>
							</div>
						</p-accordion-content>
					</p-accordion-panel>
					<!-- 属性ツリービュー -->
					<p-accordion-panel [value]="3" *ngIf="dspAttributeTreeView" class="eim-document-main-attribute-tree-view" class="{{accordionTabClass}}">
						<p-accordion-header [ngStyle]="{ 'pointer-events': (info.accordionActiveIndex == 3 || info.checkTargetDialogId != '') ? 'none' : 'auto' }">
							<ng-template #toggleicon let-active="active">
								@if (active) {
									<i class="pi pi-chevron-down p-accordionheader-toggle-icon"></i>
								} @else {
									<i class="pi pi-chevron-right p-accordionheader-toggle-icon"></i>
								}
							</ng-template>
							{{ 'EIM_DOCUMENTS.LABEL_02130' | translate }}
						</p-accordion-header>
						<p-accordion-content>
							<div style="position: relative; height: 100%;">
							<div style="position: absolute; width: 100%; height: 100%;">
								<eim-tree #attrTree [componentService]="attributeTreeComponentService"
								(selected)="onSelectAttributeTreeNode($event)" (expanded)="onExpandAttributeTreeNode($event)"></eim-tree>
							</div>
						</div>
						</p-accordion-content>
					</p-accordion-panel>
				</p-accordion>
			</div>
		</as-split-area>
		<as-split-area class="eim-document-main-right-area" [size]="100 - splitAreaFirstSize" eim-vertical-container adjustedValue="5">
			<div class="eim-menu-box eim-menu-box-document" style="max-height: 50px">
				<eim-menubar [model]="mainMenu"></eim-menubar>
			</div>
			<div class="eim-flexible-height">
				<as-split direction="vertical">
					<as-split-area class="eim-document-main-right-area-document-list" eim-vertical-container adjustedValue="5">
						<p-blockUI [blocked]="boxFileDragging" [target]="eimContents" [autoZIndex]="false" [baseZIndex]="1">
                    		<div class="eim-document-main-box-eim-file-drag-block-ui">
								<i class="fa fa-cloud-upload fa-5x"></i>
								<p style="margin: 0; font-weight: bold">
									{{ "EIM_DOCUMENTS.LABEL_02216" | translate }}
								</p>
							</div>
						</p-blockUI>
						<p-panel #eimContents
								(drop)="boxFileDragging ? onDropBoxFile($event) : onDrop($event)" (dragover)="onDragOver($event)" 
								(dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" 
  								[class.drag-enter]="fileDragEnterTarget"
								[ngClass]="{'eim-document-main-file-dragging': isFileDragging}">
							<div class="header-bar">
								<div class="header-bar-left">
									<p-breadcrumb class="header-bar-breadcrumb" [model]="breadcrumbItems"></p-breadcrumb>
								</div>

								<div class="header-bar-right" *ngIf="info.accordionActiveIndex === 0">
									<!-- ワークスペース用 リスト／サムネイル 表示切替 -->
									<p-selectButton class="eim-select-btn" [unselectable]="false" [allowEmpty]="false"
										[options]="workspaceDisplayTypes" [(ngModel)]="selectedWorkspaceDisplayTypeId" (onChange)="snippetWorkspaceChangeClick()"></p-selectButton>

									<p-toggleButton 
										class="eim-toggle-btn thumbnail-size-btn"
										[(ngModel)]="isThumbnailLarge"
										onLabel="大"
										onIcon="pi pi-th-large"
										offLabel="小"
										offIcon="pi pi-th-large"></p-toggleButton>
								</div>
								<div class="header-bar-right" *ngIf="info.accordionActiveIndex === 1">
									<!-- 検索用 本文抜粋／リスト／サムネイル 表示切替 -->
									<p-selectButton class="eim-select-btn"  [unselectable]="false" [allowEmpty]="false"
										[options]="displayTypes" [(ngModel)]="selectedDisplayTypeId" (onChange)="snippetChangeClick($event)"></p-selectButton>

									<p-toggleButton 
										class="eim-toggle-btn thumbnail-size-btn"
										[(ngModel)]="isThumbnailLarge"
										onLabel="大" 
										onIcon="pi pi-th-large"
										offLabel="小"
										offIcon="pi pi-th-large"></p-toggleButton>
								</div>
							</div>

							<div class="eim-document-main-contents">
								<div id="thumbnailsImg" style="height: 100%;" *ngIf="info.isThumbnailsVisible">
									<eim-thumbnail-viewer  #thumbnailViewer 
										[thumbnailList]="contentsList.info.data"
										[hitCount]="contentsList.info.hitCount"
										[selectedList]="contentsList.info.selectedData"
										[accordionActiveIndex]="accordionActiveIndexData"
										[equals]="contentsListEquals"
										[isSmall]="isThumbnailLarge == false"
										[directMenuButtonItems]="info.thumbnailDirectMenuButtonItems"
										[contextMenuItems]="info.contentsListMenuItems"
										[downloadButtonMenuItems]="info.thumbnailDownloadButtonMenuItems"
										(initializeThumbnail)="onInitializeThumbnail($event)" 
										(contextmenu)="onContextMenuContentsList($event)" 
										(initialized)="onInitializeThumbnailView($event)"
										(changed)="onSelectThumnail($event)" 
										(objNameClick)="onSelectFolderGridItem($event)"
										(thumbnailDownloadButtonClick)="onThumbnailDownloadMenu($event)"
										>
									</eim-thumbnail-viewer>
								</div>

								<div id="dataGridDiv" style="height: 100%;"
										ng2FileDrop [uploader]="uploader" [ngClass]="{'eim-file-dragging': isFileDragging}" (fileOver)="this.isFileDragging = $event"
										(dragover)="onGridRowDragOver($event)" (dragleave)="onGridRowDragLeave($event)" (drop)="onGridRowDrop($event)">
									<eim-data-grid #contentsList 
										[componentService]="contentsListComponentService"
										[contextMenuItems]="info.contentsListMenuItems"
										[suppressClickEdit]="true"
										[equals]="contentsListEquals"
										[accordionActiveIndex]="accordionActiveIndexData"
										(contextmenu)="onContextMenuContentsList($event)" (initialized)="onInitializeContentsList($event)" (onNodeSelect)="onSelectFolderGridItem($event)"
										(changed)="onSelect($event)" (cellEditingStarted)="onCellEditingStarted($event)" (cellEditingStopped)="onCellEditingStopped($event)"
										(rowDoubleClicked)="onRowDoubleClicked($event)" (selectedRowCellClicked)="onSelectedRowCellClicked($event)"
										(errored)="onContentsListError($event)">
									</eim-data-grid>
								</div>
							</div>
						</p-panel>
					</as-split-area>
					<as-split-area *ngIf="boxIntegration && info.isDisplayingBox && info.accordionActiveIndex != accordionIndexCirculationSituation && info.accordionActiveIndex != accordionIndexSearch" style="background-color: white;"
					 class="eim-document-main-right-area-document-list" >
						<eim-box-main [selectedData]="info.selectedDataForBox " (closeBoxParent)="onClickCloseBox()" (clickCopyToEIM)="onClickCopyToEIM($event)"  eim-vertical-container adjustedValue="5"></eim-box-main>
					</as-split-area>
				</as-split>
			</div>
		</as-split-area>
	</as-split>
    <eim-box-file-drag></eim-box-file-drag>
    <box-eim-file-drag></box-eim-file-drag>
</div>
<eim-document-dialog-manager #documentDialogManager></eim-document-dialog-manager>
