<div eim-vertical-container style="height: 100%;">
	<div>
		<form (ngSubmit)="onSubmit()" #templateForm="ngForm" style="height:100%; display: flex;" autocomplete="off">
			<div style="width: 100%;">
				<ng-content></ng-content>
			</div>
			<div class="p-rtl" dir="rtl" style="padding-top: 3px; padding-left: 3px;">
				<button *ngIf="filterFlag" pButton type="button" class="p-button-primary" (click)="onSubmit()" [disabled]="!templateForm.form.valid" icon="eim-icon-filter" pTooltip="{{ 'EIM.LABEL_03031' | translate }}" style="margin-right: 0px; height: 26px; width: 26px;"></button>
				<button *ngIf="!filterFlag" pButton type="button" class="p-button-primary" (click)="onSubmit()" [disabled]="!templateForm.form.valid" icon="eim-icon-search" pTooltip="{{ 'EIM.LABEL_03007' | translate }}" style="margin-right: 0px; height: 26px; width: 26px;"></button>
			</div>
		</form>
	</div>
	<div class="eim-flexible-height" style="height: 100%;">
		<eim-data-grid #searchResultList [multiple]="multiple" [equals]="equals" [componentService]="componentService"></eim-data-grid>
	</div>
</div>
