.eim-document-public-destination-selector {
	height: 100%;
	width: 100%;
	padding-right: 6px;
}

::ng-deep .eim-document-public-destination-selector .p-panel {
	height: calc(100% - 4px);
}

::ng-deep .eim-document-public-destination-selector .p-panel .p-panel-content-container {
	height: calc(100% - 30px);
	padding-bottom: 5px;
}

::ng-deep .eim-document-public-destination-selector .p-panel-content {
	height: 100%;
}

::ng-deep p-tabs.p-tabs.p-component {
	height: 100%;
}

::ng-deep p-tabpanels.p-tabpanels {
	height: calc(100% - 31.39px);
	border-style: solid;
	border-width: 1px;
	border-color: #d6d6d6;
}

::ng-deep eim-document-public-destination-selector p-tabpanel.p-tabpanel  {
	height: 100%;
	overflow: hidden;
}


::ng-deep div.p-tree.p-component.p-tree-selectable {
	height: 100%;
}

::ng-deep p-tabs.p-tabs.p-component .p-tablist-tab-list li.p-highlight {
	background: #B0E0E6;
}
/* 2022.03 新規 */
::ng-deep eim-document-public-destination-selector div.p-grid .p-tabs.p-component .p-tablist-tab-list {
	padding-top: 3px;
}