<eim-text-input-form-item *ngIf="uiControlId == 'uIControlTextInput'"
		[form]="form" [name]="name" [label]="label"
		[required]="required" [maxlength]="maxLength" [pattern]="pattern"
		[disabled]="disabled" [multiple]="multiple" [dirty]="dirty" [ngModel]="value">
</eim-text-input-form-item>

<eim-text-area-input-form-item *ngIf="uiControlId == 'uIControlTextArea'"
		[form]="form" [name]="name" [label]="label"
		[required]="required" [maxlength]="maxLength"
		[disabled]="disabled" [multiple]="multiple" [dirty]="dirty" [ngModel]="value">
</eim-text-area-input-form-item>

<eim-rich-text-input-form-item *ngIf="uiControlId == 'uIControlRichText'"
		[form]="form" [name]="name" [label]="label"
		[required]="required"
		[disabled]="disabled" [multiple]="multiple" [dirty]="dirty" [ngModel]="value">
</eim-rich-text-input-form-item>

<eim-attachement-file-input-form-item *ngIf="uiControlId == 'uIControlFile'"
		[form]="form" [name]="name" [label]="label"
		[required]="required"
		[disabled]="disabled" [multiple]="multiple" [dirty]="dirty" [ngModel]="value">
</eim-attachement-file-input-form-item>

<eim-combo-box-input-form-item *ngIf="uiControlId == 'uIControlComboBox'"
		[form]="form" [name]="name" [label]="label"
		[required]="required"
		[disabled]="disabled" [multiple]="multiple" [dirty]="dirty" [ngModel]="value" [options]="options">
</eim-combo-box-input-form-item>

<eim-check-box-input-form-item *ngIf="uiControlId == 'uIControlCheckBox'"
		[form]="form" [name]="name" [label]="label"
		[required]="required"
		[disabled]="disabled" [multiple]="multiple" [dirty]="dirty" [ngModel]="value" [options]="options">
</eim-check-box-input-form-item>

<eim-radio-button-input-form-item *ngIf="uiControlId == 'uIControlRadioButton'"
		[form]="form" [name]="name" [label]="label"
		[required]="required"
		[disabled]="disabled" [multiple]="multiple" [dirty]="dirty" [ngModel]="value" [options]="options">
</eim-radio-button-input-form-item>

<eim-calendar-input-form-item *ngIf="uiControlId == 'uIControlDateField'"
		[form]="form" [name]="name" [label]="label"
		[required]="required" [maxlength]="maxLength"
		[disabled]="disabled" [multiple]="multiple" [dirty]="dirty" [ngModel]="value">
</eim-calendar-input-form-item>

<eim-master-input-form-item *ngIf="uiControlId == 'uIControlSearchField' && uiControlType == 'ObjectSearch'"
		[form]="form" [name]="name" [label]="label"
		[required]="required"
		[disabled]="disabled" [multiple]="multiple" [dirty]="dirty" [ngModel]="value"
		[searchMasterDisplayConfig]="searchMasterDisplayConfig">
</eim-master-input-form-item>

<eim-user-input-form-item *ngIf="uiControlId == 'uIControlSearchField' && uiControlType == 'UserSearch'"
		[form]="form" [name]="name" [label]="label"
		[required]="required"
		[disabled]="disabled" [multiple]="multiple" [dirty]="dirty" [ngModel]="value">
</eim-user-input-form-item>
