<div class="container" style="height:100%">
	<as-split direction="horizontal">
		<as-split-area [size]="25" style="background: #ffffff;">
			<p-panel class="eim-panel-flat" header="{{ 'EIM_TASKS.LABEL_02001' | translate }}">
				<div style="height: 100%; display: grid; grid-template-rows: auto 1fr;">
					<div class="eim-menubar-button">
						<eim-menubar [model]="projectsMenuItems"></eim-menubar>
					</div>
					<eim-tree
						#projectTree class="eim-tree" [setAdditionalPropertiesToTreeNodeFunction]="setAdditionalPropertiesToTreeNodeFunction.bind(this)"
						(selected)="onSelectTreeNode($event)"
						[contextMenuItems]="contentsTreeMenuItems"
						isDispMouseOverMenu="true">

					</eim-tree>
				</div>
			</p-panel>
		</as-split-area>
		<as-split-area [size]="75" style="background: #ffffff;">
			<p-panel class="eim-panel-flat" header="{{ 'EIM_TASKS.LABEL_02002' | translate }}">
				<p-tabs class="eim-tab" [value]="tabIndex()" (valueChange)="onChangeTab($event)">
					<p-tablist>
						
						<!-- 基本概要 -->
						<p-tab [value]="0" [disabled]="tabDisabled">{{ 'EIM_TASKS.LABEL_02003' | translate }}</p-tab>
						<!-- メンバ一覧 -->
						<p-tab [value]="1" [disabled]="tabDisabled">{{ 'EIM_TASKS.LABEL_02004' | translate }}</p-tab>
					</p-tablist>
					<p-tabpanels>
						<!-- 基本概要 -->
						<p-tabpanel [value]="0">
							<div style="padding:5px; height: 100%">
														<div style="height: 35%; display: grid; grid-template-rows: auto 1fr;overflow-y: auto;overflow-x: hidden;">
							<div class="eim-menubar-button">
								<eim-menubar [model]="projectFormMenuItems"></eim-menubar>
							</div>
							<eim-project-updator [hidden]="menuEdit.disabled != false"
								#projectUpdator
								[projectId]="selectedProjectId" [disabled]="!isProjectEditMode"
								(initialized)="onInitializedProject($event)"
								(changed)="onChangedProjectAttribute($event)" (updated)="onUpdatedProject($event)">
							</eim-project-updator>
						</div>
						<!-- タスク表示 -->
						<div class="container" style="height: 65%;overflow-y: auto;overflow-x: hidden;border: #291ab3;">
							<p-panel class="eim-panel-flat" header="遅延タスク情報" [ngStyle]="{'height': '33%'}">
								<div style="width: 100%;height: 100%; overflow: hidden; padding-left: 3px;" eim-vertical-container>
									<div class="eim-flexible-height">
										<eim-data-grid #delayedTaskListDataGrid></eim-data-grid>
									</div>
								</div>
							</p-panel>
							<p-panel class="eim-panel-flat" header="本日完了予定タスク情報" [ngStyle]="{'height': '33%'}">
								<div style="width: 100%;height: 100%; overflow: hidden; padding-left: 3px;" eim-vertical-container>
									<div class="eim-flexible-height">
										<eim-data-grid #todayCompletePlanTaskListDataGrid></eim-data-grid>
									</div>
								</div>
							</p-panel>
							<p-panel class="eim-panel-flat" header="対応予定期間内タスク情報" [ngStyle]="{'height': '33%'}">
								<div style="width: 100%;height: 100%; overflow: hidden; padding-left: 3px;" eim-vertical-container>
									<div class="eim-flexible-height">
										<eim-data-grid #scheduledScopeTaskListDataGrid></eim-data-grid>
									</div>
								</div>
							</p-panel>
						</div>
							</div>
						</p-tabpanel>
						<!-- メンバ一覧 -->
						<p-tabpanel [value]="1">
							<div style="padding:5px; height: 100%">
														<div class="eim-members" [ngClass]="{'editable': isMemberEditMode}" >
							<div class="eim-menubar-button">
								<eim-menubar [model]="memberFormMenuItems"></eim-menubar>
							</div>
							<eim-project-member-applier #projectMemberApplier
									[projectId]="selectedProjectId" [isMemberEditMode]="isMemberEditMode"
									(initialized)="onInitializedMembers($event)" (changed)="onChangedMembers($event)" (applied)="onAppliedMembers($event)">
							</eim-project-member-applier>
						</div>
							</div>
						</p-tabpanel>
					</p-tabpanels>
				</p-tabs>
			</p-panel>
		</as-split-area>
	</as-split>
</div>

<!-- プロジェクト登録 -->
<ng-container *ngIf="viewDialogName === 'projectCreator'" novalidate>
	<eim-dialog header="{{ 'EIM_TASKS.LABEL_01001' | translate }}" modal="true" width="550" fitHeight="true"
		class="eim-dialog"
		[visible]="viewDialogName === 'projectCreator'"
		[enableMaximize]="false"
		(close)="onCloseDialog()"
	>
		<eim-project-creator *ngIf="viewDialogName === 'projectCreator'" (created)="onCreatedProject($event)">

		</eim-project-creator>
	</eim-dialog>
</ng-container>

<!-- タスク詳細 -->
<ng-container *ngIf="viewDialogName === 'taskUpdator'" novalidate>
	<eim-dialog *ngIf="viewDialogName === 'taskUpdator'" header="{{ 'EIM_TASKS.LABEL_01006' | translate }}" modal="true" width="1145" height="870"
		class="eim-dialog"
		[visible]="viewDialogName === 'taskUpdator'"
		[enableMaximize]="false"
		(close)="onCloseDialog()"
	>
		<eim-task-updator #taskUpdator
				[taskId]="taskId" [parentDTO]="parent" (updated)="onUpdateTask($event)">
		</eim-task-updator>
		<footer>
			<div class="p-rtl" dir="rtl" *ngIf="taskUpdator?.taskDTO?.status !== null">
				<!-- 次へ進む -->
				<button *ngIf="taskUpdator.forwardEventTypes.length > 0"
						pButton type="button" class="p-button-primary eim-right-alignment-button" icon="eim-icon-forward" label="{{'EIM_FORMS.LABEL_03015' | translate}}"
						(click)="taskUpdator.onClickStatusChange($event, true)"
				></button>
				<!-- 前へ戻る -->
				<button *ngIf="taskUpdator.backwordEventTypes.length > 0"
						pButton type="button" class="p-button-primary eim-right-alignment-button" icon="eim-icon-backward" label="{{'EIM_FORMS.LABEL_03016' | translate}}"
						(click)="taskUpdator.onClickStatusChange($event, false)"
				></button>
				<!-- 取戻し -->
				<button *ngIf="taskUpdator.regainEventType != null"
						pButton type="button" class="p-button-primary eim-right-alignment-button" icon="eim-icon-reply" label="{{'EIM_FORMS.LABEL_03017' | translate}}"
						(click)="taskUpdator.onClickStatusRegain($event)"
				></button>
			</div>
		</footer>
	</eim-dialog>
</ng-container>