<div class="viewer-container">
    <div class="container" (contextmenu)="onAreaContextMenu($event)">
        <div class="thumbnails-image-div" #contextMenuDiv>
            <div *ngFor="let data of displayThumbnailList">
                <eim-thumbnail-creator 
                    [data]="data"
                    [size]="isSmall ? 'sm': 'lg'"
                    [selected]="isSelected(data)"
                    [directMenuButtonItems]="directMenuButtonItems"
                    [downloadButtonMenuItems]="downloadButtonMenuItems"
                    (initializeThumbnail)="onInitializeThumbnail($event)"
                    (objNameClickEvent)="objNameClickEvent($event)"
                    (selectedEvent)="selectThumnail($event)"
                    (publishBtnClick)="onPublishBtnClick($event)"
                    (webdavBtnClick)="onWebDevBtnClick($event)"
                    (propertyBtnClick)="onPropertyBtnClick($event)"
                    (downloadMenuBtnClick)="onDownloadMenuBtnClick($event)"
                    (contextmenuBtnClick)="onThumbnailContextmenuBtnClick($event)"
                    (contextmenu)="onThumbnailContextmenu({originalEvent:$event, obj:data} )"
                    style="display: block; margin-bottom: 10px; margin-right: 10px;">
                </eim-thumbnail-creator>
            </div>
        </div>
    </div>

    <div class="paginator-bar">
        <p-paginator
                (onPageChange)="onPageChange($event)"
                [first]="first" [rows]="rows" [totalRecords]="thumbnailList?.length ?? 0"
                [rowsPerPageOptions]="rowsPerPageOptions"></p-paginator>
    </div>

    <div class="status-bar">
        <div *ngIf="showAllSelectButton" style="width: 100%; margin-left: auto; text-align: left;">
            <span style="margin-left: 5px;">
                <a style="cursor: pointer; text-decoration: underline; margin-right: 4px;" (click)="allSelect()">{{'EIM.LABEL_03032' | translate}}</a>
                <a style="cursor: pointer; text-decoration: underline;" (click)="allNotSelect()">{{'EIM.LABEL_03033' | translate}}</a>
            </span>
        </div>
        <div *ngIf="accordionActiveIndex===1; else hiddenContent" class="p-rtl" dir="rtl" style="width: 100%; text-align: right;">
            <div style="margin-left: 3px; margin-right: 5px; text-align: right;">
                <span *ngIf="selectedList.length > 0" style="margin-right: 4px;">{{ 'EIM.LABEL_02009' | translate }}: {{selectedList.length}} {{ 'EIM.LABEL_02011' | translate }}</span>
                <span>{{ 'EIM.LABEL_02048' | translate }}: {{thumbnailList?.length ?? 0}} / {{hitCount}} {{ 'EIM.LABEL_02011' | translate }}</span>
            </div>
        </div>

        <ng-template #hiddenContent>
            <div class="p-rtl" dir="rtl" style="width: 100%; text-align: right;">
                <div style="margin-left: 3px; margin-right: 5px; text-align: right;">
                    <span *ngIf="selectedList?.length ?? 0 > 0" style="margin-right: 4px;">{{ 'EIM.LABEL_02009' | translate }}: {{selectedList.length}} {{ 'EIM.LABEL_02011' | translate }}</span>
                <span>{{ 'EIM.LABEL_02010' | translate }}: {{thumbnailList?.length ?? 0}} {{ 'EIM.LABEL_02011' | translate }}</span>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<p-contextMenu #contextMenu *ngIf="contextMenuItems.length > 0" [model]="contextMenuItems" appendTo="body"></p-contextMenu>