<form #folderForm="ngForm" class="p-grid" style="width: 100%; height: 100%;" autocomplete="off">
	<div class="p-col-6" style="height: 100%; padding-top: 0px; padding-left: 0px; padding-bottom: 5px;" eim-vertical-container adjustedValue="-8">
		<div style="margin-bottom: 10px;">
			<div class="eim-form-item">
				<label class="eim-form-label eim-form-label-required">{{ 'EIM_DOCUMENTS.LABEL_02001' | translate }}</label>
				<div class="eim-form-input" >
					<p-select name="type" [options]="typeSelectItems" placeholder="{{ 'EIM.INFO_00002' | translate }}" required="true"
							[(ngModel)]="selectedTypeId" (onChange)="onChangeType($event)"
							[disabled]="creating" [filter]="true" [autoWidth]="true" [style]="{'width':'calc(100% - 30px)'}"></p-select>
					<button pButton type="button" severity="info" class="icon-only-button"
							[disabled]="creating" icon="fa-fw fa fa-external-link" style="float: right;" pTooltip="{{ 'EIM.LABEL_03006' | translate }}"
							(click)="onClickShowObjectTypeSelector($event)"></button>
				</div>
			</div>
			<eim-text-input-form-item [(ngModel)]="path" name="path" label="{{ 'EIM_DOCUMENTS.LABEL_02051' | translate }}" [disabled]="true"></eim-text-input-form-item>
			<div class="eim-form-item">
				<label class="eim-form-label eim-form-label-required">{{ 'EIM.LABEL_02002' | translate }}</label>
				<div class="eim-form-input" style="display: flex;">
					<input type="text" name="folderName" pInputText maxlength="127"
							[disabled]="creating || nameAllocationSelectFlg" [(ngModel)]="name" style="width: 100%;" required="true"/>
				</div>
			</div>
		</div>

		<div class="eim-flexible-height" style="width: 100%;">
			<eim-master-contents-approve-workflow-diagram #workflowDiagram></eim-master-contents-approve-workflow-diagram>
		</div>
	</div>

	<div class="p-col-6" style="height: 100%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;">
		<p-tabs [value]="0">
			<p-tablist>
				<p-tab [value]="0">{{ 'EIM_DOCUMENTS.LABEL_02028' | translate }}</p-tab>
				<p-tab [value]="1">{{ 'EIM_DOCUMENTS.LABEL_02138' | translate }}</p-tab>
			</p-tablist>
			<p-tabpanels>
				<p-tabpanel [value]="0">
					<div style="padding:5px; height: 100%">
						<div style="height: calc(100% - 35px); overflow: auto;">
							<eim-contents-attribute-list-input-form-item #attributeListInputForm [form]="folderForm.form"
								[(attributeList)]="attributeList" [(attributeTypeLayoutList)]="attributeTypeLayoutList"
								[disabled]="creating" enableSuccessionSetting='true' (attrCheckBoxClicked)="onClickAttributeCheckBox()">
							</eim-contents-attribute-list-input-form-item>
						</div>
						<div *ngIf="selectTypeFlag" width="100%">
							<div style="margin-left: 17px; margin-top: 5px; display: flex;">
								<eim-checkbox class="eim-form-item p-chk-box padding-top-set" name="allCheckFlag"
									label="{{'EIM_DOCUMENTS.LABEL_03057' | translate}}" binary="true" [(ngModel)]="propertyAllCheckFlag"
									(onChange)="onChangePropertyAllCheckFlag($event)"></eim-checkbox>
								<button pButton type="button" class="p-button-secondary" style="margin-left: 10px;" icon="eim-icon-copy"
									label="{{'EIM_DOCUMENTS.LABEL_03034' | translate}}" [disabled]="propertyCopyPeastDisabled"
									(click)="onClickPropertyCopy($event)"></button>
								<button pButton type="button" class="p-button-secondary" style="margin-left: 5px;" icon="eim-icon-paste"
									label="{{'EIM_DOCUMENTS.LABEL_03036' | translate}}"
									[disabled]="propertyCopyPeastDisabled || !propertyPeastTargetExist"
									(click)="onClickPropertyPaste($event)"></button>
							</div>
						</div>
					</div>
				</p-tabpanel>
				<p-tabpanel [value]="1">
					<div *ngIf="selectTypeFlag" style="padding:25px; width: 100%; height: 100%" eim-vertical-container>
						<div class="eim-form-item">
							<label class="eim-form-label">{{'EIM_DOCUMENTS.LABEL_02136' | translate}}</label>
							<div class="eim-form-input" style="display: block !important;">
								<p-select name="assignedAttributeType" placeholder="　" [options]="nameAllocationSelectItems"
									[(ngModel)]="nameAllocationAttributeTypeId" [style]="{'width':'100%'}"
									(onChange)="onChangeNameAllocation()" appendTo="body"
									[disabled]="disableNameAllocation"></p-select>
							</div>
						</div>
						<div class="eim-form-item" style="display: flex;">
							<label class="eim-form-label">{{'EIM_DOCUMENTS.LABEL_02137' | translate}}</label>
							<div style="margin-left: 50px;">
								<eim-checkbox name="SettingAllCheck" class="eim-form-item padding-top-set"
									label="{{'EIM_DOCUMENTS.LABEL_03057' | translate}}" [disabled]="disableLowSuccession"
									binary="true" [(ngModel)]="lowSuccessionAllCheckFlag"
									(click)="settingAllCheck($event)"></eim-checkbox>
							</div>
						</div>
						<div class="eim-form-item eim-flexible-height" style="height: 100%;">
							<label class="eim-form-label"></label>
							<div class="eim-form-input">
								<eim-data-grid #successionTargetGrid></eim-data-grid>
							</div>
						</div>
					</div>
				</p-tabpanel>
			</p-tabpanels>
		</p-tabs>
	</div>
</form>
