<form #searchForm="ngForm" class="eim-object-search" style="height: 100%;"
		(ngSubmit)="onClickSearch()" (focusout)="onFocusOutForm($event)" (keydown)="onKeyDownForm($event)">
	<as-split direction="horizontal">
		<as-split-area [size]="splitLeftSize" [ngStyle]="{'overflow': 'hidden'}">
			<div style="height: 100%; overflow-y: hidden;" eim-vertical-container adjustedValue="-2">
				<div class="eim-flexible-height" style="overflow-x: hidden; overflow-y: auto;">

					<as-split direction="vertical">
						<as-split-area [size]="splitLeftTopSize" [ngStyle]="{'overflow-y': 'hidden'}">
							<div class="eim-object-search-left-panel" style="height: 100%;"
									eim-vertical-container adjustedValue="2">
								<div>
									<label class="eim-form-label" style="white-space: nowrap;">{{ 'EIM.LABEL_02060' | translate }}</label>
									<!-- サブクラスを含む -->
									<eim-checkbox  label="{{ 'EIM_OBJECT_EDITORS.LABEL_02002' | translate }}" name="includeSub"
										[(ngModel)]="condition.includeSub" type="checkbox" binary="true">
									</eim-checkbox>
								</div>
								<div class="eim-flexible-height">
									<eim-tree #objectTypeTree enableOpenOnSelect="true"
										[componentService]="objectTypeTreeComponentService"
										(selected)="onSelectObjectType()">
									</eim-tree>
								</div>
							</div>
						</as-split-area>

						<as-split-area [size]="100 - splitLeftTopSize" eim-vertical-container>
							<div class="eim-object-search-left-panel">
								<label class="eim-form-label" style="white-space: nowrap;">{{ 'EIM.LABEL_02053' | translate }}
									<span class="eim-icon-info"
										[appendTo]="tooltipArea" positionStyle="top" 
										pTooltip="{{ 'EIM_OBJECT_EDITORS.LABEL_02072' | translate }}" >
									</span>
								</label>
								<div #tooltipArea style="position: absolute;width:100%;z-index:3040;transform:translate(35px,-17px)" ></div>
							</div>

							<div #scroolDiv class="eim-object-search-left-panel attributeList eim-flexible-height" style="padding-bottom: 10px; overflow: auto;" >
								<div style="margin-left: 5px; margin-right: 5px;">

									<!-- 名前 -->
									<eim-text-input-form-item [form]="validForm.form"
										[(ngModel)]="condition.objName" name="objName"
										label="{{ 'EIM.LABEL_02002' | translate }}" inputType="text" [maxlength]="textMaxLength">
									</eim-text-input-form-item>

									<!-- ステータス -->
									<eim-combo-box-input-form-item [form]="validForm.form"
										[(ngModel)]="condition.statusId" name="statusId"
										label="{{ 'EIM.LABEL_02008' | translate }}" [options]="statusList" [disabled]="statusList.length === 0" >
									</eim-combo-box-input-form-item>

									<!-- 作成者 -->
									<eim-user-input-form-item [form]="validForm.form"
										[(ngModel)]="condition.creator" name="creator" [multiple]="false"
										label="{{ 'EIM.LABEL_02030' | translate }}">
									</eim-user-input-form-item>

									<!-- 作成日 -->
									<eim-object-editors-calendar-search-input-form-item [form]="validForm.form"
										[(ngModel)]="condition.createDate" name="createDate"
										label="{{ 'EIM_OBJECT_EDITORS.LABEL_02017' | translate }}">
									</eim-object-editors-calendar-search-input-form-item>

									<!-- 詳細条件表示ボタン -->
									<div style="text-align: center;">
										<button pButton type="button" severity="secondary" style="margin: auto; margin-top: 5px; margin-bottom: 5px;"
											label="{{detailsButtonLabel}}"
											(click)="onClickDetails();"></button>
									</div>

									<!-- 詳細条件 -->
									<div *ngIf="detailsFlg">
										<!-- オブジェクトID -->
										<eim-text-input-form-item [form]="validForm.form"
											[(ngModel)]="condition.objId" name="objId"
											label="{{ 'EIM_OBJECT_EDITORS.LABEL_02062' | translate }}" inputType="text" [maxlength]="Constant.NUMBER_MAX_LENGTH"
											[pattern]="Constant.NUMBER_PATTERN">
										</eim-text-input-form-item>

										<!-- リビジョン -->
										<eim-text-input-form-item [form]="validForm.form"
											[(ngModel)]="condition.rev" name="rev" [disabled]="condition.rev_onlyLatest"
											label="{{ 'EIM_OBJECT_EDITORS.LABEL_02064' | translate }}" inputType="text"
											[pattern]="Constant.NUMBER_PATTERN" [maxlength]="Constant.LONG_MAX_LENGTH">
										</eim-text-input-form-item>

										<!-- 最新リビジョンのみ -->
										<div class="eim-form-item">
											<div style="width: 185px; margin-left: 10px;"></div>
											<eim-checkbox name="rev_onlyLatest" [(ngModel)]="condition.rev_onlyLatest" type="checkbox" binary="false" label="{{ 'EIM_OBJECT_EDITORS.LABEL_02000' | translate }}"></eim-checkbox>
										</div>

										<!-- 更新者 -->
										<eim-user-input-form-item [form]="validForm.form"
											[(ngModel)]="condition.updater" name="updaterId" [multiple]="false"
											label="{{ 'EIM_OBJECT_EDITORS.LABEL_02068' | translate }}">
										</eim-user-input-form-item>

										<!-- 更新日 -->
										<eim-object-editors-calendar-search-input-form-item [form]="validForm.form"
											[(ngModel)]="condition.updateDate" name="updateDate"
											label="{{ 'EIM_OBJECT_EDITORS.LABEL_02080' | translate }}">
										</eim-object-editors-calendar-search-input-form-item>

										<!-- ロックユーザ -->
										<eim-user-input-form-item [form]="validForm.form"
											[(ngModel)]="condition.lockUser" name="lockUserId" [multiple]="false"
											label="{{ 'EIM_OBJECT_EDITORS.LABEL_02022' | translate }}">
										</eim-user-input-form-item>

										<!-- ロック日 -->
										<eim-object-editors-calendar-search-input-form-item [form]="validForm.form"
											[(ngModel)]="condition.lockDate" name="lockDate"
											label="{{ 'EIM_OBJECT_EDITORS.LABEL_02081' | translate }}">
										</eim-object-editors-calendar-search-input-form-item>

										<!-- セキュリティ -->
										<div class="eim-form-item" style="width: 100%;">
											<label class="eim-form-label">{{ 'EIM.LABEL_03050' | translate }}</label>
											<div class="eim-form-input" style="display: flex; height:26px;">
												<div class="eim-form-input-default eim-form-input-for-search-and-clear" style="width: calc(100% - 25px);">
													<div class="eim-form-input-text-for-search-and-clear" style="white-space: normal;">
														{{security.secName}}　<!-- 空白を入れないと削除時に1pxずれる -->
													</div>
													<div *ngIf="security.secName" align="right">
														<i class="fa fa-times" style="padding-right:5px;" (click)="onClickDeleteSecurity()"></i>
													</div>
												</div>
												<div style= "width:25px">
													<button pButton type="button" icon="fa fa-fw fa fa-external-link" severity="info" class="eim-form-input-multi-button icon-only-button"
														style="margin-left: 3px; float: right;" pTooltip="{{ 'EIM.LABEL_03006' | translate }}"
														(click)="onClickSelectSecurity();" [disabled]="false">
													</button>
												</div>
											</div>
										</div>

										<!-- 全文検索 -->
										<eim-text-input-form-item [form]="validForm.form" hidden
											[(ngModel)]="condition.allSearch" name="allSearch"
											label="{{ 'EIM_OBJECT_EDITORS.LABEL_02063' | translate }}" inputType="text" [maxlength]="Constant.TEXT_MAX_LENGTH">
										</eim-text-input-form-item>
									</div>

									<!-- オブジェクトタイプ別属性 -->
									<p-panel class="eim-panel-attribute-list">
										<div *ngFor="let attribute of condition.attributes; let i = index;">
											<!-- 数値型の場合 -->
											<eim-text-input-form-item *ngIf="attribute.valueTypeId === Constant.VALUE_TYPE_INTEGER"
												[form]="validForm.form" name="{{'attribute_' + attribute.typeId}}"
												[label]="attribute.typeName"
												[maxlength]="Constant.LONG_MAX_LENGTH" [pattern]="Constant.NUMBER_PATTERN"
												[(ngModel)]="attribute.value">
											</eim-text-input-form-item>

											<!-- 文字列型の場合 -->
											<eim-text-input-form-item *ngIf="attribute.valueTypeId === Constant.VALUE_TYPE_STRING"
												[form]="validForm.form" name="{{'attribute_' + attribute.typeId}}"
												[label]="attribute.typeName"
												[maxlength]="Constant.STRING_MAX_LENGTH"
												[(ngModel)]="attribute.value">
											</eim-text-input-form-item>

											<!-- 日付型の場合 -->
											<eim-calendar-input-form-item *ngIf="attribute.valueTypeId === Constant.VALUE_TYPE_DATE"
												[form]="validForm.form" name="{{'attribute_' + attribute.typeId}}"
												[label]="attribute.typeName"
												[(ngModel)]="attribute.value">
											</eim-calendar-input-form-item>

											<!-- テキスト型の場合 -->
											<eim-text-input-form-item *ngIf="attribute.valueTypeId === Constant.VALUE_TYPE_TEXT"
												[form]="validForm.form" name="{{'attribute_' + attribute.typeId}}"
												[label]="attribute.typeName"
												[maxlength]="Constant.TEXT_MAX_LENGTH"
												[(ngModel)]="attribute.value">
											</eim-text-input-form-item>

											<!-- 実数型の場合 -->
											<eim-text-input-form-item *ngIf="attribute.valueTypeId === Constant.VALUE_TYPE_DOUBLE"
												[form]="validForm.form" name="{{'attribute_' + attribute.typeId}}"
												[label]="attribute.typeName"
												[pattern]="Constant.REAL_PATTERN"
												[(ngModel)]="attribute.value">
											</eim-text-input-form-item>

											<!-- コード型の場合 -->
											<eim-combo-box-input-form-item *ngIf="attribute.valueTypeId === Constant.VALUE_TYPE_CODE"
												[form]="validForm.form" name="{{'attribute_' + attribute.typeId}}"
												[label]="attribute.typeName"
												[(ngModel)]="attribute.value" [options]="attribute.options">
											</eim-combo-box-input-form-item>

											<!-- オブジェクト型の場合 -->
											<eim-object-input-form-item *ngIf="attribute.valueTypeId === Constant.VALUE_TYPE_OBJECT"
												[form]="validForm.form" name="{{'attribute_' + attribute.typeId}}"
												[label]="attribute.typeName"
												[(ngModel)]="attribute.value">
											</eim-object-input-form-item>

											<!-- ユーザ型の場合 -->
											<eim-user-input-form-item *ngIf="attribute.valueTypeId === Constant.VALUE_TYPE_USER"
												[form]="validForm.form" name="{{'attribute_' + attribute.typeId}}"
												[label]="attribute.typeName"
												[(ngModel)]="attribute.value">
											</eim-user-input-form-item>
										</div>
									</p-panel>
								</div>
							</div>
						</as-split-area>
					</as-split>
				</div>

				<!-- 属性を表示する -->
				<div class="p-rtl" align="right" class="eim-object-search-left-panel eim-object-search-left-footer">
					<eim-checkbox name="dspAllAttr" label="{{ 'EIM_OBJECT_EDITORS.LABEL_02001' | translate }}"
						[(ngModel)]="condition.dspAllAttr" type="checkbox" binary="true" class="eim-object-search-footer-bottons">
					</eim-checkbox>

					<!-- 検索ボタン -->
					<button pButton type="submit" class="p-button-primary"
						icon="eim-icon-search" label="{{ 'EIM.LABEL_03007' | translate }}"
						[disabled]="validForm.invalid"
						(focus)="onFocusSearch($event)"></button>

					<!-- クリアボタン -->
					<button pButton type="button" class="p-button-secondary"
						label="{{ 'EIM.LABEL_03009' | translate }}"
						(click)="onClickClear();"></button>
				</div>
			</div>
		</as-split-area>


		<as-split-area [size]="100 - splitLeftSize">
			<div class="eim-object-search-right-panel" style="height: 100%;">
				<eim-object-list #objectList [selectedObjTypeId]="selectedObjTypeId" [tagType]="objectEditorMainComponent.TAB_TYPE_SEARCH_OBJECT"></eim-object-list>
			</div>
		</as-split-area>
	</as-split>
</form>
<form #validForm="ngForm" ></form>
