@use '_variables' as *;
@use 'dropdown' as *;
@use 'tab' as *;
@use 'input-for-selection' as *;
@use 'chips-for-selection' as *;
@use 'tab-panel' as *;
@use 'tree' as *;
@use 'data-grid' as *;
@use 'gantt-chart' as *;
@use 'menubar' as *;
@use 'menubar-block' as *;
@use 'menubar-button' as *;
@use 'activable-menu' as *;
@use 'panel' as *;
@use 'stretched-panel' as *;
@use 'panel-flat' as *;
@use 'select-button' as *;
@use 'progress-bar-renderer' as *;

.header {
	height: 50px;
}
.body {
	height: calc(100% - 69px - 2em);
}

::ng-deep .eim-icon-tag:before {
	content: '\f02b';
}
::ng-deep .eim-icon-tag-color {
  color: #426ef4!important;
}
/* 2022.05 新規 */
::ng-deep .eim-icon-file-color {
	color: #a5a7a9!important;
}
/* 2022.05 新規 */
::ng-deep .eim-icon-folder-color {
	color: #dbad4a!important;
}
/* 2022.05 新規 */
::ng-deep .eim-icon-workspace-color {
	color: #848484!important;
}
/*
::ng-deep .eim-icon-private:before {
	content: '\f096';
}

::ng-deep .eim-icon-public:before {
	content: '\f0c8';
	color: #008000;
}
*/

::ng-deep .eim-icon-document:before {
    content: "\f15b";
}

/*
::ng-deep .eim-icon-search:before {
    content: "\f002";
}
*/

/* ==========================================================================
   PrimeNG MenuBar
   ========================================================================== */
::ng-deep .eim-menu-box-admin .p-menubar {
	width: 100%;
	background:linear-gradient(to bottom, #585858, #373737);
}
::ng-deep .eim-menu-box-admin .p-menubar .p-menubar-item-link {
	display: block;
	color: white;
}

::ng-deep .eim-menu-box .p-menubar {
	padding: 0px;
	border-radius: 0;
}
::ng-deep .eim-menu-box-admin .p-menubar .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link .p-menubar-item-icon {
	color: inherit!important;
}
::ng-deep .eim-menu-box-admin .p-menubar .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link .p-menubar-item-label {
	padding: 3px;
	color: inherit!important;
}
::ng-deep .eim-menu-box-admin .p-menubar .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link .p-menubar-submenu-icon {
	color: inherit!important;
}
::ng-deep .eim-menu-box .p-menubar p-menubarsub .p-menubar-item-link {
	padding: 3px;
	color: #555555;
}
::ng-deep .eim-menu-box-admin .p-menubar .p-menubar-submenu .p-menubar-item-link {
  display: flex;
}
::ng-deep .eim-menu-box-admin .p-menubar p-menubarsub .p-menubar-item-link .p-menubar-item-icon {
  display: flex;
}

::ng-deep .eim-menu-box .p-menubar > p-menubarsub p-menubarsub .p-menubar-item-link .p-menubar-item-icon {
  display: inline-block;
}

::ng-deep .eim-menu-box .p-menubar .p-menubar-root-list .p-menubar-item {
	text-align: center;
}

::ng-deep .eim-menu-box .p-menubar > p-menubarsub p-menubarsub .p-menubar-submenu {
	background: #ffffff;
}

::ng-deep .eim-menu-box .p-menubar .p-menubar-root-list .p-menubar-submenu .p-menubar-item {
	text-align: left!important;
}

::ng-deep .eim-menu-box .p-menubar > p-menubarsub > .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link > .p-menubar-item-icon {
	margin: auto;
	font-size: 20px;
	width: 20px;
	height: 20px;
	line-height: 20px;
}

::ng-deep .eim-menu-box .p-menubar > p-menubarsub > .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content> .p-menubar-item-link > .p-menubar-item-label {
	vertical-align: bottom;
	line-height: 1em;
}

::ng-deep .eim-menu-box .p-menubar > p-menubarsub > .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content> .p-menubar-item-link > .p-menubar-submenu-icon {
	vertical-align: bottom;
}

::ng-deep .eim-menu-box .p-menubar .p-menubar-item {
	margin: 0px;
}
::ng-deep .eim-menu-box .p-menubar .p-menubar-item .p-menubar-item-link {
	margin-top: 0px;
	margin-bottom: 0px;
}
/* 2022.05 削除 未使用 */
/* ::ng-deep .eim-menu-box .p-menubar .ui-menu-parent .ui-menu-child {
	padding: 0px;
} */
::ng-deep .p-menubar .p-menubar-custom {
	padding: 0px;
}
/** マウスオーバー、クリック */
::ng-deep .eim-menu-box .p-menubar .p-menubar-item-active.p-menubar-item > .p-menubar-item-content > .p-menubar-item-link, 
          .eim-menu-box .p-menubar .p-menubar-item .p-menubar-item-link:hover > .p-menubar-item-content > .p-menubar-item-link {
	background: #e8e8e8!important;
	color: #000000!important;;
	border-radius: 0px;
	border-color: #ffffff;
}
/** マウスオーバー、クリックなし */
::ng-deep .eim-menu-box .p-menubar .p-menubar-root-list > .p-menubar-item:not(.p-menubar-item-active) > .p-menubar-item-content > .p-menubar-item-link, .eim-menu-box .p-menubar .p-menubar-item .p-menubar-item-link:not(:hover) {
	color: #FFFFFF;
}
::ng-deep .eim-menu-box .p-menubar .p-menubar-root-list>.p-menubar-item {
	border-right: thin solid #dddddd;
	border-radius: 0px;
}
::ng-deep .p-menubar-submenu-icon {
	margin-left: 0px;
}
::ng-deep .p-menubar-item-link {
  min-width: 100px;
}
::ng-deep .eim-menu-box .p-menubar-item-link:focus {
    outline-width: 0px;
}

::ng-deep .p-menubar-root-list {
  white-space: nowrap;
}
::ng-deep .p-menubar-submenu-icon {
  margin-left: 6px;
}

/* ==========================================================================
   グリッドが中に含まれているパネル
   ========================================================================== */
/** app.component.cssから高さを変更 */
::ng-deep .eim-panel-containing-grid .p-panel-content-container.ng-trigger-panelContent {
	height: calc(100% - 30px);
	padding-bottom: 0px;
}

::ng-deep .eim-admin-left-panel {
	padding: 5px 3px 5px 5px;
	height: calc(100% - 0px);
}

::ng-deep .eim-admin-right-panel {
	padding: 5px 5px 5px 3px;
	height: calc(100% - 0px);
	overflow: hidden;
}

::ng-deep .p-tabpanel  {
	overflow: auto;
}

/* ==========================================================================
   フッタ
   ========================================================================== */
::ng-deep .eim-admin-footer {
	height: 30px;
	margin-right: 8px;
}


/* ==========================================================================
   アコーディオン
   ========================================================================== */
::ng-deep p-accordion p-accordiontab .p-accordionheader {
	border: 0.5px solid #d6d6d6!important;
	// color: #555555;
	color: #1b1d1f;
	background-color: rgb(246, 247, 249);
	border-radius: 0;
}


/* ==========================================================================
   ブロックUI
   ========================================================================== */
::ng-deep .p-blockui {
		background: #ffffff;
		opacity: 0.7;
}


