::ng-deep .eim-workspace-home-panel-wrapper {

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	align-content: start;
	justify-content: start;

	p-panel.eim-stretched-panel {
		height: 250px;
		overflow-x: hidden;
		overflow-y: hidden;
		width: 100%;

		.p-panel.p-component .p-panel-header {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
		.p-panel.p-component .p-panel-content {
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			overflow: auto;
		}

		eim-project-updator {
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
}
