<form #documentForm="ngForm" style="width: 100%; height: 100%" autocomplete="off">
  <div
    style="
      height: 100%;
      padding-top: 0px;
      padding-left: 0px;
      padding-bottom: 0px;
    "
  >
    <div style="margin-bottom: 10px">
      <div class="eim-form-item">
        <label class="eim-form-label eim-form-label-required">{{
          "EIM_DOCUMENTS.LABEL_02001" | translate
        }}</label>
        <div class="eim-form-input">
          <p-select
            name="type"
            [options]="typeSelectItems"
            placeholder="{{ 'EIM.INFO_00002' | translate }}"
            required="true"
            [(ngModel)]="selectedDocumentTypeId"
            (onChange)="onChangeType($event)"
            [filter]="true"
            [autoWidth]="true"
            [style]="{ width: 'calc(100% - 30px)' }"
          ></p-select>
          <button
            pButton
            type="button"
            class="p-button-info icon-only-button"
            icon="fa-fw fa fa-external-link"
            style="float: right"
            pTooltip="{{ 'EIM.LABEL_03006' | translate }}"
            (click)="onClickShowObjectTypeSelector($event)"
          ></button>
        </div>
      </div>
      <eim-text-input-form-item
        name="path"
        [(ngModel)]="path"
        label="{{ 'EIM_DOCUMENTS.LABEL_02051' | translate }}"
        [disabled]="true"
      ></eim-text-input-form-item>

      <div>
        <label class="eim-form-label">{{
          "EIM_DOCUMENTS.LABEL_02193" | translate
        }}</label>
      </div>
      <div>
        <span
          class="eim-icon-checkin"
          style="padding: 0 3px; color: #0d98ed"
        ></span>
        <label class="eim-form-label">{{
          "EIM_DOCUMENTS.LABEL_02194" | translate
        }}</label>
      </div>
      <div>
        <span
          class="eim-icon-cancel"
          style="padding: 0 3px; color: #ff0000"
        ></span>
        <label class="eim-form-label">{{
          "EIM_DOCUMENTS.LABEL_02195" | translate
        }}</label>
      </div>
      <div class="eim-form-item" style="width: 100%">
        <div class="eim-form-input" style="padding-left: 10px">
          <eim-checkbox
            name="allCheckFlag"
            label="{{ 'EIM_DOCUMENTS.LABEL_03057' | translate }}"
            binary="true"
            [(ngModel)]="allCheckFlg"
            (onChange)="onChange($event)"
          ></eim-checkbox>
        </div>
      </div>
    </div>
    <div style="height: calc(100% - 350px); width: 100%">
      <eim-data-grid #documentList [multiple]="true"> </eim-data-grid>
    </div>
    <div style="width: 100%; height: 185px">
      <eim-master-contents-approve-workflow-diagram
        #workflowDiagram
        (errored)="workflowDiagramErroed()"
        [multiple]="false"
      ></eim-master-contents-approve-workflow-diagram>
    </div>
  </div>
</form>
