<div *ngIf="!isHierarchical">
	<eim-attribute-list-input-form-item
			[form]="form"
			[attributeTypeLayoutList]="attributeTypeLayoutList"
			[attributeList]="attributeList"
			[disabled]="disabled"
			[statusTypeId]="statusTypeId"></eim-attribute-list-input-form-item>
</div>
<div *ngIf="isHierarchical">
	<div *ngFor="let hierarchicalLayout of hierarchicalLayoutList; let i = index">
		<div *ngIf="!hierarchicalLayout.hierarchicalLayoutList && attributeMap">
			<eim-attribute-input-form-item [form]="form" [attributeTypeLayout]="hierarchicalLayout.attributeTypeLayout" [attribute]="attributeMap[hierarchicalLayout.attributeTypeLayout.id]" [disabled]="disabled" [statusTypeId]="statusTypeId"></eim-attribute-input-form-item>
		</div>
		<div *ngIf="hierarchicalLayout.hierarchicalLayoutList && hierarchicalLayout.hierarchicalLayoutList.length > 0"
				class="eim-hierarchical-attribute-list-input-form-group">
			<p-fieldset [legend]="hierarchicalLayout.labelList[0].name"
					[toggleable]="true" [collapsed]="!hierarchicalLayout['_expand']">
				<eim-hierarchical-attribute-list-input-form-item
						[form]="form"
						[attributeTypeLayoutList]="attributeTypeLayoutList"
						[attributeList]="attributeList"
						[hierarchicalLayoutList]=hierarchicalLayout.hierarchicalLayoutList
						[disabled]="disabled"
						[attributeMap]="attributeMap"
						[statusTypeId]="statusTypeId">
				</eim-hierarchical-attribute-list-input-form-item>
			</p-fieldset>
		</div>
	</div>
</div>
