<div class="eim-form-item">
	<label *ngIf="label" [ngClass]="{'eim-form-label': true, 'eim-form-label-required': required}" pTooltip="{{pTooltipLabel}}">{{label}}</label>

	<div class="eim-form-input eim-form-input-selected-list"
			[ngClass]="{'eim-form-no-label': label === null || label === ''}">
		<span *ngIf="topMessage" [innerHTML]="topMessage"></span>
			<div class="eim-form-input-multi-surround">
				<div class="eim-form-input-multi">
					<span *ngIf="leftMessage" class="eim-input-form-item-left-message" [innerHTML]="leftMessage"></span>
					<p-autoComplete #chips name="{{name}}" [multiple]="true" [ngClass]="{
																			'ng-invalid': (formControls[0] ? (formControls[0].dirty && formControls[0].invalid) : false),
																			'ng-dirty': (formControls[0] ? (formControls[0].dirty) : false),
																			'eim-user-input-form-item-list-disabled': disabled,
																			'eim-user-input-form-item-list eim-form-input-multi-input-area': !disabled}" [ngModel]="users"
						[ngModel]="users" [disabled]="true" [suggestions]="[]">
						<ng-template let-user pTemplate="selectedItem">
							<td>
								<i class="fa fa-user fa-fw" style="padding-right: 3px;"></i>
								<span>{{user.label}}</span>
								<span *ngIf="!disabled">
									<a href="#" style="padding-left:6px; padding-right:3px; color: #E3F1FF"
										pTooltip="{{ 'EIM.LABEL_03003' | translate }}" (click)="onClickDelete($event, user.value)"><i
											class="fa fa-times fa-fw eim-user-input-form-item-delete"></i></a>
								</span>
							<td>
						</ng-template>
					</p-autoComplete>
					<span *ngIf="rightMessage" class="eim-input-form-item-right-message" [innerHTML]="rightMessage"></span>
					<div *ngIf="!disabled" class="eim-form-input-multi-button-area-container">
						<div *ngIf="!disabled" class="eim-form-input-multi-button-area">
							<button pButton type="button" severity="info" class="icon-only-button eim-form-input-multi-button" icon="fa fa-external-link" (click)="onClickSearch($event)" pTooltip="{{ 'EIM.LABEL_03006' | translate }}"></button>
						</div>
					</div>
				</div>
			</div>
		<span *ngIf="bottomMessage" [innerHTML]="bottomMessage"></span>
	</div>
</div>