::ng-deep .p-tree {
	height: 100%;
	width: 100%;
	border-radius: 0;
	-ms-user-select: none; /* IE 10+ */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* 2022.03.28 新規 */
::ng-deep .p-tree .p-tree-root-children {
	padding: 3px;
}
/* 2021.12.27 新規 */
::ng-deep .p-tree .p-tree-root-children .p-tree-node {
	padding: 1.5px 0px 0px 0px;
}

::ng-deep .p-tree-node-toggle-button {
	width: 12px !important;
	height: 12px !important;
}

/* 2021.12.27 新規 */
::ng-deep .p-tree-node-toggle-button .p-tree-node-toggle-icon {
	width: 8px;
	height: 8px;
}

::ng-deep .p-tree-node-label {
	width: calc(100% - 2.7em);
}

/* 2021.12.27 削除(新規スタイルに移行)
::ng-deep .p-highlight {
	background: none;
	color: #555555;
} */
/* 2021.12.27 削除(新規スタイルに移行)
::ng-deep .ui-treenode-content-selected {
	background-color: #c4eefc;
} */
/* 2022.03 削除 */
/*::ng-deep p-treenode .p-tree-node .p-tree-node-content.p-tree-node-selectable.p-highlight .p-tree-node-label :disabled{
	width: auto;
	background-color: #c4eefc;
}*/
::ng-deep .treeTitleClass > .p-tree-node-content {
	background-color:#FFFFFF;
}

/* 2022.03 新規 有効状態文字色 */
::ng-deep .p-tree .p-tree-root-children .p-tree-node:not(.p-tree-disabled) .p-tree-node-content .p-tree-node-toggle-button {
	color: #555555;
}
::ng-deep .p-tree .p-tree-root-children .p-tree-node:not(.p-tree-disabled) .p-tree-node-content .p-tree-node-icon {
	color: #555555;
}
::ng-deep .p-tree .p-tree-root-children .p-tree-node:not(.p-tree-disabled) .p-tree-node-content .p-tree-node-label {
	color: #555555;
}
/* 2022.03 新規 無効状態文字色 */
::ng-deep .p-tree .p-tree-root-children .p-tree-node.p-tree-disabled .p-tree-node-content .p-tree-node-toggle-button {
	color: #c2c2c2;
}
::ng-deep .p-tree .p-tree-root-children .p-tree-node.p-tree-disabled .p-tree-node-content .p-tree-node-icon {
	color: #c2c2c2;
}
::ng-deep .p-tree .p-tree-root-children .p-tree-node.p-tree-disabled .p-tree-node-content .p-tree-node-label {
	color: #c2c2c2;
}

.hover-background {
	background-color: #dad8d8;
}