	<div style="margin-bottom: 10px; height: 100%;" eim-vertical-container>
		<div style="height:42px">
				<label class="eim-form-label">{{ 'EIM_DOCUMENTS.LABEL_02201' | translate }}</label>
		</div>
		<div>
			<eim-text-input-form-item [(ngModel)]="content.objName" name="tag_name" label="{{ 'EIM_DOCUMENTS.LABEL_02000' | translate }}" style= "margin:0 auto;" [disabled]="true"></eim-text-input-form-item>
		</div>
		<div>
			<eim-text-input-form-item [(ngModel)]="path" name="path" label="{{ 'EIM_DOCUMENTS.LABEL_02051' | translate }}" [disabled]="true"></eim-text-input-form-item>
		</div>
		<div class="eim-data-grid-menu" style="padding-top: 25px">
			<eim-menubar [model]="tagMenuItems"></eim-menubar>
		</div>
		<div class="eim-flexible-height" style="height: 100%; width: 100%; display: flex;">
			<eim-data-grid #contentsList style="width: 100%;" [contextMenuItems]="tagContextMenuItems"
				(contextmenu)="onContextMenuContentsList($event)" (selected)="onSelectFile($event)"></eim-data-grid>
		</div>
	</div>