<div class="p-grid" style="height: 100%;">
	<div style="width: 50%; height: 100%; padding-right: 1px">
		<p-panel #groupPnl class="eim-panel-containing-grid" header="{{'EIM_ADMINS.LABEL_02078' | translate}}">
			<eim-tree #singleGroupContentsTree [contextMenuItems]="contentsTreeMenuItems" (selected)="onSelectGroupTreeNode($event)"></eim-tree>
		</p-panel>
	</div>
	<div style="width: 50%; height: 100%; padding-left: 1px">
		<p-panel #rolePnl class="eim-panel-containing-grid" header="{{'EIM_ADMINS.LABEL_02081' | translate}}">
			<eim-tree #singleRoleContentsTree [contextMenuItems]="contentsTreeMenuItems" (selected)="onSelectRoleTreeNode($event)"></eim-tree>
		</p-panel>
	</div>
</div>
