<div style="height: 100%;">
	<form #codeCreatorForm="ngForm" class="p-grid" style="width: 100%; height: 100%;" autocomplete="off">
		<div style="width: 100%; height: 100%; padding-top: 0px; padding-left: 0px; padding-bottom: 0px;" eim-vertical-container>
			<div style="margin-bottom: 10px;">

				<div class="eim-form-item">
					<label class="eim-form-label eim-form-label-required" style="width: 40%;">{{ 'EIM_ADMINS.LABEL_02119' | translate }}</label>
					<div class="eim-form-input">
						<input #focusTarget name="code" type="text" required="true" pInputText [(ngModel)]="code" maxlength="{{inputMaxLength}}" style="width: 95%;"/>
					</div>
				</div>
				<div *ngFor="let lang of languages;" class="eim-form-item">
					<label class="eim-form-label eim-form-label-required" style="width: 40%;">{{ 'EIM_ADMINS.LABEL_02003' | translate:lang }}</label>
					<div class="eim-form-input">
						<input name="name_{{lang.lang}}" type="text" required="true" pInputText [(ngModel)]="nameList[lang.lang]" maxlength="{{inputMaxLength}}" style="width: 95%;"/>
					</div>
				</div>
					<div class="eim-form-item">
						<label class="eim-form-label" style="width: 40%;">{{'EIM_ADMINS.LABEL_02080' | translate}}</label>
						<div class="eim-form-input">
							<eim-radio-button name="OFF" label="{{ 'EIM_ADMINS.LABEL_02082' | translate }}" value="DisabledFlagOff" [(ngModel)]="mutual"></eim-radio-button>
							<eim-radio-button name="ON" label="{{ 'EIM_ADMINS.LABEL_02083' | translate }}" value="DisabledFlagOn" [(ngModel)]="mutual"></eim-radio-button>
						</div>
					</div>

			</div>
		</div>
	</form>
</div>
