<form style="height: 100%;" autocomplete="off" novalidate>
	<div style="height: 100%;">
		<div style="width: 100%;height: 100%">
			<p-panel class="eim-panel-containing-grid" header="{{ 'EIM_ADMINS.LABEL_02018' | translate }}">
				<div class="eim-data-grid-menu" >
					<eim-menubar [model]="entryMenuItems"></eim-menubar>
				</div>

				<div class="p-grid eim-flexible-height" style="height: calc(100% - 40px)">
					<!-- アクセスエントリー -->
					<div class="p-col-8 eim-table-config" style="height: 100%; display: flex; padding: 0px">
						<div style="height: 100%; width: calc(100% - 45px);">
							<div eim-vertical-container style="width: 100%; height: 100%;">
								<div class="eim-flexible-height">
									<eim-data-grid #accessEntryDataGrid (selected)="onSelectAccessEntry()" style="height: 100%;" [multiple]="false"
										[contextMenuItems]="entryContextMenuItems"></eim-data-grid>
								</div>
							</div>
						</div>

						<div style="height: 100%; width: 40px; display: table;">
							<div style="vertical-align: middle; float: none; display: table-cell;">
								<button pButton class="p-button-success" type="button" pTooltip="{{ 'EIM.LABEL_03029' | translate }}" icon="fa fa-arrow-up"
									(click)="onClickUp($event)" style="width: 30px; height: 30px; margin-left: 5px; margin-bottom: 10px;"></button>
								<button pButton class="p-button-success" type="button" pTooltip="{{ 'EIM.LABEL_03030' | translate }}" icon="fa fa-arrow-down"
									(click)="onClickDown($event)" style="width: 30px; height: 30px; margin-left: 5px;"></button>
							</div>
						</div>
					</div>

					<!-- アクセス権限 -->
					<div class="p-col-4" style="padding-top: 0px; height: calc(100% - 10px);">
						<p-panel class="eim-panel-containing-grid" header="{{ 'EIM_ADMINS.LABEL_02031' | translate }}" [style]="{'height': '100%'}">
							<div *ngIf="accessRoleDispFlag" style="width: 100%; height: 100%; margin-bottom: 5px; overflow-y: auto;">
								<table style="width: 100%;">
									<thead>
										<tr>
											<!-- 上書 -->
											<td *ngIf="overwriteFlag" class="roleColumn15">
													{{ 'EIM_ADMINS.LABEL_02035' | translate }}
											</td>
											<!-- 許可 -->
											<td class="roleColumn15">{{ 'EIM_ADMINS.LABEL_02032' | translate }}</td>
											<!-- 拒否 -->
											<td class="roleColumn15">{{ 'EIM_ADMINS.LABEL_02033' | translate }}</td>
											<!-- 無視 -->
											<td class="roleColumn15">{{ 'EIM_ADMINS.LABEL_02034' | translate }}</td>
											<td></td>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let accessRole of accessRoleList; let i = index;">
											<td *ngIf="overwriteFlag" class ="roleColumn15">
												<eim-checkbox name="{{ accessRole.name }}" value="true" binary="true" (onChange)="onChangeOverWrite(i)"
													[(ngModel)]="accessRoleList[i].roleChk"></eim-checkbox>
											</td>
											<td class ="roleColumn15" style="text-align: center;">
												<eim-radio-button class="eim-form-item forCenter"  name="{{ accessRole.name }}" value="{{accessAdmit}}" (onClick)="onClickAccessRole(i, accessAdmit)" [(ngModel)]="accessRoleList[i].permit"
													[disabled]="overwriteFlag && !accessRoleList[i].roleChk || !editable"></eim-radio-button>
											</td>
											<td class ="roleColumn15">
												<eim-radio-button class="eim-form-item forCenter" name="{{accessRole.name}}" value="{{accessRefuse}}" (onClick)="onClickAccessRole(i, accessRefuse)" [(ngModel)]="accessRoleList[i].permit"
													[disabled]="overwriteFlag && !accessRoleList[i].roleChk || !editable"></eim-radio-button>
											</td>
											<td class ="roleColumn15">
												<eim-radio-button class="eim-form-item forCenter" name="{{accessRole.name}}" value="{{accessPass}}" (onClick)="onClickAccessRole(i, accessPass)" [(ngModel)]="accessRoleList[i].permit"
													[disabled]="overwriteFlag && !accessRoleList[i].roleChk || !editable"></eim-radio-button>
											</td>
											<td>{{accessRole.dispName}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</p-panel>
						<!-- 更新ボタン -->
						<div class="p-rtl eim-admin-footer" dir="rtl">
							<button pButton type="button" class="p-button-primary" (click)="onClickUpdate($event);" [disabled]="!accessRoleUpdatableFlag || !editable" label="{{ 'EIM.LABEL_03004' | translate }}"></button>
						</div>
					</div>
				</div>
			</p-panel>
		</div>
	</div>
</form>
