<div style="height: 100%;" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
	<eim-header #header class="header" [user]="user" [(font-size)]="fontSize" [version]="version" (changeFontSize)="onChangeFontSize($event)" [authenticationService]="documentAuthenticationService"></eim-header>
	<div class="body">
		<eim-document-main #documentMain (shownDialog)="setShowDialogId($event)" style="height:100%;"
			jumpTargetId="{{jumpTargetId}}"
			isFolder="{{isFolder}}"
			linkParentObjId="{{linkParentObjId}}"
			downloadPrivateFileObjId="{{downloadPrivateFileObjId}}"
			downloadPublicFileObjId="{{downloadPublicFileObjId}}">
		</eim-document-main>

		<eim-message></eim-message>
		<eim-shared-dialog-manager></eim-shared-dialog-manager>
	</div>
</div>