.header {
	display: flex;
	justify-content: space-between;
	align-items:center;
	background-color:#383838;
	padding:5px;
}

.left-section{
	display: flex;
	flex: 1;
	justify-content: flex-start;
	min-width: 0;
}

.center-section{
	flex: 1;
	display: flex;
	justify-content: center;
}

.right-section{
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.body {
	height: calc(100% - 35px);
}

.viewer {
	margin: 20px;
}

.header-button.p-button.p-component {
	width: 24px;
	height: 24px;
	color: #ffffff;
	background-color: #383838;
	padding: 3px 6px;
	border: 0;
}

.header-current-page-info {
    width: 40px;
    margin-right: 5px;
}

.header-page-info-text {
	align-self: center;
	color: #ffffff;
	font-size: small;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
}

.separator {
	width: 1px;
	height: 16px;
	background-color: #747474;
	margin: 0 10px;
	align-self: center;
}


@media print{
	.no_print{
		display: none;
	}
}

