<div style="height: 100%;">
	<form #listValueCreatorForm="ngForm" class="p-grid" style="width: 100%; height: 100%;" autocomplete="off">
		<div style="width: 100%; height: 100%; padding-top: 0px; padding-left: 0px; padding-bottom: 0px;" eim-vertical-container>
			<div style="margin-bottom: 10px;">

				<!-- リスト値 -->
				<div class="eim-form-item" style="width: 100%;">
					<eim-attribute-default #listValueName [multiple]="false" style="width: 100%;" label="{{'EIM_ADMINS.LABEL_02097' | translate}}"
						[form]="listValueCreatorForm.form" [valTypeId]="valTypeId" [required]="true">
					</eim-attribute-default>
				</div>

				<!-- 表示色を指定する -->
				<div class="eim-form-item" style ="width: 200px; float: left;">
					<div class="eim-form-input" style ="padding-left: 0px;">
						<eim-checkbox name="colorcheck" [disabled]="multiple" [(ngModel)]="checkColor" value="true" binary="true" label="{{'EIM_ADMINS.LABEL_02098' | translate}}"></eim-checkbox>
					</div>
				</div>

				<!-- 色入力欄 -->
				<div class="eim-document-attribute-list-creator-color-picker">
					<p-colorPicker name="color" [appendTo]="colorPickerArea" [disabled]="!checkColor" [(ngModel)]="color"></p-colorPicker>
				</div>

			</div>
		</div>
	</form>
</div>
