<div class="eim-form-item">
	<label *ngIf="label" [ngClass]="{'eim-form-label': true, 'eim-form-label-required': required}">{{label}}</label>

	<ng-container *ngIf="!multiple && value">
		<div class="eim-form-input" style="display: block !important;" 
				[ngClass]="{'eim-form-no-label': label === null || label === ''}">
			<span *ngIf="topMessage" [innerHTML]="topMessage"></span>
			<div [ngClass]="disabled ? 'eim-form-input-disabled': ''">
				<div class="eim-form-input-surround">
					<span *ngIf="leftMessage" class="eim-input-form-item-left-message" [innerHTML]="leftMessage"></span>
					<p-editor name="{{name}}" #editor [(ngModel)]="value[0]" [readonly]="disabled" [style]="{'width':'100%','height':'120px'}"
							[class.ng-invalid]="formControls[0] && formControls[0].invalid" [class.ng-dirty]="formControls[0] && formControls[0].dirty"
							(paste)="onPaste($event, 0)" (keypress)="onKeyPress($event, 0)" (keydown)="onKeyDown($event, 0)" (compositionstart)="onCompositionStart($event, 0)"
							(onSelectionChange)="onChange($event, 0)" (focusout)="onFocusOut($event, 0)">
						<p-header>
							<span class="ql-formats">
								<select class="ql-font">
									<option selected>Sans Serif</option>
									<option value="serif">Serif</option>
									<option value="monospace">Monospace</option>
								</select>
							</span>
							<span class="ql-formats">
								<select class="ql-size">
									<option value="small"></option>
									<!-- Note a missing, thus falsy value, is used to reset to default -->
									<option selected></option>
									<option value="large"></option>
									<option value="huge"></option>
								</select>
							</span>
							<span class="ql-formats">
								<button class="ql-bold" aria-label="Bold"></button>
								<button class="ql-italic" aria-label="Italic"></button>
								<button class="ql-underline" aria-label="Underline"></button>
							</span>
							<span class="ql-formats">
								<select class="ql-color"></select>
								<select class="ql-background"></select>
							</span>
							<span class="ql-formats">
								<button class="ql-list" value="ordered" aria-label="Ordered List"></button>
								<button class="ql-list" value="bullet" aria-label="Unordered List"></button>
								<select class="ql-align">
									<option selected></option>
									<option value="center"></option>
									<option value="right"></option>
									<option value="justify"></option>
								</select>
							</span>
							<span class="ql-formats">
								<button class="ql-link" aria-label="Insert Link"></button>
							</span>
						</p-header>
					</p-editor>
					<span *ngIf="rightMessage" class="eim-input-form-item-right-message" [innerHTML]="rightMessage"></span>
				</div>
			</div>
			<span *ngIf="bottomMessage" [innerHTML]="bottomMessage"></span>
		</div>
	</ng-container>

	<ng-container *ngIf="multiple">
		<div class="eim-form-input" [ngClass]="{'eim-form-no-label': label === null || label === ''}">
			<span *ngIf="topMessage" [innerHTML]="topMessage"></span>
			<span class="eim-form-input-multi-surround">
				<div [ngClass]="disabled ? 'eim-form-input-disabled': ''">
					<div *ngFor="let item of itemsForLoop; let i = index" class="eim-form-input-multi">
						<span *ngIf="leftMessage" class="eim-input-form-item-left-message" [innerHTML]="leftMessage"></span>
						<p-editor name="{{name}}_{{i}}" #editor [ngClass]="{'eim-form-input-multi-input-area': !disabled, 'eim-form-input-multi-input-area-disabled': disabled}"
								[class.ng-invalid]="formControls[i] && formControls[i].invalid" [class.ng-dirty]="formControls[i] && formControls[i].dirty"
								[(ngModel)]="value[i]" [readonly]="disabled" [style]="{'width':'100%','height':'120px'}" [maxlength]="maxlength"
								(paste)="onPaste($event, i)" (keypress)="onKeyPress($event, i)" (keydown)="onKeyDown($event, i)" (compositionstart)="onCompositionStart($event, i)"
								(onSelectionChange)="onChange($event, i)" (focusout)="onFocusOut($event, i)">
							<p-header>
								<span class="ql-formats">
									<select class="ql-font">
										<option selected>Sans Serif</option>
										<option value="serif">Serif</option>
										<option value="monospace">Monospace</option>
									</select>
								</span>
								<span class="ql-formats">
									<select class="ql-size">
										<option value="small"></option>
										<!-- Note a missing, thus falsy value, is used to reset to default -->
										<option selected></option>
										<option value="large"></option>
										<option value="huge"></option>
									</select>
								</span>
								<span class="ql-formats">
									<button class="ql-bold" aria-label="Bold"></button>
									<button class="ql-italic" aria-label="Italic"></button>
									<button class="ql-underline" aria-label="Underline"></button>
								</span>
								<span class="ql-formats">
									<select class="ql-color"></select>
									<select class="ql-background"></select>
								</span>
								<span class="ql-formats">
									<button class="ql-list" value="ordered" aria-label="Ordered List"></button>
									<button class="ql-list" value="bullet" aria-label="Unordered List"></button>
									<select class="ql-align">
										<option selected></option>
										<option value="center"></option>
										<option value="right"></option>
										<option value="justify"></option>
									</select>
								</span>
								<span class="ql-formats">
									<button class="ql-link" aria-label="Insert Link"></button>
								</span>
							</p-header>
						</p-editor>
						<span *ngIf="rightMessage" class="eim-input-form-item-right-message" [innerHTML]="rightMessage"></span>
						<div *ngIf="!disabled" class="eim-form-input-multi-button-area">
							<button pButton type="button" severity="info" class="icon-only-button eim-form-input-multi-button" icon="fa fa-plus"
									pTooltip="{{ 'EIM.LABEL_03010' | translate }}"
									(click)="onPlusClick(i)"></button>
							<button pButton type="button" class="p-button-danger eim-form-input-multi-button icon-only-button" icon="fa fa-minus"
									pTooltip="{{ 'EIM.LABEL_03003' | translate }}"
									(click)="onMinusClick(i)"></button>
						</div>
					</div>
				</div>
			</span>
			<span *ngIf="bottomMessage" [innerHTML]="bottomMessage"></span>
		</div>
	</ng-container>

</div>
