:host ::ng-deep p-editor > .p-editor-container {
	border: none;
	padding: 0;
}

:host ::ng-deep p-editor.ng-dirty.ng-invalid > .p-editor-container {
	border: none;
}

:host ::ng-deep p-editor.ng-dirty.ng-invalid > .p-editor-container > .ql-toolbar.ql-snow {
	border-left: 1px solid #f44336;
	border-right: 1px solid #f44336;
	border-top: 1px solid #f44336;
}

:host ::ng-deep p-editor.ng-dirty.ng-invalid > .p-editor-container > .ql-container.ql-snow {
	border-left: 1px solid #f44336;
	border-right: 1px solid #f44336;
	border-bottom: 1px solid #f44336; 
}
