<p-blockUI [blocked]="eimFileDragging" [target]="boxContents" [autoZIndex]="false" [baseZIndex]="1">
	<div style="position: absolute; top: calc(50% - 4em); left: calc(50% - 15em);
			display: flex; flex-direction: column; align-items: center; justify-content: center;
			width: 30em; height: 8em; background-color: rgba(0, 0, 0, 0.5); border-radius: 8px;
			color: white;">
		<i class="fa fa-cloud-upload fa-5x"></i>
		<p style="margin: 0; font-weight: bold;">{{ 'EIM_DOCUMENTS.LABEL_02216' | translate }}</p>
	</div>
</p-blockUI>
<p-panel #boxContents (drop)="onDropFile($event)" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)"
	(dragleave)="onDragLeave($event)" [class.drag-enter]="fileDragEnterTarget">
	<ng-template #header>
			<span>{{ 'EIM_DOCUMENTS.LABEL_02217' | translate }}</span>
			<div class="login-user" *ngIf="loginUser">
				<i class="fa fa-fw eim-icon-user"></i>
				<span>{{ loginUser.name }}</span>
			</div>
			<!-- 更新ボタン -->
			<button pButton class="p-button-primary eim-refresh-button" type="button" icon="fa fa-lg eim-icon-refresh"
				pTooltip="{{ 'EIM.LABEL_03018' | translate }}" (click)="onClickReload()"></button>

			<!-- 非公開ボタン -->
			<button pButton class="p-button-primary eim-refresh-button" type="button" icon="fa fa-fw fa-close"
				pTooltip="{{ 'EIM.LABEL_03000' | translate }}" (click)="onClickClose()"></button>
    </ng-template>

	<div class="header-bar">
		<div style="height: 30px; padding-left: 5px; padding-top: 3px;">
			<!-- Boxに公開 -->
			<button pButton label="{{ 'EIM_DOCUMENTS.LABEL_03125' | translate }}" icon="fa fa-arrow-down"
				class="eim-contents-search-btn p-button-primary" (click)="onClickBoxPaste()"
				[disabled]="!enableBoxPaste"></button>
			<!-- EIMANAGERに公開 -->
			<button pButton label="{{ 'EIM_DOCUMENTS.LABEL_03132' | translate }}" icon="fa fa-arrow-up"
				class="eim-contents-search-btn p-button-primary" (click)="onClickCopyToEIM()"
				[disabled]="!enableEIMPaste"></button>
			<!-- Boxドキュメント削除 -->
			<button pButton label="{{ 'EIM_DOCUMENTS.LABEL_03135' | translate }}" icon="eim-icon-trash"
				class="eim-contents-search-btn p-button-primary" (click)="onClickBoxDelete()"
				[disabled]="!enableBoxFileDelete"></button>
			<a style="cursor: pointer; text-decoration: underline; padding-left: 10px;" (click)="onClickOpenBox()">
				<i class="fa fa-external-link" style="padding-right: 3px;"></i>{{ 'EIM_DOCUMENTS.LABEL_03122' |
				translate }}
			</a>
		</div>
		<div style="height: 20px;">
			<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
		</div>
	</div>
	<div style="height: 100%;">
		<eim-data-grid #contentsList [equals]="componentService.boxObjectEquals" [multiple]="true"
			[showAllSelectButton]="true" (changed)="onSelect($event)"></eim-data-grid>
	</div>
</p-panel>