@use 'animations' as *;

::ng-deep eim-project-member-applier {
	.eim-members {
		height: 100%;
		display: grid;
		grid-template-rows: auto 1fr;
	}
	.eim-members .eim-members-form-wrapper {
		display: grid;
		* {
			overflow: hidden;
		}
	}
	.eim-members.editable .eim-members-form-wrapper {
		grid-template-rows: 1fr;
		@include show-rows();
	}
	.eim-members:not(.editable) .eim-members-form-wrapper {
		grid-template-rows: 0fr;
		@include hide-rows();
	}
}