<!-- メンバ一覧 -->
<div class="eim-members" [ngClass]="{'editable': isMemberEditMode}">
	<!-- メンバ入力欄 -->
	<div class="eim-members-form-wrapper">
		<div>
			<form #ngForm="ngForm" autocomplete="off" novalidate style="max-width: 450px;">
				<eim-task-form #memberForm [form]="ngForm.form" (changed)="onChangedMemberForm($event)">
				</eim-task-form>
			</form>
			<eim-menubar class="eim-menubar-button" [model]="membersMenuItems"></eim-menubar>
		</div>
	</div>
	<!-- メンバ一覧 -->
	<!-- <eim-data-grid
			#memberDataGrid
			(changed)="onChangedDataGrid($event)"
			(rowDoubleClicked)="onRowDoubleClicked($event)">
	</eim-data-grid> -->
	<eim-data-grid
			#memberDataGrid
			(selected)="onSelectedMemberDataGrid($event)">
	</eim-data-grid>
</div>

